@import "variables";
@import "mixins";

@keyframes active {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hero {
	position: relative;
	z-index: -1;
	background-color: #000;
	height: $hero-height;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	@media screen and (max-width: 767px) {
		height: 720px;
	}
	@media (min-width: 768px) and (max-width: 1259px) {
		height: 450px;
	}
	@media (min-width: 1260px) and (max-width: 1919px) {
		height: 600px;
	}

	&:before {
		content: '';
		z-index: 1;
		position: absolute;
		height: $header-height;
		width: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0.4;

	}

	&-img1 {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		//opacity: 0.8;
		@media screen and (max-width: 767px) {
			left: -190px;
			top: -200px;
			transform: scale(0.5);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			left: -210px;
			top: -220px;
			transform: scale(0.6);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(0.65);
			left: -90px;
			top: -140px;
		}

	}

	&-img2 {
		position: absolute;
		z-index: 0;
		right: 0;
		bottom: 0;
		//opacity: 0.8;

		@media screen and (max-width: 767px) {
			right: -400px;
			bottom: -155px;
			transform: scale(0.6);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			right: -330px;
			bottom: -275px;
			transform: scale(0.6);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(0.65);
			right: -175px;
			bottom: -65px;
		}
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		&-title {
			z-index: 1;
			text-align: center;
			font-family: $Ivar;
			font-weight: bold;
			font-size: 64px;
			line-height: 110%;
			color: #fff;

			//@media screen and (max-width: 768px) {
			//	font-size: 44px;
			//}
		}
	}

	@media screen and (max-width: 767px) {
		.hero__text {
			//padding: 0 20px;

			&-title {
				font-size: 44px;
				line-height: 130%;
				padding-bottom: 70px;
			}
		}
		&-img1 {
			//left: 0;
			//transform: scale(0.5)
		}

		.header-duplicate {

			text-align: center;

			&__text {

				@include button;
				@include header-button;

				align-self: center;
				//margin-right: 10px;
				margin-bottom: 15px;
				color: #fff;
				text-decoration: none;
				//background-color: #000;
				border: 1px solid #FFFFFF;
				background-image: linear-gradient(to left, #4F4F4F 50%, #000 50%);
				cursor: pointer;

				//&:hover {
				//	//@include nav-item__hover;
				//	background-position-x: -98%;
				//}
			}

			&__button {
				@include button;
				@include header-button;
				background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
				font-size: 14px;


				&:hover {
					background-position-x: -98%;
				}
			}
		}

	}
	@media (min-width: 768px) and (max-width: 1259px) {
		&__text {

			&-title {
				font-size: 44px;
				line-height: 130%;

			}
		}
	}
	@media (min-width: 1260px) and (max-width: 1919px) {
		&__text {

			&-title {
				font-size: 56px;

			}
		}
	}

	@media (min-width: 768px) {
		.header-duplicate {
			display: none;
		}
	}

}

.video {
	margin: -92px auto 0 auto;

	&-content {

		&__info {

			padding-top: 170px;
			@media screen and (max-width: 767px) {
				padding-top: 30px;
			}
			@media (min-width: 768px) and (max-width: 1259px) {
				padding-top: 32px;
			}
			@media (min-width: 1260px) and (max-width: 1919px) {
				padding-top: 147px;
			}

			&-text {
				position: relative;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 32px;
				line-height: 130%;

				color: #0C0C0C;

				&:before {
					content: '“';
					position: absolute;
					left: -63px;
					top: 21px;
					font-weight: 500;
					font-size: 104px;
					line-height: 56px;
				}

			}

			&__sign {
				@include small-light-font;
				text-align: left;

			}
		}

		&__img {
			position: relative;
			width: 100%;
			overflow: hidden;

			&:hover .video-content__img-button {
				background-color: #0470BE;
			}

			&:hover .video-content__img-item {
				transform: scale(1.1);
			}

			&-button {
				position: absolute;
				z-index: 1;
				width: 92px;
				height: 92px;
				background-color: #023F79;
				background-image: url(../images/3.svg);
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
				transition: ease .4s;
			}

			&-item {
				z-index: 1;
				width: 100%;
				height: 100%;
				transition: .4s;
				cursor: pointer;
			}
		}

		.popup {
			display: none;
			z-index: 5;
			width: 100%;
			height: 2000px;
			background-color: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			transition: ease .4s;

			&-content {
				position: relative;
				margin: 40px auto 0 auto;
				width: 70vw;
				height: 40vw;
				border-radius: 10px;

				.video__file {
					border-radius: 10px;
				}
			}

			&-close {
				position: absolute;
				top: 0;
				right: -50px;
				font-size: 3em;
				background-color: transparent;
				color: darkgrey;
				cursor: pointer;
				border: none;
			}
		}
	}


	@media screen and (max-width: 767px) {
		margin: -64px auto 0 auto;
		&-content {

			&__info {


				padding-left: 60px;

				&-text {
					font-family: $Larsseit;
					font-weight: 500;
					font-size: 20px;
					line-height: 130%;

					&:before {
						top: 15px;
					}
				}

				&-sign {
					@include small-bold-font;
					font-weight: 300;
					text-transform: none;

				}
			}

			&__img {

				&-button {
					position: absolute;
					z-index: 1;
					width: 64px;
					height: 64px;
					background-color: #023F79;
					background-image: url(../images/3.svg);
					background-size: 15px;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: ease .4s;
				}

				&-item {
					z-index: 1;
					width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;
				}
			}
		}
		.popup {
			&-content {
				width: 70vw;
				height: 65vw;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1260px) {
		margin: -80px auto 0 auto;
		&-content {

			&__info {

				//padding-top: 32px;


				&-text {
					font-family: $Larsseit;
					font-weight: 500;
					font-size: 24px;
					line-height: 150%;

					&:before {
						top: 23px;
					}
				}

				&-sign {
					@include small-bold-font;
					font-weight: 300;
					text-transform: none;

				}
			}

			&__img {

				&-button {
					position: absolute;
					z-index: 1;
					width: 80px;
					height: 80px;
					background-color: #023F79;
					background-image: url(../images/3.svg);
					background-size: 20px;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: ease .4s;
				}

				&-item {
					z-index: 1;
					width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;
				}
			}
		}
		.block-first {
			order: 2;
		}
	}


	@media (min-width: 1260px) and (max-width: 1919px) {

		&-content {

			&__info {
				//padding-top: 147px;

				&-text {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 150%;


					color: #0C0C0C;

					&:before {
						content: '“';
						position: absolute;
						left: -63px;
						top: 23px;
						font-weight: 500;
						font-size: 96px;
						line-height: 56px;
					}

				}

				&__sign {


				}
			}

			&__img {
				position: relative;
				width: 100%;
				overflow: hidden;
				padding-right: 37px;


				&-button {
				}

				&-item {
					z-index: 1;
					width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;

				}
			}


		}
	}

	@media (max-width: 991px) {

		//.video__info {
		//	padding-top: 50px;
		//}
	}

}

.scope {
	z-index: 1;
	position: relative;
	margin-bottom: 80px;
	overflow: hidden;

	&__line {
		width: 180px;
		border-top: 1px solid #000;
		margin: 88px auto 54px auto;
	}

	&__title {
		margin: 0 -40px;
		font-family: $Ivar;
		font-style: normal;
		font-weight: normal;
		font-size: 56px;
		line-height: 120%;


		text-align: center;

		color: #0C0C0C;
		margin-bottom: 38px;
	}

	&__desc {
		display: flex;
		align-items: start;
		justify-content: space-around;
		padding-left: 10px;
		margin-bottom: 90px;
		//margin-left: -32px;
		&-logo {
			padding-top: 12px;
			//margin-top: -40px;
			/* margin-right: 42px; */
			//padding: 0 42px;
			//margin-left: -63px;
		}

		&-text {
			//padding-top: 2px;
			//margin-left: 40px;
			font-size: 20px;
			line-height: 150%;
		}
	}

	.demo {
		height: 100%;
		display: flex;
		flex-direction: column;
		//justify-content: space-between;
		align-items: center;
		padding-bottom: 50px;
		margin: 0 -15px;

		&__items {
			margin: 0 -13px;

			.slick-list {
				padding: 0 !important;

				.slick-track {
					transform: none !important;
					width: 100% !important;

					.demo__item {
						padding: 10px 50px;
						//margin: 10px 0;
						margin-bottom: 10px;
						width: 355px !important;
						outline: none;
						cursor: pointer;

						&:last-child(1) {
							margin-top: -10px;
						}

						.demo-show {
							display: block !important;

						}
					}

					.demo-active {
						background-color: #f2f2f2;
						padding: 20px 40px;
						margin-top: -10px;
						margin-left: 10px;

						.demo-show {
							display: block !important;

						}

						.demo__btn {
							background-color: #f2f2f2;

							&:before {
								content: '';
								z-index: 1;
								position: absolute;
								//top: 50%;
								//left: -20px;
								top: 35%;
								left: -25px;
								background: url(../images/minus.svg) no-repeat;
								width: 14px;
								height: 2px;
								cursor: pointer;
							}
						}


					}

					.demo__btn {
						position: relative;
						padding-bottom: 5px;
						font-weight: 500;
						font-size: 20px;
						line-height: 130%;
						border: none;
						cursor: pointer;
						background-color: #fff;

						&:focus {
							border: none;
							outline: none;
						}

						&:before {
							content: '';
							z-index: 1;
							position: absolute;
							//top: 20%;
							//left: -20px;
							top: 15%;
							left: -24px;
							background: url(../images/plus.svg) no-repeat;
							width: 14px;
							height: 14px;
							cursor: pointer;
						}
					}


					.slick-current {
						width: 100%;
					}

					.slick-center {
						width: 100%;
					}
				}
			}
		}


		&__content {
			display: none;
			//position: absolute;
			//min-width: 330px;
			overflow: auto;
			z-index: 1;

			&-text {
				//@include small-light-font;
				margin-bottom: 0;
			}

			.duplicate-img {
				width: 100%;
			}

			@media (min-width: 768px) {
				.duplicate-img {
					display: none;
				}
			}
		}

		.demo-images {
			.slick-list {
				overflow: hidden;

				.slick-track {

					.demo-img {
						width: 100%;
						margin: 0 -15px;
						outline: none;
						//height: 100%;
					}
				}

			}

		}

		&__but {
			margin-top: 70px;
		}

		&__button {
			@include button();
			@include link-style;
			margin-bottom: 21px;

			width: 226px;
			height: 52px;
			line-height: 52px;
		}

	}

	@media screen and (max-width: 767px) {
		margin-bottom: 6px;
		&__items {
			margin-right: 0;
		}
		&__line {
			width: 158px;
			margin: 57px auto 40px auto;
		}

		&__title {
			margin: 0;
			padding-bottom: 18px;
			font-weight: normal;
			font-size: 32px;
			line-height: 120%;
			text-align: center;
		}

		&__desc {
			padding-left: 0;
			margin-bottom: 0;

			&-logo {
				transform: scale(0.55);
			}

			&-text {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;

				color: #262626;
			}
		}

		&__item {
			width: 100vw;
		}

		.demo {
			padding-top: 10px;
			margin: 0;

			&__items {


				.slick-list {


					.slick-track {


						.demo__item {
							padding: 10px 40px 0 40px;
							margin: 10px 0;
							width: 360px !important;
							outline: none;
							cursor: pointer;

							.demo-show {
								display: block !important;

							}

						}

						.demo-active {
							background-color: #f2f2f2;
							padding: 14px 10px 23px 10px;

							.demo-show {
								display: block !important;

							}

							.demo__content {
								&-text {
									padding-left: 32px;
									padding-bottom: 20px;
								}

							}

							.demo__btn {
								background-color: #f2f2f2;
								padding-left: 32px;

								&:before {
									content: '';
									z-index: 1;
									position: absolute;
									top: 50%;
									margin-top: -1px;
									left: 5px;
									background: url(../images/minus.svg) no-repeat;
									width: 14px;
									height: 2px;
									cursor: pointer;
								}
							}


						}

						.demo__btn {
							position: relative;
							padding-bottom: 5px;
							font-weight: 500;
							font-size: 20px;
							line-height: 130%;
							border: none;
							cursor: pointer;
							background-color: #fff;

							&:focus {
								border: none;
								outline: none;
							}

							&:before {
								content: '';
								z-index: 1;
								position: absolute;
								top: 20%;
								left: -24px;
								background: url(../images/plus.svg) no-repeat;
								width: 14px;
								height: 14px;
								cursor: pointer;
							}
						}


					}
				}
			}

			&__button {
				@include button();
				@include link-style;
				margin-bottom: 21px;

				width: 328px;
				height: 40px;
				line-height: 40px;
				border-radius: 100px;
			}

			&__but {
				margin-top: 25px;
			}
		}

		.demo-images {
			display: none;

		}


	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 44px;
			line-height: 120%;
		}
		&__desc {
			padding-left: 0;
			margin-bottom: 0;

			&-logo {
				transform: scale(0.7);
			}

			&-text {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;

				color: #262626;
			}
		}

		.demo {
			padding-top: 50px;
			margin: 0;

			&__items {


				.slick-list {


					.slick-track {


						.demo__item {
							padding: 10px 40px 0 40px;
							margin: 10px 0;
							width: 296px !important;
							outline: none;
							cursor: pointer;

							.demo-show {
								display: block !important;

							}

						}
						.demo-active {
							background-color: #f2f2f2;
							padding: 14px 10px 10px 10px;
							min-height: 119px;
							.demo-show {
								display: block !important;

							}

							.demo__content {
								&-text {
									padding-left: 32px;
									padding-bottom: 20px;
								}

							}

							.demo__btn {
								background-color: #f2f2f2;
								padding-left: 32px;

								&:before {
									content: '';
									z-index: 1;
									position: absolute;
									top: 50%;
									margin-top: -1px;
									left: 5px;
									background: url(../images/minus.svg) no-repeat;
									width: 14px;
									height: 2px;
									cursor: pointer;
								}
							}


						}
					}
				}
			}

			&-images{
				padding-top: 50px;
			}
		}
	}

	@media (min-width: 1260px) and (max-width: 1919px) {
		margin-bottom: 20px;
		&__line {

		}

		&__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 44px;
			line-height: 120%;


			text-align: center;


		}

		&__desc {
			margin-bottom: 50px;

			&-logo {
				margin-left: 35px;
			}

			&-text {

			}
		}


		.demo {

			padding-top: 65px;

			&__items {

				.slick-list {


					.slick-track {


						.demo__item {

							.demo-show {


							}
						}

						.demo-active {


							.demo-show {


							}

							.demo__btn {


								&:before {
									content: '';
									z-index: 1;
									position: absolute;
									top: 50%;
									left: -20px;
									background: url(../images/minus.svg) no-repeat;
									width: 14px;
									height: 2px;
									cursor: pointer;
								}
							}


						}

						.demo__btn {
							position: relative;
							padding-bottom: 5px;
							font-weight: 500;
							font-size: 20px;
							line-height: 130%;
							border: none;
							cursor: pointer;
							background-color: #fff;

							&:focus {
								border: none;
								outline: none;
							}

							&:before {
								content: '';
								z-index: 1;
								position: absolute;
								top: 25%;
								left: -20px;
								background: url(../images/plus.svg) no-repeat;
								width: 14px;
								height: 14px;
								cursor: pointer;
							}
						}


						.slick-current {
							width: 100%;
						}

						.slick-center {
							width: 100%;
						}
					}
				}
			}


			&__content {
				display: none;
				//position: absolute;
				//min-width: 330px;
				overflow: auto;
				z-index: 1;

				&-text {
					//@include small-light-font;
					margin-bottom: 0;
				}

				.duplicate-img {
					width: 100%;
				}

				@media (min-width: 768px) {
					.duplicate-img {
						display: none;
					}
				}
			}

			.demo-images {
				.slick-list {
					overflow: hidden;

					.slick-track {

						.demo-img {
							width: 100%;
							margin: 0 -15px;
							outline: none;
							//height: 100%;
						}
					}

				}

			}

			&__but {
				margin-top: 70px;
			}

			&__button {
				@include button();
				@include link-style;
				margin-bottom: 21px;

				width: 226px;
				height: 52px;
				line-height: 52px;
			}

		}

	}
}

.numbers {

	text-align: center;
	margin: 0 auto 165px auto;
	//padding: 50px 0;
	&-center {
		border-right: 1px solid #000;
		border-left: 1px solid #000;
		//background-color: #0D5DAB;

	}

	&__title {
		@include title-small();
		margin-bottom: 67px;

	}

	&__items {
		@include regular-font();
		display: flex;
		justify-content: center;
	}

	&__item {
		width: 100%;

		&:nth-child(2) {
			border-right: 2px solid grey;
			border-left: 2px solid grey;
			background-color: #0D5DAB;
		}

		&-num {
			margin-bottom: 6px;
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 72px;
			line-height: 120%;
			/* or 86px */

			text-align: center;
			font-feature-settings: 'tnum' on, 'lnum' on;

			color: #0C0C0C;
		}

		&-desc {
			width: 16.6%;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 150%;
			/* or 27px */

			text-align: center;

			color: #0C0C0C;
		}

		&-tb {
			text-transform: uppercase;
			font-family: $Ivar;
			font-weight: bold;
			font-size: 32px;
			line-height: 110%;
			letter-spacing: -1px;
			font-feature-settings: 'tnum' on, 'lnum' on;
		}

		//&:last-child {
		//	border-right: none;
		//}

	}

	@media screen and (max-width: 767px) {
		margin: 0 auto -20px auto;
		&__title {
			margin-bottom: 32px;
		}
		&-center {
			border-right: none;
			border-left: none;
			margin-bottom: -20px;
		}

		&__item {
			padding: 20px 0 32px;
			margin-bottom: 20px;
			border-bottom: 1px solid #000;

			&-num {
				font-family: $Ivar;
				font-style: normal;
				font-weight: normal;
				font-size: 48px;
				line-height: 120%;
				text-align: center;

				color: #0C0C0C;
			}

			&-desc {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;
				/* or 27px */

				text-align: center;

				color: #0C0C0C;
			}

			&:last-child {
				border-bottom: none;
			}

			&-tb {
				text-transform: uppercase;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 110%;

				text-align: center;
				letter-spacing: -1px;

				color: #0C0C0C;

			}
		}


	}
	@media (min-width: 768px) and (max-width: 1259px) {
		margin: 0 auto -20px auto;
		&__title {
			margin-bottom: 32px;
		}
		&-center {
			border-right: none;
			border-left: none;
			margin-bottom: -20px;
		}

		&__item {
			padding: 20px 0 32px;
			margin-bottom: 20px;
			border-bottom: 1px solid #000;

			&-num {
				font-family: $Ivar;
				font-style: normal;
				font-weight: normal;
				font-size: 48px;
				line-height: 120%;
				text-align: center;

				color: #0C0C0C;
			}

			&-desc {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;
				/* or 27px */

				text-align: center;

				color: #0C0C0C;
			}

			&:last-child {
				border-bottom: none;
			}

			&-tb {
				text-transform: uppercase;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 110%;

				text-align: center;
				letter-spacing: -1px;

				color: #0C0C0C;

			}
		}


	}

	@media (min-width: 1260px) and (max-width: 1919px) {
		margin: 0 auto 130px auto;
		&__item {


			&-num {
				font-family: $Ivar;
				font-style: normal;
				font-weight: normal;
				font-size: 66px;
				line-height: 120%;

			}

			&-desc {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 150%;
			}

		}
	}
}

.services {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 50px auto;
	//padding-bottom: 56px;
	background-color: #f2f2f2;
	overflow: hidden;

	&-block {
		position: relative;
		display: flex;
		justify-content: space-around;
		width: 100%;

		&__title {
			//padding-top: 117px;
			margin: -45px -50px 0 -50px;
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 56px;
			line-height: 120%;

			text-align: center;

			color: #0C0C0C;

		}

		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			//width: 600px;

		}
	}


	.left-part {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.row-table {

	}

	&__table {

		display: flex;
		justify-content: center;


		flex-wrap: wrap;
		width: 478px;
		height: 132px;
		margin: 30px 0;
		//margin: 0 auto;

		&-svg {
			//position: absolute;
			//left: 20px;
			fill: none;
			//margin-right: 17px;
			flex-shrink: 0;
		}

		&-desc {
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;
			/* or 100% */

			letter-spacing: 1px;
			text-transform: uppercase;

			color: #0C0C0C;
			margin-left: 20px;
			margin-bottom: 0;

		}


		.services__table-item {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			//position: relative;
			width: 100%;
			height: 100%;
			padding: 0 20px;
			//padding-top: 18px;
			//padding-left: 20px;
			//padding-right: 10px;
			font-weight: bold;
			font-size: 14px;
			line-height: 14px;
			letter-spacing: 1px;
			text-transform: uppercase;


			//&:before {
			//  content: '';
			//  position: absolute;
			//  background-image: url("/../images/settings.svg");
			//  background-repeat: no-repeat;
			//  top: 20px;
			//  left: 10px;
			//  width: 30px;
			//  height: 30px;
			//  background-size: 30px 30px;
			//}
		}

		&:nth-child(1), &:nth-child(2) {
			border-bottom: 1px solid #E0E0E0;
		}

		&:nth-child(2n+1) {
			border-right: 1px solid #E0E0E0;
		}
	}

	.table-col {
		padding: 0;
	}


	&-block__img {
		width: 100%;
		height: 100%;

		.services__img-item {

			//width: 100%;
			//height: 100%;
		}

		@media (min-width: 1260px) {
			//justify-self: right;
			//position: absolute;
			//right: 0;
			//bottom: -33vh;
			&-item {
				width: 100%;
				//height: 650px;
			}
		}

		//background-image: url("/../images/bird.jpg");
	}

	&-footer {
		text-align: center;

		&__desc {
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 150%;
			/* or 27px */

			text-align: center;

			color: #0C0C0C;
			padding: 20px;

			margin: 0px -70px;
		}

		&__button {
			@include button();
			@include link-style;
			@include header-text;
			background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
			border-radius: 30px;
			line-height: 52px;
			text-align: center;
			width: 256px;
			height: 52px;
			color: #fff;
			text-decoration: none;
			list-style: none;
			cursor: pointer;
		}
	}
	.duplicate-title{
		display: none;
	}
	.duplicate-img {
		display: none;
	}
	.duplicate-footer{
		display: none;
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 0;
		&-block {
			&__title {
				padding: 48px 0 32px;
				font-family: $Ivar;
				font-style: normal;
				font-weight: normal;
				font-size: 32px;
				line-height: 120%;

				text-align: center;

				color: #0C0C0C;
			}
		}
		.services__table {
			min-height: 230px;
			width: 100%;
			margin-bottom: 4px;

			&-item {
				margin-top: -6px;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;

			}

			&-svg {
				margin-bottom: 10px;
				flex-shrink: 0;
			}

			&-desc {
				margin-left: 0;

				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 100%;

				text-align: center;
				letter-spacing: 1px;
				text-transform: uppercase;

				color: #0C0C0C;
			}
		}
		&-footer {
			padding-bottom: 45px;

			&__desc {
				margin: 0;
				padding-bottom: 34px;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;

				text-align: center;

				color: #0C0C0C;
			}

			&__button {
				max-width: 327px;
				width: 90vw;
				height: 40px;
				line-height: 40px;
			}
		}
		&-block__img {
			display: none;

			.services__img-item {

				width: 100%;
				height: 100%;
			}
		}
		.duplicate-img {
			display: block;
			margin-left: -16px;
			margin-right: -16px;
			overflow: hidden;

			&__item {
				width: 100%;
				margin: -25px 0;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {

		margin-bottom: 0;

		&-block {
			&__title {
				display: none;
				padding: 48px 0 32px;
				font-family: $Ivar;
				font-style: normal;
				font-weight: normal;
				font-size: 44px;
				line-height: 120%;

				text-align: center;

				color: #0C0C0C;
			}
		}

		.services__table {
			min-height: 230px;
			width: 190px;
			margin: 0;
			border: none;
			&-item {
				margin-top: -6px;
				align-items: flex-start
			}

			&-svg {
				margin-bottom: 10px;
				flex-shrink: 0;
			}

			&-desc {
				margin-left: 20px;
				text-align: left;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 14px;


				letter-spacing: 1px;
				text-transform: uppercase;

				color: #0C0C0C;
			}

			.table-col {
				border: none;
			}
		}

		&-footer {
			display: none;
			padding-bottom: 45px;

			&__desc {
				margin: 0;
				padding-bottom: 34px;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 150%;
				text-align: center;

				color: #0C0C0C;
			}

			&__button {
				max-width: 327px;
				width: 90vw;
				height: 40px;
				line-height: 40px;
			}
		}

		&-block__img {
			//display: none;
			.services__img-item {

				width: 100%;
				height: 100%;
			}
		}
		.duplicate-title {
			display: block;
			padding: 48px 0 32px;
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 44px;
			line-height: 120%;

			text-align: center;

			color: #0C0C0C;

		}
		.duplicate-footer {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-top: 20px;
			padding-bottom: 45px;

			&__desc {
				margin: 0;
				padding-bottom: 34px;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 150%;
				text-align: center;

				color: #0C0C0C;
			}

			&__button {
				@include button();
				@include link-style;
				@include header-text;
				background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
				border-radius: 30px;
				line-height: 52px;
				text-align: center;
				width: 256px;
				height: 52px;
				color: #fff;
				text-decoration: none;
				list-style: none;
				cursor: pointer;
			}
		}
		.duplicate-img {
			display: none;

		}
	}

	@media (min-width: 1260px) and (max-width: 1919px) {
		min-height: 642px;
		&-block {

			&__title {
				margin: 0px -50px;

				font-family: $Ivar;
				font-style: normal;
				font-weight: normal;
				font-size: 44px;
				line-height: 120%;
			}

			&__info {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;
				//width: 600px;

			}
		}


		&-block__img {
			width: 100%;
			height: 100%;

			.services__img-item {

				width: 100%;
				//height: 100%;
			}
		}

		&-footer {
			text-align: center;

			&__desc {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 150%;
				text-align: center;

				color: #0C0C0C;
				padding: 20px;
				margin: 0;
				//margin: 0px -70px;
			}

			&__button {

			}
		}

	}

}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 15px;
	margin-bottom: 2rem;
	overflow: hidden;

	.wrapper__title {
		font-family: $Ivar;
		font-style: normal;
		font-weight: normal;
		font-size: 56px;
		line-height: 120%;

		text-align: center;

		color: #0C0C0C;
		padding-bottom: 30px;
	}

	.wrapper__links {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;

		&-item {
			@include button;
			@include small-bold-font();
			min-width: 190px;
			//width: 190px !important;
			height: 48px;
			padding: 10px;
			margin: 10px;
			border-radius: 1px;
			color: #000;
			border: none;
			background-image: -webkit-linear-gradient(right, #0054a6 50%, transparent 50%);
			background-image: linear-gradient(to left, #0054a6 50%, transparent 50%);
			//font-size: 1vw;
			&:hover {
				color: #fff;
			}

			//&:before{
			//  content: "";
			//  position: absolute;
			//  z-index: -1;
			//  background-color: #0054a6;
			//  bottom: 6px;
			//  width: 8px;
			//  height: 8px;
			//  transform: rotate(45deg);
			//
			//}
		}

		.slick-track {
			width: 100%;
			transform: none !important;

			.slick-current {
				position: relative;
				color: #fff;
				background-color: #0054a6;
				background-image: -webkit-linear-gradient(right, #0054a6 50%, transparent 50%);
				background-image: linear-gradient(to left, #0054a6 50%, transparent 50%);

				&:before {
					content: "";
					position: absolute;
					z-index: 1;
					background-color: #0054a6;
					bottom: -7px;
					left: 88px;
					width: 16px;
					height: 16px;
					transform: rotate(45deg);
					animation: active ease-out 250ms running;

				}

			}
		}
	}

	//.active {
	//	position: relative;
	//	color: #fff;
	//	background-color: #0054a6;
	//	background-image: -webkit-linear-gradient(right, #0054a6 50%, transparent 50%);
	//	background-image: linear-gradient(to left, #0054a6 50%, transparent 50%);
	//
	//	&:before {
	//		content: "";
	//		position: absolute;
	//		z-index: 1;
	//		background-color: #0054a6;
	//		bottom: -4px;
	//		width: 8px;
	//		height: 8px;
	//		transform: rotate(45deg);
	//
	//	}
	//}

	.slider {
		position: relative;
		width: 100%;
		cursor: pointer;
		//overflow: hidden;
		.slick-list {
			overflow: hidden;

			.slick-track {
				width: 100%;
				display: flex;
				align-items: flex-start;

				.slider__item {
					z-index: 2;
					color: #fff;
					opacity: .9;
					display: flex;
					flex-direction: column;

					//align-items: center;
					justify-content: center;
					padding: 20px 20px 20px;
					margin: 30px;
					transition: ease .5s;
					width: 570px !important;
					//padding-left: 30px;
					&:focus {
						outline: none;
					}

					&-slide {
						position: relative;
						z-index: 1;
						height: 350px;
						padding: 25px;
						margin-bottom: 25px;
						background-color: #000;
						color: #fff;
						text-decoration: none;
					}


					&-img {
						background-color: #000;
						z-index: -1;
						position: absolute;
						left: 0;
						top: 0;
						width: 540px;
						height: 345px;

						&:after {
							content: '';
							background-blend-mode: hard-light;
							width: 100%;
							height: 100%;
							z-index: 3;
						}
					}

					&-title {
						@include small-bold-font();
						color: #fff;
						margin-bottom: 25px;
					}

					&-desc {
						@include title-style();
						font-size: 36px;
					}

					&-text {
						@include regular-font();
					}
				}

			}
		}

		&__item {
			z-index: 1;
			display: flex;
			flex-direction: column;

			//align-items: center;
			justify-content: center;
			padding: 20px 20px 0;
			//padding-left: 30px;
			&:focus {
				outline: none;
			}

			&-slide {
				position: relative;
				z-index: 1;
				height: 350px;
				padding: 25px;
				margin-bottom: 25px;
				background-color: #000;
				color: #fff;
				text-decoration: none;
				overflow: hidden;
			}

			&-img {

				z-index: -1;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				transition: .4s;

				&:hover {
					transform: scale(1.1);
				}

				&:after {
					content: '';
					background-blend-mode: hard-light;
					width: 100%;
					height: 100%;
					z-index: 3;
				}

			}

			&-title {
				@include small-bold-font();
				color: #fff;
				margin-bottom: 25px;
			}

			&-desc {
				@include title-style();
				font-size: 36px;
			}

			&-text {
				@include regular-font();
			}
		}

		.slick-current {
			box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.15);
			margin-left: 30px;
			//padding-left: 30px;
			//opacity: 0.9;
		}
	}

	.slick-slider {
		min-width: 0;

		.slick-arrow {
			z-index: 2;
			position: absolute;
			top: 35%;
			width: 53px;
			height: 54px;
			background-image: url(../images/slider-arrow-b.svg);
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			background-color: #FFFFFF;
			border-radius: 50px;
			border: none;
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
			transition: ease .4s;
			outline: none;

			&:hover {
				background-color: #023F79;
			}
		}

		.slick-prev {
			left: 0;

			&:hover {
				background-image: url(../images/slider-arrow-w.svg);

			}

		}

		.slick-next {
			right: 0;
			transform: rotate(-180deg);

			&:hover {
				background-image: url(../images/slider-arrow-w.svg);

			}
		}

		.slick-arrow[aria-label] {
			font-size: 0;
		}

		.slick-list {
			overflow: hidden;

			.slick-track {
				width: 100%;
				display: flex;
				align-items: flex-start;


				//.slider__item {
				//	z-index: 2;
				//	color: #fff;
				//	opacity: .9;
				//
				//	&-img {
				//		background-color: #000;
				//	}
				//}

				.slick-current {
					//color: #000;
					//opacity: 1;
					//background-color: #2ad2bf;
					//&:before{
					//  content: "";
					//  position: absolute;
					//  z-index: -1;
					//  background-color: #0054a6;
					//  bottom: 6px;
					//  width: 8px;
					//  height: 8px;
					//  transform: rotate(45deg);
					//}
				}
			}
		}

		.slick-dots {
			display: flex;
			justify-content: center;
			cursor: pointer;
			padding-top: 20px;

			li {
				margin-right: 16px;

				button {
					width: 8px;
					height: 8px;
					border: 1px solid #023F79;
					border-radius: 50px;
					font-size: 0;
				}
			}

			.slick-active {
				button {
					background: #023F79;
				}

				&:focus {
					border: none;
				}
			}
		}
	}

	@media screen and (max-width: 767px) {
		padding: 80px 0;
		.wrapper__title {
			padding-bottom: 13px;
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 32px;
			line-height: 120%;

			text-align: center;

			color: #0C0C0C;

		}
		.wrapper__links {
			margin-bottom: 9px;
		}
		.slick-slider {

			.slick-prev {
				left: -10%;
			}

			.slick-next {
				right: -10%;
			}

			.slick-list {
				overflow: hidden;
				margin-left: -8px;
				margin-right: -8px;

				.slick-track {
					width: 100%;
					display: flex;
					align-items: flex-start;

					.slider__item {
						width: 300px !important;
						//max-height: 200px;
						margin: 0 15px 0 0;
						padding: 20px 0;

					}


					.slick-current {

					}
				}
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		padding: 80px 0;
		.wrapper__title {
			padding-bottom: 22px;
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 44px;
			line-height: 120%;

			text-align: center;

			color: #0C0C0C;

		}
		.wrapper__links {
			margin-bottom: 18px;
		}
		.slick-slider {

			.slick-prev {
				left: -10%;
			}

			.slick-next {
				right: -10%;
			}

			.slick-list {
				overflow: hidden;
				margin-left: -8px;
				margin-right: -8px;

				.slick-track {
					width: 100%;
					display: flex;
					align-items: flex-start;

					.slider__item {
						width: 300px !important;
						//max-height: 200px;
						margin: 0 15px 0 0;
						padding: 20px 0;

					}


					.slick-current {

					}
				}
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		.wrapper__links {
			//display: none;
		}

		.slick-slider {

			.slick-prev {
				left: -5%;
			}

			.slick-next {
				right: -5%;
			}
		}
	}

	@media (min-width: 1260px) and (max-width: 1919px) {
		.wrapper__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 44px;
			line-height: 120%;
			padding-bottom: 38px;
		}
		.wrapper__links {
			margin-bottom: 0;
		}

	}
}

.partners {

	margin-bottom: 7.5rem;
	min-height: 115px;

	&-content {
		text-align: center;

		&__title {
			@include title-small();
			padding-bottom: 45px;
		}

		&__list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			&-img {
				filter: grayscale(100%);
				padding: 15px;
			}
		}
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 4.2rem;
		&-content {
			text-align: center;

			&__title {
				padding-bottom: 34px;
			}

		}
	}
	@media (min-width: 768px) and (max-width: 1259px) {
		margin-bottom: 4.2rem;
		&-content {
			text-align: center;

			&__title {
				padding-bottom: 37px;
			}
			&__list{
				&-img{
					padding: 10px;
				}
			}
		}
	}
}

.pharm {
	width: 100%;
	min-height: 451px;
	background-color: #F2F2F2;
	margin-bottom: 90px;
	display: flex;
	flex-direction: column;
	align-items: center;
	//justify-content: center;

	&__title {
		font-family: $Larsseit;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;

		letter-spacing: 1px;
		text-transform: uppercase;

		color: #0C0C0C;
		margin-top: 80px;
		margin-bottom: 25px;
	}

	&__info {
		position: relative;

		&:before {
			content: '“';
			position: absolute;
			left: -65px;
			top: 20px;

			font-weight: 500;
			font-size: 96px;
			line-height: 56px;
		}

		&-text {
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 32px;
			line-height: 130%;
			text-align: left;

			color: #0C0C0C;
			margin-bottom: 25px;
		}

		&-sign {
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
			/* or 24px */


			/* text / black */

			color: #262626;
			text-align: left;
		}
	}

	@media screen and (max-width: 767px) {
		min-height: 100%;
		margin-bottom: 30px;
		text-align: center;
		padding-bottom: 44px;
		&__title {
			margin-top: 64px;
			margin-bottom: 28px;
			text-align: left;
		}

		&__info {
			&-text {
				margin-bottom: 17px;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
			}

			&-sign {
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 150%;
				text-align: left;
			}

			&:before {
				content: '“';
				position: absolute;
				left: -57px;
				top: 12px;
				font-weight: 500;
				font-size: 96px;
				line-height: 56px;
			}
		}
	}
	@media (min-width: 768px) and (max-width: 1259px) {
		min-height: 420px;
		//margin-bottom: 30px;
		//text-align: center;
		&__title {
			margin-top: 80px;
			margin-bottom: 28px;
		}

		&__info {
			&-text {
				margin-bottom: 17px;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 150%;
			}

			&-sign {
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;
				text-align: left;
			}

			&:before {
				content: '“';
				position: absolute;
				left: -57px;
				top: 18px;
				font-weight: 500;
				font-size: 96px;
				line-height: 56px;
			}
		}
	}

}



