@import "variables";
@import "mixins";

.hero {
	position: relative;
	z-index: -1;
	background-color: #000;
	height: $hero-height;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	@media screen and (max-width: 767px) {
		height: 730px;
	}
	@media (min-width: 768px) and (max-width: 1259px) {
		height: 450px;
	}
	//margin-top: -130px;

	//&:after {
	//	content: "";
	//	position: absolute;
	//	left: 0;
	//	top: 0;
	//	z-index: 0;
	//	width: 100%;
	//	height: $hero-height;
	//	background: linear-gradient(180deg, #2FB984 0%, #0D5DAB 100%);
	//	mix-blend-mode: darken;
	//}

	&:before {
		content: '';
		z-index: 1;
		position: absolute;
		height: $header-height;
		width: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0.7;

	}

	&-img1 {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		opacity: 0.8;
		@media screen and (max-width: 767px) {
			left: -175px;
			top: -100px;
			transform: scale(0.6);
		}
		@media (min-width: 769px) and (max-width: 1260px) {
			//left: -200px;
			//top: -150px;
			transform: scale(0.7);
			//transform: scale(0.8);
			top: -30%;
			left: -20%;
		}

	}

	&-img2 {
		position: absolute;
		z-index: 0;
		right: 0;
		bottom: 0;
		opacity: 0.8;
		//opacity: 0.5;
		//mix-blend-mode: normal;
		@media screen and (max-width: 767px) {
			right: -400px;
			bottom: -155px;
			transform: scale(0.6);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			right: -35%;
			bottom: -40%;
			transform: scale(0.6);
			//bottom: -65px;
		}
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		&-title {
			z-index: 1;
			text-align: center;
			font-family: $Ivar;
			font-weight: bold;
			font-size: 56px;
			line-height: 110%;
			color: #fff;

			//@media screen and (max-width: 768px) {
			//	font-size: 44px;
			//}
		}
	}

	@media screen and (max-width: 767px) {
		.hero__text {
			padding: 0 20px;

			&-title {
				font-size: 44px;
				line-height: 130%;
				padding-bottom: 70px;
			}
		}
		&-img1 {
			//left: 0;
			//transform: scale(0.5)
		}

		.header-duplicate {

			text-align: center;

			&__text {

				@include button;
				@include header-button;

				align-self: center;
				//margin-right: 10px;
				margin-bottom: 15px;
				color: #fff;
				text-decoration: none;
				//background-color: #000;
				border: 1px solid #FFFFFF;
				background-image: linear-gradient(to left, #4F4F4F 50%, #000 50%);
				cursor: pointer;

				//&:hover {
				//	//@include nav-item__hover;
				//	background-position-x: -98%;
				//}
			}

			&__button {
				@include button;
				@include header-button;
				background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
				font-size: 14px;


				&:hover {
					background-position-x: -98%;
				}
			}
		}

	}

	@media (min-width: 768px) {
		.header-duplicate {
			display: none;
		}
	}

}

.video {
	margin: -92px auto 0 auto;

	&-content {


		&__info {
			position: relative;
			padding-top: 147px;
			//display: flex;
			//flex-direction: column;
			//align-items: center;
			//margin-left: -28px;
			&-text {
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 150%;
				padding-bottom: 17px;

				&:before {
					content: '“';
					position: absolute;
					left: -63px;
					top: 168px;
					font-weight: 500;
					font-size: 96px;
					line-height: 56px;
				}
			}

			&__sign {
				@include small-light-font;
				text-align: left;

			}
		}


		//&__button {
		//	@include button();
		//	border-radius: 50px;
		//}

		&__img {
			position: relative;
			width: 100%;
			//height: 100%;

			&-button {
				position: absolute;
				z-index: 1;
				width: 92px;
				height: 92px;
				background-color: #023F79;
				background-image: url(../images/3.svg);
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
				transition: ease .4s;

				&:hover {
					background-color: #0470BE;
				}
			}


			&-item {
				z-index: 1;
				width: 100%;
				height: 100%;
			}
		}

		.popup {
			display: none;
			z-index: 5;
			width: 100%;
			height: 2000px;
			background-color: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			transition: ease .4s;
			//&:hover{
			//	background-color: rgba(0, 0, 0, 0.5);
			//}

			&-content {
				position: relative;
				margin: 40px auto 0 auto;
				width: 70vw;
				height: 40vw;
				//padding: 10px;
				//background-color: #c5c5c5;
				border-radius: 10px;
				//box-shadow: 0 0 10px #000;
				//&:hover{
				//	background-color: rgba(0, 0, 0, 0.8);
				//}
				.video__file {
					border-radius: 10px;
				}
			}

			&-close {
				position: absolute;
				top: 0;
				right: -50px;
				font-size: 3em;
				//height: 10px;
				background-color: transparent;
				color: darkgrey;
				cursor: pointer;
				border: none;
			}
		}
	}


	@media screen and (max-width: 767px) {
		&-content {

			&__info {

				padding-top: 48px;
				font-family: $Larsseit;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;

				&-text {
					line-height: 130%;

					&:before {
						top: 64px;
					}
				}

				&-sign {
					@include small-bold-font;
					font-weight: 300;
					text-transform: none;

				}
			}
		}
		.popup {
			&-content {
				width: 70vw;
				height: 65vw;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1260px) {

	}

	@media (max-width: 992px) {
		.block-first {
			order: 2;
		}
		.video__info {
			padding-top: 50px;
		}
	}

}

.scope {
	z-index: 1;
	position: relative;
	margin-bottom: 80px;
	overflow: hidden;

	&__line {
		width: 180px;
		border-top: 1px solid #000;
		margin: 89px auto 55px auto;
	}

	&__title {
		@include title-style();
		margin-bottom: 42px;
	}

	&__desc {
		display: flex;
		align-items: start;
		justify-content: space-around;
		padding-left: 10px;
		margin-bottom: 70px;

		&-logo {
			padding-top: 12px;
			//margin-top: -40px;
			/* margin-right: 42px; */
			//padding: 0 42px;
		}

		&-text {
			padding-top: 2px;
			//margin-left: 40px;
			font-size: 20px;
			line-height: 150%;
		}
	}

	.demo {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 50px;
		margin: 0 -15px;

		&__items {
			margin-bottom: 20px;
			margin-right: -30px;
			//width: 100%;
			.slick-list {
				padding: 0 !important;

				.slick-track {
					transform: none !important;
					width: 100% !important;

					.demo__item {
						padding: 10px 40px;
						width: 100% !important;
						outline: none;
						cursor: pointer;
						//background-color: #f2f2f2;
						.demo-show {
							display: block !important;

						}
					}

					.demo-active {
						background-color: #f2f2f2;
						//padding: 10px 40px;
						//width: 100%;
						//.demo-plus {
						//	background-color: #f2f2f2;
						//
						//	&:before {
						//		content: '';
						//		z-index: 1;
						//		position: absolute;
						//		top: 50%;
						//		left: -20px;
						//		background: url("/../images/minus.svg") no-repeat;
						//		//transform: rotate(90deg);
						//		width: 14px;
						//		height: 2px;
						//		cursor: pointer;
						//	}
						//}

						.demo-show {
							display: block !important;

						}

						.demo__btn {
							background-color: #f2f2f2;

							&:before {
								content: '';
								z-index: 1;
								position: absolute;
								top: 50%;
								left: -20px;
								background: url(../images/minus.svg) no-repeat;
								width: 14px;
								height: 2px;
								cursor: pointer;
							}
						}


					}

					.demo__btn {
						position: relative;
						font-weight: 500;
						font-size: 20px;
						line-height: 130%;
						border: none;
						cursor: pointer;
						background-color: #fff;

						&:focus {
							border: none;
							outline: none;
						}

						&:before {
							content: '';
							z-index: 1;
							position: absolute;
							top: 25%;
							left: -20px;
							background: url(../images/plus.svg) no-repeat;
							width: 14px;
							height: 14px;
							cursor: pointer;
						}
					}


					.slick-current {
						width: 100%;
					}

					.slick-center {
						width: 100%;
					}
				}
			}
		}


		&__content {
			display: none;
			//position: absolute;
			//min-width: 330px;
			overflow: auto;
			z-index: 1;

			&__text {
				@include small-light-font;
			}

			.duplicate-img {
				width: 100%;
			}

			@media (min-width: 768px) {
				.duplicate-img {
					display: none;
				}
			}
		}

		.demo-images {
			.slick-list {
				overflow: hidden;

				.slick-track {

					.demo-img {
						width: 100%;
						margin: 0 -15px;
						outline: none;
						//height: 100%;
					}
				}

			}

		}


		&__button {
			@include button();
			@include link-style;
			margin-bottom: 21px;

			width: 226px;
			height: 52px;
			line-height: 52px;
		}

	}

	@media screen and (max-width: 767px) {

		&__items {
			margin-right: 0;
		}
		&__line {

		}

		&__title {
			font-weight: normal;
			font-size: 32px;
			line-height: 120%;
			text-align: center;
		}

		&__desc {
			padding-left: 0;
			margin-bottom: 20px;

			&-logo {

			}

			&-text {

			}
		}

		&__item {
			width: 100vw;
		}

		.demo {
			padding-top: 0;
			margin: 0;

			&__button {
				@include button();
				@include link-style;
				margin-bottom: 21px;

				width: 328px;
				height: 40px;
				line-height: 40px;
				border-radius: 100px;
			}
		}
		.demo-images {
			display: none;

		}

	}

	@media (min-width: 767px) and (max-width: 1259px) {
		.demo {
			margin: 0 0 0 -15px;

			&-img {

			}
		}
	}
}

.numbers {
	//width: 1200px;
	text-align: center;
	margin: 0 auto 165px auto;
	//padding: 50px 0;
	&-center {
		border-right: 1px solid #000;
		border-left: 1px solid #000;
		//background-color: #0D5DAB;

	}

	&__title {
		@include title-small();
		margin: 40px 0;

	}

	&__items {
		@include regular-font();
		display: flex;
		justify-content: center;
	}

	&__item {
		//display: flex;
		//flex-direction: column;
		//justify-content: flex-start;

		//padding: 5px 25px;

		//height: 150px;
		//width: 33%;
		//border-right: 2px solid grey;
		&:nth-child(2) {
			border-right: 2px solid grey;
			border-left: 2px solid grey;
			background-color: #0D5DAB;
		}

		&-num {
			font-family: $Ivar;
			font-weight: normal;
			font-size: 66px;
			line-height: 120%;
		}

		&__desc {
			@include regular-font();
		}

		&-tb {
			text-transform: uppercase;
			font-family: $Ivar;
			font-weight: bold;
			font-size: 32px;
			line-height: 110%;
			letter-spacing: -1px;
			font-feature-settings: 'tnum' on, 'lnum' on;
		}

		//&:last-child {
		//	border-right: none;
		//}

	}

	@media screen and (max-width: 767px) {
		.numbers {
			margin: 0 auto 80px auto;
			&-center {
				border-right: none;
				border-left: none;
				//box-shadow: 0 0 0 1px #000;
				//border-top: 1px solid #000;
				//border-bottom: 1px solid #000;
				//background-color: #0D5DAB;

			}

			&__item {
				padding: 20px 0 32px;
				border-bottom: 1px solid #000;


				&:last-child {
					border-bottom: none;
				}
			}

		}

	}
}

.services {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 50px auto;
	//padding-bottom: 56px;
	background-color: #f2f2f2;
	overflow: hidden;

	&-block {
		position: relative;
		display: flex;
		justify-content: space-around;
		width: 100%;
		//width: 50%;
		//
		&__title {
			@include title-style();
			padding: 30px 0;

		}

		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			//width: 600px;

		}
	}

	//.services-container {
	//	max-width: 100%;
	//	padding: 0;
	//}


	&__table {

		display: flex;
		justify-content: center;


		flex-wrap: wrap;
		width: 100%;
		height: 30%;
		padding: 30px 0;
		margin: 0 auto;

		&-svg {
			//position: absolute;
			//left: 20px;
			fill: none;
			//margin-right: 17px;
			flex-shrink: 0;
		}

		&-desc {
			@include small-bold-font;
			margin-left: 45px;

		}

		.table-col {
			padding: 0;

			.services__table-item {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				//position: relative;
				width: 100%;
				height: 100%;
				padding: 0 20px;
				//padding-top: 18px;
				//padding-left: 20px;
				//padding-right: 10px;
				font-weight: bold;
				font-size: 14px;
				line-height: 14px;
				letter-spacing: 1px;
				text-transform: uppercase;


				//&:before {
				//  content: '';
				//  position: absolute;
				//  background-image: url("/../images/settings.svg");
				//  background-repeat: no-repeat;
				//  top: 20px;
				//  left: 10px;
				//  width: 30px;
				//  height: 30px;
				//  background-size: 30px 30px;
				//}
			}

			&:nth-child(1), &:nth-child(2) {

				border-bottom: 1px solid #E0E0E0;
			}

			&:nth-child(2n+1) {
				border-right: 1px solid #E0E0E0;
			}
		}


	}


	&-block__img {
		width: 100%;
		height: 100%;
		.services__img-item{

			//width: 100%;
			//height: 100%;
		}
		@media (min-width: 1260px) {
			//justify-self: right;
			//position: absolute;
			//right: 0;
			//bottom: -33vh;
			&-item {
				width: 100%;
				//height: 650px;
			}
		}

		//background-image: url("/../images/bird.jpg");
	}

	&-footer {
		text-align: center;

		&__desc {
			@include regular-font();
			padding: 20px;
			text-align: center;
			margin-bottom: 40px;
		}

		&__button {
			@include button();
			@include link-style;
			@include header-text;
			background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
			border-radius: 30px;
			line-height: 52px;
			text-align: center;
			width: 256px;
			height: 52px;
			color: #fff;
			text-decoration: none;
			list-style: none;
			cursor: pointer;
		}
	}


	//@media screen and (max-width: 360px) {
	//	.services__table {
	//		&-item {
	//
	//		}
	//
	//	}
	//	.block-first {
	//		order: 2;
	//	}
	//}

	@media screen and (max-width: 767px) {
		&-block {
			&__title {
				padding: 48px 0 32px;
			}
		}
		.services__table {
			height: 285px;

			&-item {
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				//text-align: center;
				//height: 50%;

			}
			&-svg{
				margin-bottom: 10px;
				flex-shrink: 0;
			}

			&-desc {
				margin-left: 0;
				text-align: center;
			}
		}
		&-footer{
			padding-bottom: 15px;
		}
		&-block__img {
			//width: 100%;
			//height: 100%;
			.services__img-item {

				width: 100%;
				height: 100%;
			}
		}
		//.block-first {
		//	order: 2;
		//}
		//.title-order{
		//	order: -1;
		//}
		//.img-order{
		//	order: -1;
		//}
	}

	@media (min-width: 767px) and (max-width: 1200px) {
		.services__table {
			height: 35%;
			//flex-direction: column;
			//width: 100%;
			//height: 100%;


			&-item {
				padding-bottom: 20px;
				align-items: center;

			}

			&-desc {
				@include small-bold-font;
			}

			.table-col {
				border: none;
			}
		}

		//.services__block-img{
		//	position: absolute;
		//}

		.services-footer {
			text-align: center;
		}

	}

}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 15px;
	margin-bottom: 2rem;
	overflow: hidden;

	.wrapper__title {
		@include title-style();
		padding-bottom: 20px;
	}

	.wrapper__links {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;

		&-item {
			@include button;
			@include small-bold-font();
			min-width: 190px;
			//width: 190px !important;
			height: 52px;
			padding: 10px;
			margin: 10px;
			border-radius: 1px;
			color: #000;
			border: none;
			background-image: -webkit-linear-gradient(right, #0054a6 50%, transparent 50%);
			background-image: linear-gradient(to left, #0054a6 50%, transparent 50%);
			//font-size: 1vw;
			&:hover {
				color: #fff;
			}

			//&:before{
			//  content: "";
			//  position: absolute;
			//  z-index: -1;
			//  background-color: #0054a6;
			//  bottom: 6px;
			//  width: 8px;
			//  height: 8px;
			//  transform: rotate(45deg);
			//
			//}
		}

		.slick-track {
			width: 100%;
			transform: none !important;

			.slick-current {
				position: relative;
				color: #fff;
				background-color: #0054a6;
				background-image: -webkit-linear-gradient(right, #0054a6 50%, transparent 50%);
				background-image: linear-gradient(to left, #0054a6 50%, transparent 50%);

				&:before {
					content: "";
					position: absolute;
					z-index: 1;
					background-color: #0054a6;
					bottom: -4px;
					left: 88px;
					width: 8px;
					height: 8px;
					transform: rotate(45deg);

				}

			}
		}
	}

	//.active {
	//	position: relative;
	//	color: #fff;
	//	background-color: #0054a6;
	//	background-image: -webkit-linear-gradient(right, #0054a6 50%, transparent 50%);
	//	background-image: linear-gradient(to left, #0054a6 50%, transparent 50%);
	//
	//	&:before {
	//		content: "";
	//		position: absolute;
	//		z-index: 1;
	//		background-color: #0054a6;
	//		bottom: -4px;
	//		width: 8px;
	//		height: 8px;
	//		transform: rotate(45deg);
	//
	//	}
	//}

	.slider {
		position: relative;
		width: 100%;
		cursor: pointer;
		//overflow: hidden;
		.slick-list {
			overflow: hidden;

			.slick-track {
				width: 100%;
				display: flex;
				align-items: flex-start;

				.slider__item {
					z-index: 2;
					color: #fff;
					opacity: .9;
					display: flex;
					flex-direction: column;

					//align-items: center;
					justify-content: center;
					padding: 20px 20px 20px;
					margin: 30px;
					transition: ease .5s;
					//padding-left: 30px;
					&:focus {
						outline: none;
					}

					&-slide {
						position: relative;
						z-index: 1;
						height: 350px;
						padding: 25px;
						margin-bottom: 25px;
						background-color: #000;
						color: #fff;
						text-decoration: none;
					}


					&-img {
						background-color: #000;
						z-index: -1;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;

						&:after {
							content: '';
							background-blend-mode: hard-light;
							width: 100%;
							height: 100%;
							z-index: 3;
						}

					}

					&-title {
						@include small-bold-font();
						color: #fff;
						margin-bottom: 25px;
					}

					&-desc {
						@include title-style();
						font-size: 36px;
					}

					&-text {
						@include regular-font();
					}
				}

			}
		}

		&__item {
			z-index: 1;
			display: flex;
			flex-direction: column;

			//align-items: center;
			justify-content: center;
			padding: 20px 20px 0;
			//padding-left: 30px;
			&:focus {
				outline: none;
			}

			&-slide {
				position: relative;
				z-index: 1;
				height: 350px;
				padding: 25px;
				margin-bottom: 25px;
				background-color: #000;
				color: #fff;
				text-decoration: none;
				overflow: hidden;
			}

			&-img {

				z-index: -1;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				transition: .4s;

				&:hover {
					transform: scale(1.1);
				}

				&:after {
					content: '';
					background-blend-mode: hard-light;
					width: 100%;
					height: 100%;
					z-index: 3;
				}

			}

			&-title {
				@include small-bold-font();
				color: #fff;
				margin-bottom: 25px;
			}

			&-desc {
				@include title-style();
				font-size: 36px;
			}

			&-text {
				@include regular-font();
			}
		}

		.slick-current {
			box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.15);
			margin-left: 30px;
			//padding-left: 30px;
			//opacity: 0.9;
		}
	}

	.slick-slider {
		min-width: 0;

		.slick-arrow {
			z-index: 2;
			position: absolute;
			top: 35%;
			width: 53px;
			height: 54px;
			background-image: url(../images/slider-arrow-b.svg);
			background-position: center;
			background-repeat: no-repeat;
			cursor: pointer;
			background-color: #FFFFFF;
			border-radius: 50px;
			border: none;
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
			transition: ease .4s;
			outline: none;
			&:hover {
				background-color: #023F79;
			}
		}

		.slick-prev {
			left: -5%;

			&:hover {
				background-image: url(../images/slider-arrow-w.svg);

			}

		}

		.slick-next {
			right: -5%;
			transform: rotate(-180deg);

			&:hover {
				background-image: url(../images/slider-arrow-w.svg);

			}
		}

		.slick-arrow[aria-label] {
			font-size: 0;
		}

		.slick-list {
			overflow: hidden;

			.slick-track {
				width: 100%;
				display: flex;
				align-items: flex-start;


				//.slider__item {
				//	z-index: 2;
				//	color: #fff;
				//	opacity: .9;
				//
				//	&-img {
				//		background-color: #000;
				//	}
				//}

				.slick-current {
					//color: #000;
					//opacity: 1;
					//background-color: #2ad2bf;
					//&:before{
					//  content: "";
					//  position: absolute;
					//  z-index: -1;
					//  background-color: #0054a6;
					//  bottom: 6px;
					//  width: 8px;
					//  height: 8px;
					//  transform: rotate(45deg);
					//}
				}
			}
		}

		.slick-dots {
			display: flex;
			justify-content: center;
			cursor: pointer;
			padding-top: 20px;

			li {
				margin-right: 16px;

				button {
					width: 8px;
					height: 8px;
					border: 1px solid #023F79;
					border-radius: 50px;
					font-size: 0;
				}
			}

			.slick-active {
				button {
					background: #023F79;
				}

				&:focus {
					border: none;
				}
			}
		}
	}

	@media screen and (max-width: 767px) {
		.wrapper__links {
			display: none;
		}
		.slick-slider {

			.slick-prev {
				left: -10%;
			}

			.slick-next {
				right: -10%;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		.wrapper__links {
			display: none;
		}

		.slick-slider {

			.slick-prev {
				left: -5%;
			}

			.slick-next {
				right: -5%;
			}
		}
	}
}

.partners {

	margin-bottom: 5.5rem;

	&-content {
		text-align: center;

		&__title {
			@include title-small();
			padding-bottom: 57px;
		}

		&__list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			&-img {
				filter: grayscale(100%);
				padding: 13px;
				//background-repeat: no-repeat;
			}
		}
	}
}

.pharm {
	width: 100%;
	padding: 90px 0;
	background-color: #F2F2F2;
	margin-bottom: 94px;


	&__title {
		@include title-small();
		margin-bottom: 25px;
	}

	&__info {
		position: relative;

		&:before {
			content: '“';
			position: absolute;
			left: -65px;
			top: 20px;

			font-weight: 500;
			font-size: 96px;
			line-height: 56px;
		}

		&-text {
			font-size: 24px;
			line-height: 150%;
			font-weight: 300;
			padding-bottom: 25px;
		}

		&-sign {
			@include small-light-font;
			text-align: left;
		}
	}

	@media screen and (max-width: 767px) {

		&__info {
			&-text {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
			}

			&-sign {
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 150%;
				text-align: left;
			}
		}
	}

}

.news {
	margin-bottom: 8em;

	&__title {
		display: flex;
		justify-content: space-between;
		padding-bottom: 40px;

		&-name {
			@include title-small();
		}
	}

	.col__item {
		padding: 20px 20px 20px;
		//margin: 10px;
		&:hover {
			//margin: 10px;
			box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.15);

			//opacity: .9;
		}
	}

	&__item {
		color: #0C0C0C;


		&:hover {
			text-decoration: none;
			color: #0C0C0C;

		}

		&:hover .news__item-img {
			transform: scale(1.1);
		}

		&-scale {
			overflow: hidden;
		}

		&-img {
			width: 100%;
			margin-bottom: 20px;
			transition: ease .4s;

		}

		&-tag {
			@include small-bold-font();
			color: #828282;
			padding-bottom: 20px;
		}

		&-title {
			padding-bottom: 8px;
			font-weight: 500;
			font-size: 24px;
			line-height: 31px;
		}

		&-content, &-data {
			@include small-light-font;
			padding-bottom: 10px;
		}

	}

}

