@import "variables";
@import "mixins";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul {
	margin-bottom: 0 !important;
}

li {
	@include link-style;
}

@keyframes scroll {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-150%, 0);
	}
}

@keyframes lineActive {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes line {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

.page {
	position: relative;
	font-size: 100%;
	font-family: $Larsseit;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.page-hidden {
	overflow: hidden;
}

.header-mod {
	@include header-text;
	position: fixed;
	z-index: 3;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 72px;
	margin-top: 0;
	color: #4F4F4F;
	background-color: rgba(255, 255, 255, .95);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	animation: active ease-out .2s running;

	//&:before {
	//	content: '';
	//	position: fixed;
	//	height: 50px;
	//	z-index: -1;
	//	width: 100%;
	//
	//	background-color: rgba(255, 255, 255, .95);
	//}


	.top-line {
		align-items: center;
		height: 72px;

		@media screen and (max-width: 1259px) {
			.checkbox {
				display: none;
			}
			.line {
				display: none;
			}
		}

		&-flex {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}


		&__logo {
			display: block;
			text-indent: -999px;
			overflow: hidden;
			background: url(../images/GSlogo-blue.svg) no-repeat;
			background-size: contain;
			width: 166px;
			height: 24px;
		}

		&__nav {
			position: relative;
			display: flex;
			justify-content: space-between;
			@media screen and (max-width: 1259px) {
				//display: none;
			}

			.nav__list {
				display: flex;

				.nav__item {
					@include link-style;
					@include transition;
					@include header-text;
					display: flex;
					//justify-content: space-between;
					padding: 0 13px;

					&:first-child {
						margin-left: 0;
					}

					@media (min-width: 1260px) {
						align-items: center;
						height: 56px;
						&:hover {
							//@include nav-item__hover;
							//@include transition;
							transition: ease .4s;
							border-bottom: 1px solid #023F79;


						}
					}


					&-arrow {
						position: relative;
						margin-right: 9px;

						&:before {
							content: '';
							position: absolute;
							right: 0;
							top: 45%;
							width: 9px;
							height: 6px;

							transition: ease .1s;
							background: url(../images/arrow.svg) no-repeat;
						}

						@media (min-width: 1260px) {
							&:hover:before {
								transform: rotate(180deg);
							}
						}

					}


					//@media (min-width: 1260px) {
					//
					//}


					@media (min-width: 1260px) {
						&:hover .dropdown {
							visibility: visible;
							opacity: 1;
							-webkit-transform: translateY(0);
							transform: translateY(0);
							box-shadow: 0 0 8px 1px rgba(0, 0, 0, .23);
						}
					}

					.dropdown {
						@include transition;
						background-color: #fff;
						color: #333;
						width: 220px;
						padding: 15px 20px 15px 10px;
						//margin-top: 1px;
						margin: 0 -20px;
						-webkit-transform: translateY(-1em);
						transform: translateY(-1em);

						@media (min-width: 1259px) {
							position: absolute;
							top: 100%;
							opacity: 0;
							visibility: hidden;
							margin-top: 1px;
							//border-radius: 4px;
							//box-shadow: 0 0 8px 1px rgba(0, 0, 0, .23);
						}

						&__item {
							height: 32px;
							line-height: 32px;
							text-decoration: none;
							color: #023F79;


							&:hover {
								background-color: #F2F2F2;
							}

							&:hover .dropdown-main__item {
								color: #262626;
							}
						}

						&__link {
							text-decoration: none;
							color: #023F79;
							padding-left: 16px;

							&:hover {
								color: #262626;
							}
						}

						//&__item:hover {
						//	color: #2ad2bf;
						//}

						//.arrow::before {
						//	content: '';
						//	position: absolute;
						//	z-index: 0;
						//	top: -3px;
						//	width: 8px;
						//	height: 8px;
						//	transform: rotate(45deg);
						//	background: #fff;
						//}


					}

					.dropdown-main {
						width: 700px;
						height: 350px;
						display: flex;
						flex-wrap: wrap;
						flex-direction: column;
						align-items: center;
						justify-content: flex-end;
						//padding: 15px;
						padding: 30px 15px;

						&__item {
							color: #023F79;
							text-decoration: none;

							&-desc {
								color: #262626;
								font-weight: 300;
								font-size: 14px;
								line-height: 150%;

								&:hover {
									color: #262626;
								}
							}
						}

						&__item-li {

							width: 45%;
							padding: 15px 20px;
							transition: ease .4s;

							&:hover {
								background-color: #F2F2F2;
								color: #262626;
								text-decoration: none;
							}

							&:hover .dropdown-main__item {
								color: #262626;
							}
						}

						&__item-list {
							//width: 45%;

						}
					}
				}

				.arrow-gray {

					&:before {
						content: '';
						position: absolute;
						right: 0;
						top: 45%;
						width: 9px;
						height: 6px;

						transition: ease .1s;
						background: url(../images/header-arrow-gray.svg) no-repeat;
					}
				}
			}


		}

		&__links {
			display: flex;
			justify-content: center;
			height: 56px;
			line-height: 56px;

			&-text {
				@include small-light-font;
				align-self: center;
				color: #4F4F4F;
				text-decoration: none;
			}

			&-button {
				@include button;
				@include link-style;
				@include small-light-font;
				background-image: linear-gradient(to left, #023F79 50%, #0470BE 50%);
				height: 32px;
				width: 152px;
				border-radius: 30px;
				line-height: 32px;


				&:hover {
					background-position-x: -98%;
				}
			}
		}

		.menu-toggle {
			display: none;
		}


	}


	@media screen and (max-width: 767px) {
		height: $header-mod-height;
		margin-top: 0;
		box-shadow: none;


		.top-line {
			height: 56px;
			padding: 0 6px;

			&__logo {
				transform: scale(0.72);
				margin-left: -25px;
			}

			&__nav {
				position: absolute;
				left: 0;
				top: -999px;
				padding-top: 16px;
				//transform-origin: 0% 0%;
				//transform: translate(100%, 0);
				//width: 100%;
				.nav__list {
					display: flex;
					flex-direction: column;
					width: 100%;
					//background-color: #6c757d;

					.arrow-rotate:before {
						content: '';
						transform: rotate(90deg);


					}

					.nav__item {
						display: flex;
						flex-direction: column;

						margin: 0 15px;

						//height: 60px;
						line-height: 60px;
						border-top: 1px solid rgb(0, 0, 0, 0.1);
						border-bottom: none;
						color: #023F79;


						.dropdown {
							display: none;
							position: relative;
							top: 0;

						}

						.dropdown__item {
							padding: 0 15px;
						}

						.dropdown-main {
							//height: 100%;
							padding: 15px;

							&__item-li {
								width: 100%;
								padding: 0;
							}

							&__item {
								padding-left: 15px;
							}

							&__item-list {
								display: none;
							}
						}


						.dropdown-active {
							display: block;
							position: relative;
							top: 0;
							height: 100%;
							width: 100%;
						}

						//display: flex;
						//flex-direction: column;
						//overflow: hidden;
						&:last-child {
							border-bottom: 1px solid rgb(0, 0, 0, 0.1);
						}

						&-arrow {

							&:before {
								content: '';
								top: 19px;
								right: 15px;
								width: 16px;
								height: 24px;
								background-size: 100%;
								background: url(../images/arrow-gray.svg) no-repeat;

							}
						}


						//&:hover .dropdown {
						//	visibility: visible;
						//	opacity: 1;
						//	-webkit-transform: translateY(0);
						//	transform: translateY(0);
						//}
					}
				}
			}

			&__links {
				display: none;
				//position: absolute;
				//top: 33px;
				//right: -15px;
				//flex-direction: column;
				//overflow: hidden;

				&-text {
					@include header-button;
					color: #4F4F4F;

				}

				&-button {
					width: 90vw;
					max-width: 328px;
					height: 40px;
					line-height: 40px;
				}

			}

			.toggle-active-footer {
				position: fixed;
				height: 20vh;
				width: 100%;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: baseline;
				text-align: center;
				/* bottom: 0; */
				margin-top: 80vh;
				background-color: #fff;

				.top-line__links-text {
					@include button;
					@include header-button;
					align-self: center;
					//margin-right: 10px;
					margin-bottom: 15px;
					color: #fff !important;
					text-decoration: none;
					//background-color: #000;
					border: 1px solid #FFFFFF;
					background-image: linear-gradient(to left, #4F4F4F 50%, #000 50%);
					cursor: pointer;

				}

				.top-line__link-button {
					width: 90vw;
					max-width: 328px;
					height: 40px;
					line-height: 40px;
				}
			}

			.menu-toggle {
				z-index: 1;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				margin-right: 3px;

				-webkit-user-select: none;
				user-select: none;

				&__label {
					margin-bottom: -5px;
				}

				.checkbox {
					display: block;
					width: 32px;
					height: 32px;
					position: absolute;
					right: 3px;
					bottom: 0;
					cursor: pointer;
					opacity: 0; /* hide this */
					z-index: 2; /* and place it over the hamburger */
					-webkit-touch-callout: none;

					&:checked ~ .line {
						opacity: 1;
						transform: rotate(45deg) translate(0, 0) scale(1.02, 1);
						//background: #333333;
					}

					&:checked ~ .nav__list {
						transform: none;
					}

					&:checked ~ .line:nth-last-child(2) {
						opacity: 0;
						transform: rotate(0deg) scale(0.2, 0.2);
					}

					&:checked ~ .line:nth-last-child(3) {
						transform: rotate(-45deg) translate(-1px, 0px) scale(1.03, 1);
					}


				}

				.line {

					display: block;
					width: 22px;
					height: 2px;
					margin-bottom: 5px;
					position: relative;
					right: 0;
					background: #4F4F4F;
					border-radius: 3px;

					z-index: 1;

					transform-origin: 100% 0;

					transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
					background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
					opacity 0.55s ease;

					&:first-child {
						transform-origin: top right;
					}

					&:nth-last-child(2) {
						transform-origin: bottom right;
					}

				}

				.line-mod {
					background: #333333;
				}
			}

			.toggle-active {
				overflow-y: scroll;
				overflow-x: hidden;
				top: 53px;
				position: fixed;
				background-color: #fff;
				width: 100%;
				height: 100vh;

				//transform-origin: 0% 0%;
				//transform: translate(0,  -100% );
				transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
			}

		}


	}

	@media (min-width: 768px) and (max-width: 1259px) {
		height: 72px;
		margin-top: 0;
		transition: ease .1ms;

		.top-line {
			height: 72px;
			padding: 0 8px;

			&__logo {
				transform: scale(0.72);
				margin-left: -5px;
			}

			&__nav {
				position: absolute;
				left: 0;
				top: -999px;
				padding-top: 16px;

				.nav__list {
					display: flex;
					flex-direction: column;
					width: 100%;


					.arrow-rotate:before {
						content: '';
						transform: rotate(90deg);

					}

					.nav__item {
						display: flex;
						flex-direction: column;

						margin: 0 15px;
						line-height: 60px;
						border-top: 1px solid rgb(0, 0, 0, 0.1);
						border-bottom: none;
						color: #023F79;


						.dropdown {
							display: none;
							position: relative;
							top: 0;

							&__item {
								padding: 0 26px;
							}
						}

						.dropdown-main {
							height: 100%;
							padding: 15px;

							&__item-li {
								width: 100%;
								padding: 0;
							}

							&__item {
								padding-left: 15px;
							}

							&__item-list {
								display: none;
							}
						}

						.dropdown-active {
							display: block;
							position: relative;
							top: 0;
							height: 100%;
						}

						&:last-child {
							border-bottom: 1px solid rgb(0, 0, 0, 0.1);
						}

						&-arrow {

							&:before {
								content: '';
								top: 19px;
								right: 15px;
								width: 16px;
								height: 24px;
								background-size: 100%;
								background: url(../images/arrow-gray.svg) no-repeat;

							}
						}
					}
				}
			}

			&__links {

				//overflow: hidden;

				&-text {
					color: #4F4F4F;
				}

				&-button {
					@include button;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;

					width: 152px;
					height: 32px;
					line-height: 32px;
					border-radius: 30px;
					-webkit-transition: none;
					transition: none;
				}

			}

			.toggle-active-footer {
				position: fixed;
				height: 20vh;
				width: 100%;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				/* bottom: 0; */
				margin-top: 80vh;
				background-color: #fff;

				.top-line__links-text {
					@include button;
					align-self: center;
					width: 90vw;
					max-width: 340px;
					height: 52px;
					//margin-right: 10px;
					margin-bottom: 15px;
					color: #fff !important;
					text-decoration: none;
					//background-color: #000;
					border: 1px solid #FFFFFF;
					background-image: linear-gradient(to left, #4F4F4F 50%, #000 50%);
					cursor: pointer;
					-webkit-transition: none;
					transition: none;
				}

				.top-line__links-button {
					width: 90vw;
					max-width: 340px;
					height: 52px;
					line-height: 52px;
					float: right;
					//-webkit-transition: none;
					//transition: none;
				}
			}

			.menu-toggle {
				display: flex;
				flex-direction: column;
				//align-items: flex-end;
				//display: inline-block;
				//position: fixed;
				//top: 20px;
				//right: 15px;
				/*left: 50px;*/
				z-index: 1;
				-webkit-user-select: none;
				user-select: none;

				.checkbox {
					display: block;
					width: 32px;
					height: 32px;
					position: absolute;
					right: 10px;
					bottom: 0;
					cursor: pointer;
					opacity: 0; /* hide this */
					z-index: 2; /* and place it over the hamburger */
					-webkit-touch-callout: none;

					&:checked ~ .line {
						opacity: 1;
						transform: rotate(45deg) translate(0, 0) scale(1.02, 1);
						background: #333333;
					}

					&:checked ~ .nav__list {
						transform: none;
					}

					&:checked ~ .line:nth-last-child(2) {
						opacity: 0;
						transform: rotate(0deg) scale(0.2, 0.2);
					}

					&:checked ~ .line:nth-last-child(3) {
						transform: rotate(-45deg) translate(-1px, 0px) scale(1.03, 1);
					}


				}

				.line {

					display: block;
					width: 22px;
					height: 2px;
					margin-bottom: 6px;
					position: relative;
					right: 0;
					background: #4F4F4F;
					border-radius: 3px;

					z-index: 1;

					transform-origin: 100% 0;

					transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
					background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
					opacity 0.55s ease;

					&:first-child {
						transform-origin: top right;
					}

					&:nth-last-child(2) {
						transform-origin: bottom right;
					}

				}

				.line-mod {
					background: #333333;
				}
			}

			.toggle-active {
				overflow-y: scroll;
				overflow-x: hidden;
				top: 53px;
				position: fixed;
				background-color: #fff;
				width: 100%;
				height: 100vh;

				//transform-origin: 0% 0%;
				//transform: translate(0,  -100% );
				transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
			}


		}
	}

	@media (min-width: 1260px) and (max-width: 1919px) {
		height: 72px;
		margin-top: 0;
		.top-line {
			padding-left: 32px;
		}
	}
}

.hero {
	position: relative;
	z-index: -1;
	background-color: #000;
	height: 515px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	@media screen and (max-width: 767px) {
		height: 520px;
		padding-top: 56px;
		padding-bottom: 24px;
	}
	@media (min-width: 768px) and (max-width: 1259px) {
		height: 350px;
		padding-top: 72px;
		padding-bottom: 24px;
	}
	@media (min-width: 1260px) and (max-width: 1919px) {
		height: 515px;
		padding-top: 72px;
		padding-bottom: 32px;
	}

	&:before {
		content: '';
		z-index: 1;
		position: absolute;
		height: $header-height;
		width: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0.4;

	}

	&-img1 {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		//opacity: 0.8;
		@media screen and (max-width: 767px) {
			left: -127px;
			top: 0;
			transform: scale(0.78);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			left: -136px;
			top: -91px;
			transform: scale(.83);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(1);
			left: 0;
			top: 0;
		}

	}

	&-img2 {
		position: absolute;
		z-index: 0;
		right: 0;
		bottom: 0;
		//opacity: 0.8;

		@media screen and (max-width: 767px) {
			right: -340px;
			bottom: -10px;
			transform: scale(0.78);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			right: -197px;
			bottom: -69px;
			transform: scale(.83);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(1);
			right: 0;
			bottom: 0;
		}
	}

	&__logo {
		text-align: center;
		transform: scale(1);
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-left: -40px;

		&-title {
			z-index: 1;
			text-align: left;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 34px;
			line-height: 100%;
			color: #fff;
		}
	}

	@media screen and (max-width: 767px) {
		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			transform: scale(0.74);
			padding-bottom: 20px;
		}
		.hero__text {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 0;

			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 100%;

				text-align: center;
			}
		}
		&-img1 {
			//left: 0;
			//transform: scale(0.5)
		}

		.header-duplicate {

			text-align: center;

			&__text {

				@include button;
				@include header-button;

				align-self: center;
				//margin-right: 10px;
				margin-bottom: 15px;
				color: #fff;
				text-decoration: none;
				//background-color: #000;
				border: 1px solid #FFFFFF;
				background-image: linear-gradient(to left, #4F4F4F 50%, #000 50%);
				cursor: pointer;

				//&:hover {
				//	//@include nav-item__hover;
				//	background-position-x: -98%;
				//}
			}

			&__button {
				@include button;
				@include header-button;
				background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
				font-size: 14px;


				&:hover {
					background-position-x: -98%;
				}
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__logo {
			margin-left: -5px;
			transform: scale(0.74);
		}
		&__text {
			margin-left: 20px;

			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 100%;
				margin-bottom: 0;

			}
		}
	}

	@media (min-width: 1260px) and (max-width: 1919px) {
		&__logo {
			margin-left: -5px;
			transform: scale(1);

		}
	}

	@media (min-width: 768px) {
		.header-duplicate {
			display: none;
		}
	}

}

.navigation  {
	width: 100%;
	//padding: 90px 0;
	text-align: center;

	&__links {
		display: flex;
		//justify-content: center;
		margin-top: -32px;

		margin-bottom: 50px;
		height: 64px;
		background-color: #fff;
		&-item {
			@include button;
			display: inline-block;
			height: 64px;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 64px;

			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;

			background-color: #fff;
			color: #000;
			border-radius: 1px;

			border: none;
			background-image: -webkit-linear-gradient(right, #0054a6 50%, transparent 50%);
			background-image: linear-gradient(to left, #0054a6 50%, transparent 50%);
			//font-size: 1vw;
			&:hover {
				color: #fff;
			}

			//&:before{
			//  content: "";
			//  position: absolute;
			//  z-index: -1;
			//  background-color: #0054a6;
			//  bottom: 6px;
			//  width: 8px;
			//  height: 8px;
			//  transform: rotate(45deg);
			//
			//}
		}

	}

	.links-active{
		background-color: #0054a6;
		color: #fff;

	}

	@media screen and (max-width: 767px) {
		&__links {
			overflow: scroll;
			height: 48px;
			margin-top: -25px;
			&-item{
				height: 48px;
				line-height: 48px;
				white-space: nowrap;
			}
		}
		&__desc {
			&-text {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
			}

		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__links {
			overflow: scroll;
			height: 48px;
			margin-top: -25px;
			&-item{
				height: 48px;
				line-height: 48px;
				white-space: nowrap;
			}
		}
		&__desc {
			&-text {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
			}

		}
	}


}

.main-info {
	padding: 30px 0;
	//margin: -92px auto 0 auto;


	&__heading {
		@include title-small();
		margin-bottom: 16px;
		text-align: center;
		font-family: $Ivar;
		font-style: normal;
		font-weight: bold;
		font-size: 44px;
		line-height: 130%;
		text-transform: none;
		letter-spacing: .1px;
	}

	&__body {
		padding-bottom: 16px;
		text-align: center;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 150%;

	}

	&__button {

		display: flex;


		padding: 5px;
		border: 1px solid #023F79;
		border-radius: 40px;
		width: 250px;
		height: 56px;
		line-height: 56px;
		cursor: pointer;
		//text-align: center;
		margin: 0 auto;
		margin-bottom: 50px;

		&-icon {
			display: inline-block;
			width: 44px;
			height: 44px;
			border-radius: 50px;
			background-color: #0470BE;
			background-image: url(../images/triangle.svg);
			background-repeat: no-repeat;
			background-position: center;

		}

		&-link {
			align-self: center;
			margin: 0 auto;
			padding-right: 30px;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 130%;
			/* identical to box height, or 21px */

			text-align: center;

			/* GS darkblue */

			color: #023F79;

			&:hover {
				@include link-style();
			}
		}

	}

	.popup {
		display: none;
		z-index: 5;
		width: 100%;
		height: 2000px;
		background-color: rgba(0, 0, 0, 0.8);
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		transition: ease .4s;
		//&:hover{
		//	background-color: rgba(0, 0, 0, 0.5);
		//}

		&-content {
			position: relative;
			margin: 40px auto 0 auto;
			width: 70vw;
			height: 40vw;
			//padding: 10px;
			//background-color: #c5c5c5;
			border-radius: 10px;
			//box-shadow: 0 0 10px #000;
			//&:hover{
			//	background-color: rgba(0, 0, 0, 0.8);
			//}
			.video__file {
				border-radius: 10px;
			}
		}

		&-close {
			position: absolute;
			top: 0;
			right: -50px;
			font-size: 3em;
			//height: 10px;
			background-color: transparent;
			color: darkgrey;
			cursor: pointer;
			border: none;
		}
	}


	@media screen and (max-width: 767px) {
		padding-top: 0;
		&__heading {
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 120%;

			text-align: center;

			color: #0C0C0C;
			text-transform: none;
		}
		&__body {
			padding-bottom: 16px;
			text-align: center;
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 150%;

			color: #0C0C0C;

		}

		&__button {

			display: flex;


			padding: 5px;
			border: 1px solid #023F79;
			border-radius: 40px;
			width: 188px;
			height: 46px;
			line-height: 56px;
			cursor: pointer;
			//text-align: center;
			margin: 0 auto;
			margin-bottom: 50px;

			&-icon {
				display: inline-block;
				width: 35px;
				height: 35px;
				border-radius: 50px;
				background-color: #0470BE;
				background-image: url(../images/triangle.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 15px;

			}

			&-link {
				align-self: center;
				margin: 0 auto;
				padding-right: 0;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 130%;
				/* identical to box height, or 21px */

				text-align: center;

				/* GS darkblue */

				color: #023F79;

				&:hover {
					@include link-style();
				}
			}

		}

		.popup {
			&-content {
				width: 70vw;
				height: 65vw;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		padding-top: 20px;
		&__heading {
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 120%;

			text-align: center;

			color: #0C0C0C;
			text-transform: none;
		}
		&__body {
			padding-bottom: 16px;
			text-align: center;
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 150%;

			color: #0C0C0C;

		}

		&__button {

			display: flex;


			padding: 5px;
			border: 1px solid #023F79;
			border-radius: 40px;
			width: 188px;
			height: 46px;
			line-height: 56px;
			cursor: pointer;
			//text-align: center;
			margin: 0 auto;
			margin-bottom: 50px;

			&-icon {
				display: inline-block;
				width: 35px;
				height: 35px;
				border-radius: 50px;
				background-color: #0470BE;
				background-image: url(../images/triangle.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 15px;

			}

			&-link {
				align-self: center;
				margin: 0 auto;
				padding-right: 0;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 130%;
				/* identical to box height, or 21px */

				text-align: center;

				/* GS darkblue */

				color: #023F79;

				&:hover {
					@include link-style();
				}
			}

		}
	}


}

.leverage {
	&__items {

	}

	&__title {
		@include title-font();
		padding-bottom: 15px;
	}

	&__content-text {
		@include text-font();

	}

	&__images {
		margin-left: -75px;
		&-item {

		}

	}

	@media screen and (max-width: 767px) {
		overflow: hidden;
		&__title {
			font-weight: normal;
			font-size: 32px;
			line-height: 120%;
		}

		&__content-text {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
		}
		&__images {
			margin-left: -110px;
			&-item {
				width: 100%;
			}

		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__images {
			margin-left: 0;
			&-item {
				width: 100%;
			}

		}
	}
}

.pre {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -84px;
	min-height: 477px;
	background-color: #333333;

	&__items {
		display: flex;
		align-items: center;
		margin-bottom: 90px;
		height: 100%;
		overflow: hidden;
	}

	&__item {

	}

	&__title {
		@include title-font();
		color: #fff;
		padding-bottom: 15px;
	}

	&__content-text {
		@include text-font();
		color: #fff;
	}
	@media screen and (max-width: 767px) {
		margin-top: -53px;
		padding-top: 130px;
		&__items {
			margin-bottom: 0;
		}
		&__title {
			font-size: 32px;
			line-height: 120%;
			padding-bottom: 15px;
		}

		&__content-text {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
		}
		&__images{
			&-item{
				transform: scale(0.75);
				margin-left: -65px;
			}
		}
		.pre-order{
			order: 1;
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		margin-top: -53px;
		&__images{
			&-item{
				transform: scale(.72);
				margin-left: -97px;
			}
		}
	}
}

.metadata {
	display: flex;
	align-items: center;
	height: 490px;
	overflow: hidden;
	&__items {
		//margin-bottom: 90px;
	}

	&__items {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__title {
		@include title-font();
		padding-bottom: 15px;
	}

	&__content-text {
		@include text-font();

	}

	&__images {
		display: flex;
		align-items: center;
		height: 100%;

		&-item {
			margin-left: -40px;
		}
	}
	@media screen and (max-width: 767px) {
		&__title {
			font-size: 32px;
			line-height: 120%;
		}

		&__content-text {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;

		}
		&__images {
			display: flex;
			align-items: center;
			height: 100%;
			margin-right: -145px;
			&-item {
				margin-left: 0;
				width: 100%;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {

	}
}

.video {

	//margin: -92px auto 0 auto;

	&-content {
		&__heading {
			@include title-small();
			//margin-bottom: 16px;
			text-align: center;
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 44px;
			line-height: 130%;
			text-transform: none;
			letter-spacing: .1px;
		}

		&__body {
			text-align: center;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 150%;

			&-footer {
				display: none;
			}
		}

		&__quote {
			position: relative;
			display: flex;
			flex-direction: column;

			height: 100%;
			padding: 8px 0;

			&-title {
				margin-bottom: 30px;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				text-transform: uppercase;
			}

			&-text {
				position: relative;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 150%;
				color: #0C0C0C;
				//padding-bottom: 17px;

				&:before {
					content: '“';
					position: absolute;
					left: -50px;
					top: 22px;
					font-weight: 500;
					font-size: 96px;
					line-height: 56px;
				}
			}

			&-sign {
				@include small-light-font;
				text-align: left;

			}
		}

		&__img {
			position: relative;
			width: 100%;
			min-width: 493px;
			//margin-left: -45px;
			overflow: hidden;

			&:hover .video-content__img-button {
				background-color: #0470BE;
			}

			&:hover .video-content__img-item {
				transform: scale(1.1);
			}

			&-button {
				position: absolute;
				z-index: 1;
				width: 92px;
				height: 92px;
				background-color: #023F79;
				background-image: url(../images/3.svg);
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
				transition: ease .4s;
			}

			&-item {
				z-index: 1;
				width: 100%;
				min-width: 493px;
				height: 100%;
				transition: .4s;
				cursor: pointer;
			}
		}

		.popup {
			display: none;
			z-index: 5;
			width: 100%;
			height: 2000px;
			background-color: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			transition: ease .4s;
			//&:hover{
			//	background-color: rgba(0, 0, 0, 0.5);
			//}

			&-content {
				position: relative;
				margin: 40px auto 0 auto;
				width: 70vw;
				height: 40vw;
				//padding: 10px;
				//background-color: #c5c5c5;
				border-radius: 10px;
				//box-shadow: 0 0 10px #000;
				//&:hover{
				//	background-color: rgba(0, 0, 0, 0.8);
				//}
				.video__file {
					border-radius: 10px;
				}
			}

			&-close {
				position: absolute;
				top: 0;
				right: -50px;
				font-size: 3em;
				//height: 10px;
				background-color: transparent;
				color: darkgrey;
				cursor: pointer;
				border: none;
			}
		}
	}

	&-container {
		padding: 92px 0;
		background-color: #F2F2F2;
	}

	@media screen and (max-width: 767px) {
		background-color: #F2F2F2;
		&-content {
			&__heading {
				margin-bottom: 22px;
				text-align: center;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				color: #0C0C0C;
				text-transform: none;
			}

			&__body {
				padding: 0 10px;
				margin-bottom: 0;
				text-align: center;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;

				&-text {
					margin-bottom: 92px;
				}

				&-footer {
					display: block;
					margin-bottom: 24px;
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;

					text-align: center;
					letter-spacing: 1px;
					text-transform: uppercase;

					color: #0C0C0C;

				}
			}

			&__img {
				min-width: 100%;

				&-button {
					position: absolute;
					z-index: 1;
					width: 64px;
					height: 64px;
					background-color: #023F79;
					background-image: url(../images/3.svg);
					background-size: 15px;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: ease .4s;
				}

				&-item {
					z-index: 1;
					width: 100%;
					min-width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;
				}
			}

			&__quote {
				padding-top: 52px;
				margin-left: -20px;
				font-family: $Larsseit;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;

				&-title {
					display: none;
				}

				&-text {
					font-weight: 500;
					font-size: 20px;
					line-height: 130%;

					&:before {
						content: '“';
						position: absolute;
						left: -54px;
						top: 19px;
						font-weight: 500;
						font-size: 96px;
						line-height: 56px;
					}
				}


				&-sign {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 150%;
				}
			}
		}

		&-container {
			padding: 33px 0;
			background-color: #F2F2F2;
		}

		.popup {
			&-content {
				width: 70vw;
				height: 65vw;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		margin-top: 14px;
		padding-bottom: 0;
		background-color: #F2F2F2;
		&-content {
			&__heading {
				margin-bottom: 16px;
				text-align: center;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				color: #0C0C0C;
				text-transform: none;
			}

			&__body {
				padding: 0;
				margin-bottom: 0;
				text-align: center;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;

				&-text {
					margin-bottom: 92px;
				}

				&-footer {
					display: block;
					margin-bottom: 24px;
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;

					text-align: center;
					letter-spacing: 1px;
					text-transform: uppercase;

					color: #0C0C0C;

				}
			}

			&__img {
				margin-bottom: 0;
				min-width: 100%;

				&-button {
					position: absolute;
					z-index: 1;
					width: 80px;
					height: 80px;
					background-color: #023F79;
					background-image: url(../images/3.svg);
					background-size: 20px;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: ease .4s;
				}

				&-item {
					z-index: 1;
					width: 100%;
					min-width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;
				}
			}

			&__quote {
				padding-top: 57px;
				margin-left: -8px;

				color: #0C0C0C;

				&-title {
					display: none;
				}

				&-text {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 150%;

					color: #0C0C0C;

					&:before {
						content: '“';
						position: absolute;
						left: -54px;
						top: 19px;
						font-weight: 500;
						font-size: 96px;
						line-height: 56px;
					}
				}


				&-sign {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 16px;
					line-height: 150%;
				}
			}
		}

		&-container {
			padding: 55px 0;
			background-color: #F2F2F2;
		}
	}

}

.convert {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
	overflow: hidden;
	&__items {
		display: flex;
		align-items: center;
		text-align: center;
		height: 100%;
		padding-bottom: 36px;

	}

	.convert__items-curation{

		.convert__title{
			text-align: left;
			margin: 0;
		}
		.convert__content-text {
			text-align: left;
		}
	}

	.convert-duplicate{
		display: none;
	}

	&__item {

	}

	&__title {
		@include title-font();
		padding-bottom: 15px;
		margin: 0 -25px;
	}

	&__content-text {
		@include text-font();

	}

	&__images {
		display: flex;
		align-items: center;
		height: 100%;

		//&-overflow{
		//	width: 100%;
		//	//overflow: scroll;
		//}

	}
	.convert__images-second{

	}

	&__images-overflow {
		overflow: scroll;
		margin-bottom: 50px;
	}
	@media screen and (max-width: 767px) {
		overflow: hidden;
		&__items {
			padding-bottom: 0;
		}
		&__title {
			font-size: 32px;
			line-height: 120%;
			text-align: left;
			margin: 0;
		}

		&__content-text {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
			text-align: left;
		}
		.convert__images-overflow {
			margin-right: -75px;
			&-item{
				width: 100%;
			}
		}
		.convert__images-second{
			width: 100%;
		}
		.convert-main{
			display: none;
		}
		.convert-duplicate{
			display: block;
			margin-bottom: 65px;
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {

	}
}

.glossary {


	&-container{
		padding: 50px 0;
		border-top: 1px solid #BDBDBD;
		border-bottom: 1px solid #BDBDBD;
	}
	&__images {

	}

	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&__item {

	}

	&__tag {
		padding-bottom: 40px;

		font-family: $Larsseit;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;

		letter-spacing: 1px;
		text-transform: uppercase;


		color: #262626;
	}

	.glossary__tag-duplicate {
		display: none;
	}

	&__title {
		font-family: $Ivar;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 130%;


		letter-spacing: -1px;

		color: #0C0C0C;

		padding-bottom: 15px;
	}

	&__content {
		&-text {
			@include text-font();
			color: #0C0C0C;
		}
	}

	@media screen and (max-width: 767px) {
		&-container{
			padding: 33px 0;
		}
		&__images {

		}

		&__items {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			overflow: hidden
		}
		.glossary__items-image {
			width: 100%;
			margin-right: 0;
			margin-bottom: 0;
		}

		&__item {

		}

		&__tag {
			padding-bottom: 33px;
			display: block;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;

			text-align: left;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #262626;
		}
		.glossary-order{
			order: 1;
		}
		.glossary__tag-duplicate {
			display: none;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;

			text-align: left;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #262626;
		}


		&__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 32px;
			line-height: 120%;

			color: #0C0C0C;

			padding-bottom: 15px;
		}

		&__content {
			&-text {
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;


				color: #0C0C0C;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&-container{
			padding: 39px 0;
		}
		&__images {

		}

		&__items {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			overflow: hidden
		}
		.glossary__items-image {
			margin-right: -35px;
			margin-bottom: -20px;
		}

		&__item {

		}

		&__tag {
			padding-bottom: 33px;
			display: none;
		}

		.glossary__tag-duplicate {
			display: block;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;

			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #262626;
		}


		&__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 120%;

			color: #0C0C0C;

			padding-bottom: 15px;
		}

		&__content {
			&-text {
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 150%;


				color: #0C0C0C;
			}
		}

	}
}

.questions {
	padding: 100px 0;
	overflow: hidden;


	&__title {
		padding-bottom: 50px;

		font-family: $Ivar;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 130%;

		text-align: center;
		letter-spacing: -1px;

		color: #0C0C0C;
	}

	&__links {

		padding-bottom: 40px;

		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		/* identical to box height, or 100% */
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;

		color: #FFFFFF;
		mix-blend-mode: normal;
		outline: none;

		&-item {
			@include button;
			//margin-right: 7px;
			background-image: -webkit-linear-gradient(to left, #023F79 50%, #F2F2F2 50%);
			background-image: linear-gradient(to left, #023F79 50%, #F2F2F2 50%);
			border-radius: 0;
			color: #000;

			white-space: nowrap;
			overflow: hidden;
			transition: .4s;
			//&:nth-last-child{
			//	margin-right: 0;
			//}
			&:hover {
				color: #fff;
			}

			@media screen and (max-width: 1260px) {
				&_desc {

					display: inline-block;
					//padding-left: 100px;
					animation: scroll linear 5s infinite running;
				}
			}

		}

		.slick-current {
			background-image: -webkit-linear-gradient(to left, #023F79 50%, #023F79 50%);
			background-image: linear-gradient(to left, #023F79 50%, #023F79 50%);
			outline: none;
			color: #fff;
		}

		.click-center {
			background-color: #023F79;
		}
	}

	&-block {
		position: relative;
		//width: 100%;
		//max-width: 1366px;
		height: 100%;

		.slick-list {
			overflow: hidden;

			.slick-track {

				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				outline: none;

				.slick-slide {
					outline: none;
				}

				.slick-current {
					width: 100%;
					//border: 2px solid green;
					overflow: hidden;


				}
			}
		}
	}

	&__list {
		padding-bottom: 40px;
		transition: .4s;


		&-title {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding: 20px 0;

			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			font-style: normal;
			font-weight: 500;
			font-size: 24px;


			color: #023F79;

		}

		&-plus {
			padding-right: 30px;

			&:before {
				content: "";
				z-index: 1;
				position: absolute;
				top: 31px;
				right: 10px;
				background: url(../images/plus.svg) no-repeat;

				width: 14px;
				height: 14px;
				cursor: pointer;
			}
		}

		&-disable {
			&:before {
				content: "";
				z-index: 1;
				position: absolute;
				top: 37px;
				right: 10px;
				background: url(../images/minus.svg) no-repeat;
				width: 14px;
				height: 2px;
				cursor: pointer;
			}

		}

		&-item {
			font-family: "Larsseit", Helvetica, Arial, sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 0.875em;
			padding: 0 15px;


		}

		//&-active {
		//	color: red;
		//}


		&-content {
			display: none;
			transition: .4s;
			opacity: 0;
		}

		&-show {
			transition: .4s;
			display: block;
			opacity: 1;
		}
	}

	&-footer {
		display: flex;
		justify-content: center;

		&-link {
			text-align: center;
		}

	}

	@media screen and (max-width: 767px) {
		&-block {

			.slick-list {


				.slick-track {
					width: 100% !important;


					.slick-slide {

					}

					.slick-current {


					}
				}
			}
		}

	}
}

