@import "variables";
@import "mixins";
@import "custom";
@import "~bootstrap/scss/bootstrap";
.hero {
	position: relative;
	z-index: -1;
	background-color: #000;
	height: 515px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	@media screen and (max-width: 767px) {
		height: 520px;
		padding-top: 56px;
		padding-bottom: 24px;
	}
	@media (min-width: 768px) and (max-width: 1259px) {
		height: 350px;
		padding-top: 72px;
		padding-bottom: 24px;
	}
	@media (min-width: 1260px) and (max-width: 1919px) {
		height: 515px;
		padding-top: 72px;
		padding-bottom: 32px;
	}

	&:before {
		content: '';
		z-index: 1;
		position: absolute;
		height: $header-height;
		width: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0.4;

	}

	&-img1 {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		//opacity: 0.8;
		@media screen and (max-width: 767px) {
			left: -127px;
			top: 0;
			transform: scale(0.78);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			left: -136px;
			top: -91px;
			transform: scale(.83);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(1);
			left: 0;
			top: 0;
		}

	}

	&-img2 {
		position: absolute;
		z-index: 0;
		right: 0;
		bottom: 0;
		//opacity: 0.8;

		@media screen and (max-width: 767px) {
			right: -340px;
			bottom: -10px;
			transform: scale(0.78);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			right: -197px;
			bottom: -69px;
			transform: scale(.83);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(1);
			right: 0;
			bottom: 0;
		}
	}

	&__logo {
		text-align: center;
		transform: scale(1);
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-left: -40px;

		&-title {
			z-index: 1;
			text-align: left;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 34px;
			line-height: 100%;
			color: #fff;
		}
	}

	@media screen and (max-width: 767px) {
		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			transform: scale(0.74);
			padding-bottom: 20px;
		}
		.hero__text {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 0;

			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 100%;

				text-align: center;
			}
		}
		&-img1 {
			//left: 0;
			//transform: scale(0.5)
		}

		.header-duplicate {

			text-align: center;

			&__text {

				@include button;
				@include header-button;

				align-self: center;
				//margin-right: 10px;
				margin-bottom: 15px;
				color: #fff;
				text-decoration: none;
				//background-color: #000;
				border: 1px solid #FFFFFF;
				background-image: linear-gradient(to left, #4F4F4F 50%, #000 50%);
				cursor: pointer;

				//&:hover {
				//	//@include nav-item__hover;
				//	background-position-x: -98%;
				//}
			}

			&__button {
				@include button;
				@include header-button;
				background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
				font-size: 14px;


				&:hover {
					background-position-x: -98%;
				}
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__logo {
			margin-left: -5px;
			transform: scale(0.74);
		}
		&__text {
			margin-left: 20px;

			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 100%;
				margin-bottom: 0;

			}
		}
	}

	@media (min-width: 1260px) and (max-width: 1919px) {
		&__logo {
			margin-left: -5px;
			transform: scale(1);

		}
	}

	@media (min-width: 768px) {
		.header-duplicate {
			display: none;
		}
	}

}

.navigation  {
	width: 100%;
	//padding: 90px 0;
	text-align: center;

	&__links {
		display: flex;
		//justify-content: center;
		margin-top: -32px;

		margin-bottom: 50px;
		height: 64px;
		background-color: #fff;
		&-item {
			@include button;
			display: inline-block;
			height: 64px;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 64px;

			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;

			background-color: #fff;
			color: #000;
			border-radius: 1px;

			border: none;
			background-image: -webkit-linear-gradient(right, #0054a6 50%, transparent 50%);
			background-image: linear-gradient(to left, #0054a6 50%, transparent 50%);
			//font-size: 1vw;
			&:hover {
				color: #fff;
			}

			//&:before{
			//  content: "";
			//  position: absolute;
			//  z-index: -1;
			//  background-color: #0054a6;
			//  bottom: 6px;
			//  width: 8px;
			//  height: 8px;
			//  transform: rotate(45deg);
			//
			//}
		}

	}

	.links-active{
		background-color: #0054a6;
		color: #fff;

	}

	@media screen and (max-width: 767px) {
		&__links {
			overflow: scroll;
			height: 48px;
			margin-top: -25px;
			&-item{
				height: 48px;
				line-height: 48px;
				white-space: nowrap;
			}
		}
		&__desc {
			&-text {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
			}

		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__links {
			overflow: scroll;
			height: 48px;
			margin-top: -25px;
			&-item{
				height: 48px;
				line-height: 48px;
				white-space: nowrap;
			}
		}
		&__desc {
			&-text {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
			}

		}
	}


}

.main-info {
	padding: 30px 0 50px;

	&__heading {
		@include title-small();
		margin-bottom: 16px;
		text-align: center;
		font-family: $Ivar;
		font-style: normal;
		font-weight: bold;
		font-size: 44px;
		line-height: 130%;
		text-transform: none;
		letter-spacing: .1px;
	}

	&__body {
		padding-bottom: 16px;
		text-align: center;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 150%;

	}

	&__button {

		display: flex;


		padding: 6px;
		border: 1px solid #023F79;
		border-radius: 40px;
		width: 252px;
		height: 58px;
		line-height: 56px;
		cursor: pointer;
		//text-align: center;
		margin: 0 auto;
		margin-bottom: 50px;

		&-icon {
			display: inline-block;
			width: 44px;
			height: 44px;
			border-radius: 50px;
			background-color: #0470BE;
			background-image: url(../images/triangle.svg);
			background-repeat: no-repeat;
			background-position: center;

		}

		&-link {
			align-self: center;
			margin: 0 auto;
			padding-right: 20px;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 130%;

			text-align: center;


			color: #023F79;

			&:hover {
				@include link-style();
			}
		}

	}

	.popup {
		display: none;
		z-index: 5;
		width: 100%;
		height: 2000px;
		background-color: rgba(0, 0, 0, 0.8);
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		transition: ease .4s;
		//&:hover{
		//	background-color: rgba(0, 0, 0, 0.5);
		//}

		&-content {
			position: relative;
			margin: 40px auto 0 auto;
			width: 70vw;
			height: 40vw;
			//padding: 10px;
			//background-color: #c5c5c5;
			border-radius: 10px;
			//box-shadow: 0 0 10px #000;
			//&:hover{
			//	background-color: rgba(0, 0, 0, 0.8);
			//}
			.video__file {
				border-radius: 10px;
			}
		}

		&-close {
			position: absolute;
			top: 0;
			right: -50px;
			font-size: 3em;
			//height: 10px;
			background-color: transparent;
			color: darkgrey;
			cursor: pointer;
			border: none;
		}
	}


	@media screen and (max-width: 767px) {
		padding-top: 0;
		&__heading {
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 120%;

			text-align: center;

			color: #0C0C0C;
			text-transform: none;
		}
		&__body {
			padding-bottom: 16px;
			text-align: center;
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 150%;

			color: #0C0C0C;

		}

		&__button {

			display: flex;


			padding: 5px;
			border: 1px solid #023F79;
			border-radius: 40px;
			width: 188px;
			height: 46px;
			line-height: 56px;
			cursor: pointer;
			//text-align: center;
			margin: 0 auto;
			margin-bottom: 50px;

			&-icon {
				display: inline-block;
				width: 35px;
				height: 35px;
				border-radius: 50px;
				background-color: #0470BE;
				background-image: url(../images/triangle.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 15px;

			}

			&-link {
				align-self: center;
				margin: 0 auto;
				padding-right: 0;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 130%;
				/* identical to box height, or 21px */

				text-align: center;

				/* GS darkblue */

				color: #023F79;

				&:hover {
					@include link-style();
				}
			}

		}

		.popup {
			&-content {
				width: 70vw;
				height: 65vw;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		padding-top: 20px;
		&__heading {
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 120%;

			text-align: center;

			color: #0C0C0C;
			text-transform: none;
		}
		&__body {
			padding-bottom: 16px;
			text-align: center;
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 150%;

			color: #0C0C0C;

		}

		&__button {

			display: flex;


			padding: 5px;
			border: 1px solid #023F79;
			border-radius: 40px;
			width: 188px;
			height: 46px;
			line-height: 56px;
			cursor: pointer;
			//text-align: center;
			margin: 0 auto;
			margin-bottom: 50px;

			&-icon {
				display: inline-block;
				width: 35px;
				height: 35px;
				border-radius: 50px;
				background-color: #0470BE;
				background-image: url(../images/triangle.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 15px;

			}

			&-link {
				align-self: center;
				margin: 0 auto;
				padding-right: 0;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 130%;
				/* identical to box height, or 21px */

				text-align: center;

				/* GS darkblue */

				color: #023F79;

				&:hover {
					@include link-style();
				}
			}

		}
	}


}

.leverage {
	&__items {

	}

	&__title {
		@include title-font();
		padding-bottom: 15px;
	}

	&__content-text {
		@include text-font();

	}

	&__images {
		margin-left: -75px;
		&-item {

		}

	}

	@media screen and (max-width: 767px) {
		overflow: hidden;
		&__title {
			font-weight: normal;
			font-size: 32px;
			line-height: 120%;
		}

		&__content-text {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
		}
		&__images {
			margin-left: -110px;
			&-item {
				width: 100%;
			}

		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__images {
			margin-left: 0;
			&-item {
				width: 100%;
			}

		}
	}
}

.pre {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -84px;
	min-height: 477px;
	background-color: #333333;

	&__items {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 90px;
		height: 100%;
		overflow: hidden;
	}

	&__item {

	}

	&__images{
		margin-left: 62px;
	}

	&__title {
		@include title-font();
		color: #fff;
		margin-top: 22px;
		margin-bottom: 14px;
	}

	&__content-text {
		@include text-font();
		color: #fff;
	}
	@media screen and (max-width: 767px) {
		margin-top: -53px;
		padding-top: 130px;
		&__items {
			margin-bottom: 0;
		}
		&__title {
			font-size: 32px;
			line-height: 120%;
			padding-bottom: 15px;
		}

		&__content-text {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
		}
		&__images{
			&-item{
				transform: scale(0.75);
				margin-left: -65px;
			}
		}
		.pre-order{
			order: 1;
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		margin-top: -53px;
		&__images{
			&-item{
				transform: scale(.72);
				margin-left: -97px;
			}
		}
	}
}

.metadata {
	display: flex;
	align-items: center;
	height: 490px;
	overflow: hidden;
	&__items {
		//margin-bottom: 90px;
	}

	&__items {
		display: flex;
		align-items: center;
		height: 100%;
	}

	&__title {
		@include title-font();
		padding-bottom: 15px;
	}

	&__content-text {
		@include text-font();

	}

	&__images {
		display: flex;
		align-items: center;
		height: 100%;

		&-item {
			margin-left: -40px;
		}
	}
	@media screen and (max-width: 767px) {
		&__title {
			font-size: 32px;
			line-height: 120%;
		}

		&__content-text {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;

		}
		&__images {
			display: flex;
			align-items: center;
			height: 100%;
			margin-right: -145px;
			&-item {
				margin-left: 0;
				width: 100%;
			}
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__images {

			&-item {
				margin-left: 0;
			}
		}
	}
}

.video {

	//margin: -92px auto 0 auto;

	&-content {
		&__heading {
			@include title-small();
			//margin-bottom: 16px;
			text-align: center;
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 44px;
			line-height: 130%;
			text-transform: none;
			letter-spacing: .1px;
		}

		&__body {
			text-align: center;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 150%;

			&-footer {
				display: none;
			}
		}

		&__quote {
			position: relative;
			display: flex;
			flex-direction: column;

			height: 100%;
			padding: 5px 0;

			&-title {
				margin-bottom: 34px;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				text-transform: uppercase;
				letter-spacing: 1px;
			}

			&-text {
				position: relative;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 150%;
				color: #0C0C0C;
				//padding-bottom: 17px;

				&:before {
					content: '“';
					position: absolute;
					left: -50px;
					top: 10px;
					font-weight: 500;
					font-size: 96px;
					line-height: 56px;
				}
			}

			&-sign {
				@include small-light-font;
				text-align: left;

			}
		}

		&__img {
			position: relative;
			width: 100%;
			min-width: 493px;
			//margin-left: -45px;
			overflow: hidden;

			&:hover .video-content__img-button {
				background-color: #0470BE;
			}

			&:hover .video-content__img-item {
				transform: scale(1.1);
			}

			&-button {
				position: absolute;
				z-index: 1;
				width: 92px;
				height: 92px;
				background-color: #023F79;
				background-image: url(../images/3.svg);
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
				transition: ease .4s;
			}

			&-item {
				z-index: 1;
				width: 100%;
				min-width: 493px;
				height: 100%;
				transition: .4s;
				cursor: pointer;
			}
		}

		.popup {
			display: none;
			z-index: 5;
			width: 100%;
			height: 2000px;
			background-color: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			transition: ease .4s;
			//&:hover{
			//	background-color: rgba(0, 0, 0, 0.5);
			//}

			&-content {
				position: relative;
				margin: 40px auto 0 auto;
				width: 70vw;
				height: 40vw;
				//padding: 10px;
				//background-color: #c5c5c5;
				border-radius: 10px;
				//box-shadow: 0 0 10px #000;
				//&:hover{
				//	background-color: rgba(0, 0, 0, 0.8);
				//}
				.video__file {
					border-radius: 10px;
				}
			}

			&-close {
				position: absolute;
				top: 0;
				right: -50px;
				font-size: 3em;
				//height: 10px;
				background-color: transparent;
				color: darkgrey;
				cursor: pointer;
				border: none;
			}
		}
	}

	&-container {
		padding: 92px 0;
		background-color: #F2F2F2;
	}

	@media screen and (max-width: 767px) {
		background-color: #F2F2F2;
		&-content {
			&__heading {
				margin-bottom: 22px;
				text-align: center;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				color: #0C0C0C;
				text-transform: none;
			}

			&__body {
				padding: 0 10px;
				margin-bottom: 0;
				text-align: center;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;

				&-text {
					margin-bottom: 92px;
				}

				&-footer {
					display: block;
					margin-bottom: 24px;
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;

					text-align: center;
					letter-spacing: 1px;
					text-transform: uppercase;

					color: #0C0C0C;

				}
			}

			&__img {
				min-width: 100%;

				&-button {
					position: absolute;
					z-index: 1;
					width: 64px;
					height: 64px;
					background-color: #023F79;
					background-image: url(../images/3.svg);
					background-size: 15px;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: ease .4s;
				}

				&-item {
					z-index: 1;
					width: 100%;
					min-width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;
				}
			}

			&__quote {
				padding-top: 52px;
				margin-left: -20px;
				font-family: $Larsseit;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;

				&-title {
					display: none;
				}

				&-text {
					font-weight: 500;
					font-size: 20px;
					line-height: 130%;

					&:before {
						content: '“';
						position: absolute;
						left: -54px;
						top: 19px;
						font-weight: 500;
						font-size: 96px;
						line-height: 56px;
					}
				}


				&-sign {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 150%;
				}
			}
		}

		&-container {
			padding: 33px 0;
			background-color: #F2F2F2;
		}

		.popup {
			&-content {
				width: 70vw;
				height: 65vw;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		margin-top: 14px;
		padding-bottom: 0;
		background-color: #F2F2F2;
		&-content {
			&__heading {
				margin-bottom: 16px;
				text-align: center;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				color: #0C0C0C;
				text-transform: none;
			}

			&__body {
				padding: 0;
				margin-bottom: 0;
				text-align: center;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;

				&-text {
					margin-bottom: 92px;
				}

				&-footer {
					display: block;
					margin-bottom: 24px;
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;

					text-align: center;
					letter-spacing: 1px;
					text-transform: uppercase;

					color: #0C0C0C;

				}
			}

			&__img {
				margin-bottom: 0;
				min-width: 100%;

				&-button {
					position: absolute;
					z-index: 1;
					width: 80px;
					height: 80px;
					background-color: #023F79;
					background-image: url(../images/3.svg);
					background-size: 20px;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: ease .4s;
				}

				&-item {
					z-index: 1;
					width: 100%;
					min-width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;
				}
			}

			&__quote {
				padding-top: 54px;
				color: #0C0C0C;

				&-title {
					display: none;
				}

				&-text {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 150%;

					color: #0C0C0C;

					&:before {
						content: '“';
						position: absolute;
						left: -54px;
						top: 19px;
						font-weight: 500;
						font-size: 96px;
						line-height: 56px;
					}
				}


				&-sign {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 16px;
					line-height: 150%;
				}
			}
		}

		&-container {
			padding: 55px 0;
			background-color: #F2F2F2;
		}
	}

}

.convert {
	display: flex;
	align-items: flex-start;

	height: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
	overflow: hidden;
	.col-line{
		height: 210px;
		border-right: 1px solid #000000;
		@media (max-width: 1259px) {
			display: none;
			
		}
	}
	&__items {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;
		height: 100%;
		padding-bottom: 32px;

	}

	.convert__items-curation{

		.convert__title{
			text-align: left;
			margin: 0;
		}
		.convert__content-text {
			text-align: left;
		}
	}

	.convert-duplicate{
		display: none;
	}

	&__item {

	}

	&__title {
		@include title-font();
		padding-bottom: 15px;
		margin: 0 -25px;
	}

	&__content-text {
		@include text-font();

	}

	&__images {
		display: flex;
		align-items: center;
		height: 100%;


	}
	.convert__images-second{
		width: 100%;
	}

	&__images-overflow {
		overflow: scroll;
		margin-bottom: 50px;
	}
	@media screen and (max-width: 767px) {
		overflow: hidden;
		&__items {
			padding-bottom: 0;
		}
		&__title {
			font-size: 32px;
			line-height: 120%;
			text-align: left;
			margin: 0;
		}

		&__content-text {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
			text-align: left;
		}
		.convert__images-overflow {
			margin-right: -75px;
			&-item{
				width: 100%;
			}
		}
		.convert__images-second{
			width: 100%;
		}
		.convert-main{
			display: none;
		}
		.convert-duplicate{
			display: block;
			margin-bottom: 65px;
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {

	}
}

.glossary {
	margin-bottom: 90px;
	&-container{
		padding: 50px 0;
		border-top: 1px solid #BDBDBD;
		border-bottom: 1px solid #BDBDBD;
	}
	.glossary__items-image {
		padding-top: 0;
	}

	&__items {
		display: flex;
		flex-direction: column;
		align-items: center;
		//justify-content: center;
		padding-top: 8px;
		height: 100%;
	}

	&__item {

	}

	&__tag {
		padding-bottom: 40px;

		font-family: $Larsseit;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;

		letter-spacing: 1px;
		text-transform: uppercase;


		color: #262626;
	}

	.glossary__tag-duplicate {
		display: none;
	}

	&__title {
		font-family: $Ivar;
		font-style: normal;
		font-weight: normal;
		font-size: 32px;
		line-height: 130%;


		letter-spacing: -1px;

		color: #0C0C0C;

		padding-bottom: 14px;
	}

	&__content {
		&-text {
			@include text-font();
			color: #0C0C0C;
		}
	}

	@media screen and (max-width: 767px) {
		&-container{
			padding: 33px 0;
		}
		&__images {

		}

		&__items {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			overflow: hidden;
			padding-top: 0;
		}
		.glossary__items-image {
			width: 100%;
			margin-right: 0;
			margin-bottom: 0;
		}

		&__item {

		}

		&__tag {
			padding-bottom: 33px;
			display: block;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;

			text-align: left;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #262626;
		}
		.glossary-order{
			order: 1;
		}
		.glossary__tag-duplicate {
			display: none;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;

			text-align: left;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #262626;
		}


		&__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 32px;
			line-height: 120%;

			color: #0C0C0C;

			padding-bottom: 15px;
		}

		&__content {
			&-text {
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;


				color: #0C0C0C;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		margin-bottom: 66px;
		&-container{
			padding: 39px 0;
		}
		&__images {

		}

		&__items {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			overflow: hidden
		}
		.glossary__items-image {
			margin-right: -35px;
			margin-bottom: -20px;
		}

		&__item {

		}

		&__tag {
			padding-bottom: 26px;
			display: none;
		}

		.glossary__tag-duplicate {
			display: block;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 14px;

			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #262626;
		}


		&__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 120%;
			letter-spacing: .1px;
			color: #0C0C0C;

			padding-bottom: 10px;
		}

		&__content {
			&-text {
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 150%;


				color: #0C0C0C;
			}
		}

	}
}

.publication {
	margin-bottom: 3.7rem;
	padding: 12px 0 10px;

	&__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 7px;

		&-name {
			@include title-small();
		}
	}

	.col__item {
		padding: 20px 10px 20px;
		//padding: 20px 8px 20px 8px;
		//margin-left: 12px;
		transition: ease .33s;
		//margin: 10px;
		&:hover {
			//margin: 10px;
			box-shadow: 0 8px 28px rgba(0, 0, 0, 0.15);

			//opacity: .9;
		}
	}

	&__item {
		color: #0C0C0C;


		&:hover {
			text-decoration: none;
			color: #0C0C0C;

		}

		&:hover .news__item-img {
			transform: scale(1.1);
		}

		&-scale {
			overflow: hidden;
			margin-bottom: 24px;
		}

		&-img {
			width: 100%;

			transition: ease .33s;

		}

		&-tag {
			@include small-bold-font();
			color: #828282;
			padding-bottom: 0;
		}

		&-title {
			padding-bottom: 0;
			margin-bottom: 10px;
			font-weight: 500;
			font-size: 24px;
			line-height: 31px;
		}

		&-content, &-data {
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;


			color: #0C0C0C;
			padding-bottom: 0;
		}

	}

	@media screen and (max-width: 767px) {
		padding: 55px 0 0;
		margin-bottom: 7rem;
		&__title {
			justify-content: center;
			margin-bottom: 27px;

			&-more {
				display: none;
			}
		}
		.col__item {
			padding: 0 8px 0;
			margin-bottom: 20px;

		}
		&__item {
			&-tag {
				margin-bottom: 10px;

			}

			&-title {
				margin-bottom: 16px;
			}
		}

	}
	@media (min-width: 768px) and (max-width: 1259px) {
		margin-bottom: 2.8rem;
		padding: 10px 0 10px;
		&__title {

			margin-bottom: 14px;

		}
		&__item {
			&-scale {
				overflow: hidden;
				margin-bottom: 30px;
			}

			&-img {
				width: 100%;

				transition: ease .33s;

			}

			&-tag {
				@include small-bold-font();
				color: #828282;
				padding-bottom: 0;
			}

			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;

				color: #333333;
			}

			&-content, &-data {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;


				color: #0C0C0C;
				padding-bottom: 0;
			}

		}

	}
	@media (min-width: 1260px) and (max-width: 1919px){
		margin-bottom: 5.1rem;
	}

}

