@import "variables";
@import "mixins";
@import "custom";
@import "~bootstrap/scss/bootstrap";
.hero {
	position: relative;
	z-index: -1;
	background-color: #000;
	height: 515px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	@media screen and (max-width: 767px) {
		height: 285px;
		padding-top: 56px;
		padding-bottom: 24px;
	}
	@media (min-width: 768px) and (max-width: 1259px) {
		height: 280px;
		padding-top: 72px;
		padding-bottom: 24px;
	}
	@media (min-width: 1260px) and (max-width: 1919px) {
		height: 330px;
		padding-top: 72px;
		padding-bottom: 32px;
	}

	&:before {
		content: '';
		z-index: 1;
		position: absolute;
		height: $header-height;
		width: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0.4;

	}

	&-img1 {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		//opacity: 0.8;
		@media screen and (max-width: 767px) {
			left: -146px;
			top: -127px;
			transform: scale(0.78);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			left: -136px;
			top: -91px;
			transform: scale(.83);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(1);
			left: 0;
			top: 0;
		}

	}

	&-img2 {
		position: absolute;
		z-index: 0;
		right: 0;
		bottom: 0;
		//opacity: 0.8;

		@media screen and (max-width: 767px) {
			right: -262px;
			bottom: -100px;
			transform: scale(0.78);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			right: -197px;
			bottom: -69px;
			transform: scale(.83);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(1);
			right: 0;
			bottom: 0;
		}
	}

	&__logo {
		text-align: center;
		transform: scale(1);
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-left: -40px;

		&-title {
			z-index: 1;
			text-align: left;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 34px;
			line-height: 100%;
			color: #fff;
		}
	}

	@media screen and (max-width: 767px) {
		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			transform: scale(0.6);
			padding-bottom: 0;
		}
		.hero__text {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 0;

			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 28px;
				line-height: 100%;

				text-align: center;
			}
		}
		&-img1 {
			//left: 0;
			//transform: scale(0.5)
		}

		.header-duplicate {

			text-align: center;

			&__text {

				@include button;
				@include header-button;

				align-self: center;
				//margin-right: 10px;
				margin-bottom: 15px;
				color: #fff;
				text-decoration: none;
				//background-color: #000;
				border: 1px solid #FFFFFF;
				background-image: linear-gradient(to left, #4F4F4F 50%, #000 50%);
				cursor: pointer;

				//&:hover {
				//	//@include nav-item__hover;
				//	background-position-x: -98%;
				//}
			}

			&__button {
				@include button;
				@include header-button;
				background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
				font-size: 14px;


				&:hover {
					background-position-x: -98%;
				}
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__logo {
			margin-left: -5px;
			transform: scale(0.74);
		}
		&__text {
			margin-left: 20px;

			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 100%;
				margin-bottom: 0;

			}
		}
	}

	@media (min-width: 1260px) and (max-width: 1919px) {
		&__logo {
			margin-left: 25px;
			transform: scale(0.83);
		}
		.hero__text {
			margin-left: -55px;
			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 28px;
				line-height: 100%;
			}
		}
	}

	@media (min-width: 768px) {
		.header-duplicate {
			display: none;
		}
	}

}

.navigation  {
	width: 100%;
	//padding: 90px 0;
	text-align: center;

	&__links {
		display: flex;
		//justify-content: center;
		margin-top: -32px;

		margin-bottom: 50px;
		height: 64px;
		background-color: #fff;
		&-item {
			@include button;
			display: inline-block;
			height: 64px;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 64px;

			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;

			background-color: #fff;
			color: #000;
			border-radius: 1px;

			border: none;
			background-image: -webkit-linear-gradient(right, #0054a6 50%, transparent 50%);
			background-image: linear-gradient(to left, #0054a6 50%, transparent 50%);
			//font-size: 1vw;
			&:hover {
				color: #fff;
			}

			//&:before{
			//  content: "";
			//  position: absolute;
			//  z-index: -1;
			//  background-color: #0054a6;
			//  bottom: 6px;
			//  width: 8px;
			//  height: 8px;
			//  transform: rotate(45deg);
			//
			//}
		}

	}

	.links-active{
		background-color: #0054a6;
		color: #fff;

	}

	@media screen and (max-width: 767px) {
		&__links {
			overflow: scroll;
			height: 48px;
			margin-top: -25px;
			&-item{
				height: 48px;
				line-height: 48px;
				white-space: nowrap;
			}
		}
		&__desc {
			&-text {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
			}

		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__links {
			overflow: scroll;
			height: 48px;
			margin-top: -25px;
			&-item{
				height: 48px;
				line-height: 48px;
				white-space: nowrap;
			}
		}
		&__desc {
			&-text {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
			}

		}
	}


}

.main-info {
	padding: 38px 0;
	//margin: -92px auto 0 auto;


	&__heading {
		@include title-small();
		margin-bottom: 16px;
		text-align: center;
		font-family: $Ivar;
		font-style: normal;
		font-weight: bold;
		font-size: 44px;
		line-height: 130%;
		text-transform: none;
		letter-spacing: .1px;
	}

	&__body {
		padding-bottom: 16px;
		text-align: center;
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 150%;

	}

	&__button {

		display: flex;


		padding: 5px;
		border: 1px solid #023F79;
		border-radius: 40px;
		width: 250px;
		height: 56px;
		line-height: 56px;
		cursor: pointer;
		//text-align: center;
		margin: 0 auto;
		margin-bottom: 50px;

		&-icon {
			display: inline-block;
			width: 44px;
			height: 44px;
			border-radius: 50px;
			background-color: #0470BE;
			background-image: url(../images/triangle.svg);
			background-repeat: no-repeat;
			background-position: center;

		}

		&-link {
			align-self: center;
			margin: 0 auto;
			padding-right: 30px;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 130%;
			/* identical to box height, or 21px */

			text-align: center;

			/* GS darkblue */

			color: #023F79;

			&:hover {
				@include link-style();
			}
		}

	}

	.popup {
		display: none;
		z-index: 5;
		width: 100%;
		height: 2000px;
		background-color: rgba(0, 0, 0, 0.8);
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		transition: ease .4s;
		//&:hover{
		//	background-color: rgba(0, 0, 0, 0.5);
		//}

		&-content {
			position: relative;
			margin: 40px auto 0 auto;
			width: 70vw;
			height: 40vw;
			//padding: 10px;
			//background-color: #c5c5c5;
			border-radius: 10px;
			//box-shadow: 0 0 10px #000;
			//&:hover{
			//	background-color: rgba(0, 0, 0, 0.8);
			//}
			.video__file {
				border-radius: 10px;
			}
		}

		&-close {
			position: absolute;
			top: 0;
			right: -50px;
			font-size: 3em;
			//height: 10px;
			background-color: transparent;
			color: darkgrey;
			cursor: pointer;
			border: none;
		}
	}


	@media screen and (max-width: 767px) {
		padding-top: 0;
		&__heading {
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 120%;

			text-align: center;

			color: #0C0C0C;
			text-transform: none;
		}
		&__body {
			padding-bottom: 16px;
			text-align: center;
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 150%;

			color: #0C0C0C;

		}

		&__button {

			display: flex;


			padding: 5px;
			border: 1px solid #023F79;
			border-radius: 40px;
			width: 188px;
			height: 46px;
			line-height: 56px;
			cursor: pointer;
			//text-align: center;
			margin: 0 auto;
			margin-bottom: 50px;

			&-icon {
				display: inline-block;
				width: 35px;
				height: 35px;
				border-radius: 50px;
				background-color: #0470BE;
				background-image: url(../images/triangle.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 15px;

			}

			&-link {
				align-self: center;
				margin: 0 auto;
				padding-right: 0;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 130%;
				/* identical to box height, or 21px */

				text-align: center;

				/* GS darkblue */

				color: #023F79;

				&:hover {
					@include link-style();
				}
			}

		}

		.popup {
			&-content {
				width: 70vw;
				height: 65vw;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		padding-top: 20px;
		&__heading {
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 120%;

			text-align: center;

			color: #0C0C0C;
			text-transform: none;
		}
		&__body {
			padding-bottom: 16px;
			text-align: center;
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 150%;

			color: #0C0C0C;

		}

		&__button {

			display: flex;


			padding: 5px;
			border: 1px solid #023F79;
			border-radius: 40px;
			width: 188px;
			height: 46px;
			line-height: 56px;
			cursor: pointer;
			//text-align: center;
			margin: 0 auto;
			margin-bottom: 50px;

			&-icon {
				display: inline-block;
				width: 35px;
				height: 35px;
				border-radius: 50px;
				background-color: #0470BE;
				background-image: url(../images/triangle.svg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 15px;

			}

			&-link {
				align-self: center;
				margin: 0 auto;
				padding-right: 0;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 130%;
				/* identical to box height, or 21px */

				text-align: center;

				/* GS darkblue */

				color: #023F79;

				&:hover {
					@include link-style();
				}
			}

		}
	}


}

.shema {
	position: relative;
	margin: 90px 0;

	//&:before {
	//	content: '';
	//	z-index: -1;
	//	position: absolute;
	//	width: 100%;
	//	height: 55%;
	//	left: 0;
	//	top: 0;
	//	background: linear-gradient(180deg, rgba(47, 172, 223, 0) 19%, #2FACDF 100%);
	//	opacity: 0.15;
	//}

	&-content {
		position: relative;
		background: url(../images/integration-shema.png) no-repeat center;

		height: 800px;
		margin-top: -108px;
		margin-bottom: 13px;
		&__circle {
			position: absolute;


			.shema-content__item {
				position: relative;
				width: 107px;
				height: 108px;


				&-text {
					position: absolute;
					//width: 107px;
					//overflow: auto;
					margin: auto;
					right: 0;

					text-align: center;
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 14px;

					letter-spacing: 1px;
					text-transform: uppercase;

					color: #2FACDF;
				}

				&-img {
					overflow: auto;
					margin: auto;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}


			}

		}

		&__circle-first {
			top: 30%;
			left: 24%;

			.shema-content__item-text {
				bottom: 120px;
				left: -50px;
			}
		}

		&__circle-second {
			top: 16%;
			left: 33%;

			.shema-content__item-text {
				bottom: 120px;
				left: 0;
			}
		}

		&__circle-third {
			top: 10%;
			left: 46%;

			.shema-content__item-text {
				bottom: 120px;
				left: 0;
			}
		}

		&__circle-fourth {
			top: 15%;
			left: 58%;

			.shema-content__item-text {
				bottom: 120px;
				left: 0;
			}
		}

		&__circle-fifth {
			top: 30%;
			left: 66%;

			.shema-content__item-text {
				bottom: 120px;
				left: 50px;
			}
		}

		&__circle-sixth {
			top: 71%;
			left: 31%;

			.shema-content__item-text {
				top: 140px;
				left: 0;
			}
		}

		&__circle-seventh {
			top: 78%;
			left: 46%;

			.shema-content__item-text {
				top: 140px;
				left: 0;
			}
		}

		&__circle-eight {
			top: 72%;
			left: 60%;

			.shema-content__item-text {
				top: 140px;
				left: 0;
			}
		}

		&__image {
			overflow: auto;
			margin: auto;
			position: absolute;
			top: 0;
			left: -25px;
			bottom: 0;
			right: 0;
		}

		&__text {
			//display: flex;
			//align-items: center;
			//justify-content: center;
			height: 100%;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 30px;

			color: #0C0C0C;

			&-left {
				position: absolute;
				left: 0;
				top: 40%;
				width: 160px;
				text-align: left;
			}

			&-center {
				position: absolute;
				left: 50%;
				top: 50%;
				margin-left: -55px;
				margin-top: -4%;
				width: 110px;
				height: 110px;

				font-family: $Ivar;
				font-style: normal;
				font-weight: normal;
				font-size: 36px;
				line-height: 120%;
				text-align: center;
				//left: 50%;
				//margin-left: -25%;
				//top: 50%;
				//margin-top: -25%;
			}

			&-right {
				position: absolute;
				right: 0;
				top: 60%;
				width: 160px;
				text-align: right;
			}
		}

	}

	@media screen and (max-width: 767px) {
		//&:before {
		//	content: '';
		//	z-index: -1;
		//	position: absolute;
		//	width: 100%;
		//	height: 62%;
		//	left: 0;
		//	top: 0;
		//	background: linear-gradient(180deg, rgba(47, 172, 223, 0) 19%, #2FACDF 100%);
		//	opacity: 0.15;
		//}
		&-content {

			position: relative;
			background: url(../images/integration-shema-mobile.png) no-repeat center;

			height: 800px;
			margin-top: -108px;
			margin-bottom: 13px;
			&__circle {
				position: absolute;


				.shema-content__item {
					position: relative;
					width: 107px;
					height: 108px;


					&-text {
						position: absolute;
						//width: 107px;
						//overflow: auto;
						margin: auto;
						right: 0;

						text-align: center;
						font-family: $Larsseit;
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 14px;

						letter-spacing: 1px;
						text-transform: uppercase;

						color: #2FACDF;
					}

					&-img {
						overflow: auto;
						margin: auto;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
					}


				}

			}

			&__circle-first {
				top: 30%;
				left: 24%;

				.shema-content__item-text {
					bottom: 120px;
					left: -50px;
				}
			}

			&__circle-second {
				top: 16%;
				left: 33%;

				.shema-content__item-text {
					bottom: 120px;
					left: 0;
				}
			}

			&__circle-third {
				top: 10%;
				left: 46%;

				.shema-content__item-text {
					bottom: 120px;
					left: 0;
				}
			}

			&__circle-fourth {
				top: 15%;
				left: 58%;

				.shema-content__item-text {
					bottom: 120px;
					left: 0;
				}
			}

			&__circle-fifth {
				top: 30%;
				left: 66%;

				.shema-content__item-text {
					bottom: 120px;
					left: 50px;
				}
			}

			&__circle-sixth {
				top: 71%;
				left: 31%;

				.shema-content__item-text {
					top: 140px;
					left: 0;
				}
			}

			&__circle-seventh {
				top: 78%;
				left: 46%;

				.shema-content__item-text {
					top: 140px;
					left: 0;
				}
			}

			&__circle-eight {
				top: 72%;
				left: 60%;

				.shema-content__item-text {
					top: 140px;
					left: 0;
				}
			}

			&__image {
				overflow: auto;
				margin: auto;
				position: absolute;
				top: 0;
				left: -25px;
				bottom: 0;
				right: 0;
			}

			&__text {
				//display: flex;
				//align-items: center;
				//justify-content: center;
				height: 100%;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 30px;

				color: #0C0C0C;

				&-left {
					position: absolute;
					left: 0;
					top: 40%;
					width: 160px;
					text-align: left;
				}

				&-center {
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: -55px;
					margin-top: -4%;
					width: 110px;
					height: 110px;

					font-family: $Ivar;
					font-style: normal;
					font-weight: normal;
					font-size: 36px;
					line-height: 120%;
					text-align: center;
					//left: 50%;
					//margin-left: -25%;
					//top: 50%;
					//margin-top: -25%;
				}

				&-right {
					position: absolute;
					right: 0;
					top: 60%;
					width: 160px;
					text-align: right;
				}
			}

		}
	}

	@media (min-width: 767px) and (max-width: 1259px) {
		&-content {

			position: relative;
			background: url(../images/integration-shema-tablet.png) no-repeat center;

			height: 800px;
			margin-top: -146px;
			margin-bottom: 0;
			&__circle {
				position: absolute;

				.shema-content__item {
					position: relative;
					width: 80px;
					height: 80px;


					&-text {
						position: absolute;
						//width: 107px;
						//overflow: auto;
						margin: auto;
						right: 0;

						text-align: center;
						font-family: $Larsseit;
						font-style: normal;
						font-weight: 500;
						font-size: 14px;
						line-height: 14px;

						letter-spacing: 1px;
						text-transform: uppercase;

						color: #2FACDF;
					}

					&-img {
						overflow: auto;
						margin: auto;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						transform: scale(.7);
					}


				}

			}

			&__circle-first {
				top: 33%;
				left: 24%;

				.shema-content__item-text {
					bottom: 120px;
					left: -50px;
				}
			}

			&__circle-second {
				top: 16%;
				left: 33%;

				.shema-content__item-text {
					bottom: 120px;
					left: 0;
				}
			}

			&__circle-third {
				top: 10%;
				left: 46%;

				.shema-content__item-text {
					bottom: 120px;
					left: 0;
				}
			}

			&__circle-fourth {
				top: 15%;
				left: 58%;

				.shema-content__item-text {
					bottom: 120px;
					left: 0;
				}
			}

			&__circle-fifth {
				top: 30%;
				left: 66%;

				.shema-content__item-text {
					bottom: 120px;
					left: 50px;
				}
			}

			&__circle-sixth {
				top: 71%;
				left: 31%;

				.shema-content__item-text {
					top: 140px;
					left: 0;
				}
			}

			&__circle-seventh {
				top: 78%;
				left: 46%;

				.shema-content__item-text {
					top: 140px;
					left: 0;
				}
			}

			&__circle-eight {
				top: 72%;
				left: 60%;

				.shema-content__item-text {
					top: 140px;
					left: 0;
				}
			}

			&__image {
				overflow: auto;
				margin: auto;
				position: absolute;
				top: 0;
				left: -25px;
				bottom: 0;
				right: 0;
			}

			&__text {
				//display: flex;
				//align-items: center;
				//justify-content: center;
				height: 100%;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 30px;

				color: #0C0C0C;

				&-left {
					position: absolute;
					left: 0;
					top: 40%;
					width: 160px;
					text-align: left;
				}

				&-center {
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: -55px;
					margin-top: -4%;
					width: 110px;
					height: 110px;

					font-family: $Ivar;
					font-style: normal;
					font-weight: normal;
					font-size: 36px;
					line-height: 120%;
					text-align: center;
					//left: 50%;
					//margin-left: -25%;
					//top: 50%;
					//margin-top: -25%;
				}

				&-right {
					position: absolute;
					right: 0;
					top: 60%;
					width: 160px;
					text-align: right;
				}
			}

		}

	}
}

.brands {
	margin-bottom: 5.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__items {
		display: flex;
		align-items: center;
		//text-align: center;
		height: 100%;
		//margin-bottom: 90px;
	}

	&__items-setup {
		margin-right: -50px;
	}

	&__item {

	}

	&__title {
		font-size: 32px;
		line-height: 120%;
		padding-bottom: 27px;
	}

	&__text {
		margin-left: 25px;
		@include text-font();

		&-list {
			&_item {
				margin-bottom: 13px;
				list-style: unset;
				cursor: initial;
				//text-decoration: initial;
				&:nth-last-child {
					margin-bottom: 0;
				}
			}


		}
	}

	&__content-text {
		@include text-font();

	}

	&__images {
		display: flex;
		align-items: center;
		height: 100%;

		//&-overflow{
		//	width: 100%;
		//	//overflow: scroll;
		//}

	}

	&__images-setup {
		margin-left: -20px;
	}

	.pre__images {
		margin-left: -40px;
		margin-bottom: 40px;
	}

	.brands-content__second {
		margin-top: -30px;
		margin-bottom: 46px;
	}


	//.pre__items {
	//	background-color: #333333;
	//	border-radius: 7px;
	//	color: #fff;
	//	padding: 20px;
	//	//margin-bottom: 90px;
	//}
	//
	//.pre__item {
	//	margin-left: 25px;
	//	padding: 0 63px;
	//	//font-family: PT Mono;
	//	font-style: normal;
	//	font-weight: normal;
	//	font-size: 14px;
	//	line-height: 25px;
	//
	//	&-text {
	//		&_title {
	//			margin-bottom: 10px;
	//		}
	//
	//		&_content {
	//			margin-bottom: 0;
	//			padding-left: 10px;
	//		}
	//
	//		&_footer {
	//			margin-top: 10px;
	//			margin-bottom: 0;
	//		}
	//
	//		&_blue {
	//			color: #6699FF;
	//
	//		}
	//
	//		&_orange {
	//			color: #F6A655;
	//
	//		}
	//	}
	//}

	&__items-code {
		margin-left: -70px;
	}

	&-content {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 43px;
		margin-bottom: 150px;
		height: 140px;

		&__title {
			padding-bottom: 57px;
		}

		&__list {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			&-img {
				filter: grayscale(100%);
				padding: 13px;
				//background-repeat: no-repeat;
			}
		}
	}


	@media screen and (max-width: 767px) {
		overflow: hidden;
		margin-bottom: 30px;
		&__items {

		}
		&__items-setup {
			padding-left: 0;
			margin-right: 0;
		}
		&__item {

		}

		&__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 32px;
			line-height: 120%;
			padding-bottom: 15px;
		}

		&__content-text {
			@include text-font();

		}
		.brands-content__second {
			margin-top: -16px;
			margin-bottom: 0;
		}
		.pre__images {
			margin-left: 0;
			margin-bottom: 40px;
			&-item{
				width: 100%;
			}
		}
		&__images {
			display: flex;
			align-items: center;
			height: 100%;
		}
		&__images-setup {
			margin-left: 0;
			width: 100%;
		}

		&__items-code {
			margin: 0;
			padding-left: 0;
		}
		&-content {
			margin-top: 55px;
			margin-bottom: 20px;
			height: 70%;

			&__title {
				padding-bottom: 57px;
			}

			&__list {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				&-img {
					transform: scale(0.6);
					filter: grayscale(100%);
					padding: 0 13px;
					margin: 0 -24px;
				}
			}
		}

		&__text {
			margin-left: 22px;
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;

			&-list {
				&_item {
					margin-bottom: 13px;
					list-style: unset;
					cursor: initial;
					//text-decoration: initial;
					&:nth-last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.pre-order {
			order: 1;
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {

		&__items {

		}
		&__items-setup {
			padding-left: 0;
			margin-right: -50px;
		}
		&__item {

		}

		&__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 120%;
			padding-bottom: 15px;
		}

		&__content-text {
			@include text-font();

		}
		.brands-content__second {
			margin-top: -20px;
			margin-bottom: 0;
		}
		&__images {
			display: flex;
			align-items: center;
			height: 100%;
		}
		&__images-setup {
			margin-left: 0;
			width: 100%;
		}

		&__items-code {
			margin: 0;
			padding-left: 0;
		}
		&-content {
			margin-top: 30px;
			margin-bottom: 110px;
			height: 70%;

			&__title {

				padding-bottom: 57px;
			}

			&__list {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				&-img {
					transform: scale(0.6);
					filter: grayscale(100%);
					padding: 0 13px;
					margin: 0 -24px;
				}
			}
		}

		&__text {
			@include text-font();

			&-list {
				&_item {
					margin-bottom: 13px;
					list-style: unset;
					cursor: initial;
					//text-decoration: initial;
					&:nth-last-child {
						margin-bottom: 0;
					}
				}


			}
		}
		.pre-order {
			order: 1;
		}
	}
}

.video {

	//margin: -92px auto 0 auto;

	&-content {
		&__heading {
			@include title-small();
			//margin-bottom: 16px;
			text-align: center;
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 44px;
			line-height: 130%;
			text-transform: none;
			letter-spacing: .1px;
		}

		&__body {
			text-align: center;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 150%;

			&-footer {
				display: none;
			}
		}

		&__quote {
			position: relative;
			display: flex;
			flex-direction: column;

			height: 100%;
			padding: 8px 0;

			&-title {
				margin-bottom: 30px;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				text-transform: uppercase;
			}

			&-text {
				position: relative;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 150%;
				color: #0C0C0C;
				//padding-bottom: 17px;

				&:before {
					content: '“';
					position: absolute;
					left: -50px;
					top: 22px;
					font-weight: 500;
					font-size: 96px;
					line-height: 56px;
				}
			}

			&-sign {
				@include small-light-font;
				text-align: left;

			}
		}

		&__img {
			position: relative;
			width: 100%;
			min-width: 493px;
			//margin-left: -45px;
			overflow: hidden;

			&:hover .video-content__img-button {
				background-color: #0470BE;
			}

			&:hover .video-content__img-item {
				transform: scale(1.1);
			}

			&-button {
				position: absolute;
				z-index: 1;
				width: 92px;
				height: 92px;
				background-color: #023F79;
				background-image: url(../images/3.svg);
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
				transition: ease .4s;
			}

			&-item {
				z-index: 1;
				width: 100%;
				min-width: 493px;
				height: 100%;
				transition: .4s;
				cursor: pointer;
			}
		}

		.popup {
			display: none;
			z-index: 5;
			width: 100%;
			height: 2000px;
			background-color: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			transition: ease .4s;
			//&:hover{
			//	background-color: rgba(0, 0, 0, 0.5);
			//}

			&-content {
				position: relative;
				margin: 40px auto 0 auto;
				width: 70vw;
				height: 40vw;
				//padding: 10px;
				//background-color: #c5c5c5;
				border-radius: 10px;
				//box-shadow: 0 0 10px #000;
				//&:hover{
				//	background-color: rgba(0, 0, 0, 0.8);
				//}
				.video__file {
					border-radius: 10px;
				}
			}

			&-close {
				position: absolute;
				top: 0;
				right: -50px;
				font-size: 3em;
				//height: 10px;
				background-color: transparent;
				color: darkgrey;
				cursor: pointer;
				border: none;
			}
		}
	}

	&-container {
		padding: 92px 0;
		background-color: #F2F2F2;
	}

	@media screen and (max-width: 767px) {
		background-color: #F2F2F2;
		&-content {
			&__heading {
				margin-bottom: 22px;
				text-align: center;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				color: #0C0C0C;
				text-transform: none;
			}

			&__body {
				padding: 0 10px;
				margin-bottom: 0;
				text-align: center;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;

				&-text {
					margin-bottom: 92px;
				}

				&-footer {
					display: block;
					margin-bottom: 24px;
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;

					text-align: center;
					letter-spacing: 1px;
					text-transform: uppercase;

					color: #0C0C0C;

				}
			}

			&__img {
				min-width: 100%;

				&-button {
					position: absolute;
					z-index: 1;
					width: 64px;
					height: 64px;
					background-color: #023F79;
					background-image: url(../images/3.svg);
					background-size: 15px;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: ease .4s;
				}

				&-item {
					z-index: 1;
					width: 100%;
					min-width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;
				}
			}

			&__quote {
				padding-top: 52px;
				margin-left: -20px;
				font-family: $Larsseit;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;

				&-title {
					display: none;
				}

				&-text {
					font-weight: 500;
					font-size: 20px;
					line-height: 130%;

					&:before {
						content: '“';
						position: absolute;
						left: -54px;
						top: 19px;
						font-weight: 500;
						font-size: 96px;
						line-height: 56px;
					}
				}


				&-sign {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 150%;
				}
			}
		}

		&-container {
			padding: 33px 0;
			background-color: #F2F2F2;
		}

		.popup {
			&-content {
				width: 70vw;
				height: 65vw;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		margin-top: 14px;
		padding-bottom: 0;
		background-color: #F2F2F2;
		&-content {
			&__heading {
				margin-bottom: 16px;
				text-align: center;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				color: #0C0C0C;
				text-transform: none;
			}

			&__body {
				padding: 0;
				margin-bottom: 0;
				text-align: center;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;

				&-text {
					margin-bottom: 92px;
				}

				&-footer {
					display: block;
					margin-bottom: 24px;
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;

					text-align: center;
					letter-spacing: 1px;
					text-transform: uppercase;

					color: #0C0C0C;

				}
			}

			&__img {
				margin-bottom: 0;
				min-width: 100%;

				&-button {
					position: absolute;
					z-index: 1;
					width: 80px;
					height: 80px;
					background-color: #023F79;
					background-image: url(../images/3.svg);
					background-size: 20px;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: ease .4s;
				}

				&-item {
					z-index: 1;
					width: 100%;
					min-width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;
				}
			}

			&__quote {
				padding-top: 57px;
				margin-left: -8px;

				color: #0C0C0C;

				&-title {
					display: none;
				}

				&-text {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 150%;

					color: #0C0C0C;

					&:before {
						content: '“';
						position: absolute;
						left: -54px;
						top: 19px;
						font-weight: 500;
						font-size: 96px;
						line-height: 56px;
					}
				}


				&-sign {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 16px;
					line-height: 150%;
				}
			}
		}

		&-container {
			padding: 55px 0;
			background-color: #F2F2F2;
		}
	}

}

.publication {
	margin-bottom: 3.7rem;
	padding: 12px 0 10px;

	&__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 7px;

		&-name {
			@include title-small();
		}
	}

	.col__item {
		padding: 20px 10px 20px;
		//padding: 20px 8px 20px 8px;
		//margin-left: 12px;
		transition: ease .33s;
		//margin: 10px;
		&:hover {
			//margin: 10px;
			box-shadow: 0 8px 28px rgba(0, 0, 0, 0.15);

			//opacity: .9;
		}
	}

	&__item {
		color: #0C0C0C;


		&:hover {
			text-decoration: none;
			color: #0C0C0C;

		}

		&:hover .news__item-img {
			transform: scale(1.1);
		}

		&-scale {
			overflow: hidden;
			margin-bottom: 24px;
		}

		&-img {
			width: 100%;

			transition: ease .33s;

		}

		&-tag {
			@include small-bold-font();
			color: #828282;
			padding-bottom: 0;
		}

		&-title {
			padding-bottom: 0;
			margin-bottom: 10px;
			font-weight: 500;
			font-size: 24px;
			line-height: 31px;
		}

		&-content, &-data {
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;


			color: #0C0C0C;
			padding-bottom: 0;
		}

	}

	@media screen and (max-width: 767px) {
		padding: 55px 0 0;
		margin-bottom: 7rem;
		&__title {
			justify-content: center;
			margin-bottom: 27px;

			&-more {
				display: none;
			}
		}
		.col__item {
			padding: 0 8px 0;
			margin-bottom: 20px;

		}
		&__item {
			&-tag {
				margin-bottom: 10px;

			}

			&-title {
				margin-bottom: 16px;
			}
		}

	}
	@media (min-width: 768px) and (max-width: 1259px) {
		margin-bottom: 2.8rem;
		padding: 10px 0 10px;
		&__title {

			margin-bottom: 14px;

		}
		&__item {
			&-scale {
				overflow: hidden;
				margin-bottom: 30px;
			}

			&-img {
				width: 100%;

				transition: ease .33s;

			}

			&-tag {
				@include small-bold-font();
				color: #828282;
				padding-bottom: 0;
			}

			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;

				color: #333333;
			}

			&-content, &-data {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;


				color: #0C0C0C;
				padding-bottom: 0;
			}

		}

	}
	@media (min-width: 1260px) and (max-width: 1919px){
		margin-bottom: 5.1rem;
	}

}
