@import "variables";
@import "mixins";

@keyframes active {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes activeDote {
	0% {
		transition: (-100%, 0);
	}
	100% {
		transition: (100%, 0);
	}
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container-fluid {
	max-width: 1260px;
}

ul {
	margin-bottom: 0 !important;
}

li {
	@include link-style;
}

@keyframes active {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.page {
	position: relative;
	box-sizing: border-box;
	font-size: 100%;
	font-family: $Larsseit;
	font-weight: 300;
	margin: 0;
	padding: 0;

}

.page-hidden {
	overflow: hidden;
}

.navigation {
	width: 100%;
	//padding: 90px 0;
	text-align: center;

	&__links {
		display: flex;
		//justify-content: center;
		margin-top: -32px;

		margin-bottom: 50px;
		height: 64px;
		background-color: #fff;

		&-item {
			@include button;
			display: inline-block;
			height: 64px;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 64px;

			text-align: center;
			letter-spacing: 1px;
			text-transform: uppercase;

			background-color: #fff;
			color: #000;
			border-radius: 1px;

			border: none;
			background-image: -webkit-linear-gradient(right, #0054a6 50%, transparent 50%);
			background-image: linear-gradient(to left, #0054a6 50%, transparent 50%);
			//font-size: 1vw;
			&:hover {
				color: #fff;
			}

			//&:before{
			//  content: "";
			//  position: absolute;
			//  z-index: -1;
			//  background-color: #0054a6;
			//  bottom: 6px;
			//  width: 8px;
			//  height: 8px;
			//  transform: rotate(45deg);
			//
			//}
		}

	}

	.links-active {
		background-color: #0054a6;
		color: #fff;

	}

	@media screen and (max-width: 767px) {
		&__links {
			overflow: scroll;
			height: 48px;
			margin-top: -25px;

			&-item {
				height: 48px;
				line-height: 48px;
				white-space: nowrap;
			}
		}
		&__desc {
			&-text {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
			}

		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__links {
			overflow: scroll;
			height: 48px;
			margin-top: -25px;

			&-item {
				height: 48px;
				line-height: 48px;
				white-space: nowrap;
			}
		}
		&__desc {
			&-text {
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
			}

		}
	}


}

.news {
	margin-bottom: 4em;
	padding-top: 80px;

	&__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 7px;

		&-name {
			@include title-small();
		}
	}

	.col__item {
		padding: 20px 20px 20px;
		//margin: 10px;
		&:hover {
			//margin: 10px;
			box-shadow: 0 8px 28px rgba(0, 0, 0, 0.15);

			//opacity: .9;
		}
	}

	&__item {
		color: #0C0C0C;


		&:hover {
			text-decoration: none;
			color: #0C0C0C;

		}

		&:hover .news__item-img {
			transform: scale(1.1);
		}

		&-scale {
			overflow: hidden;
			margin-bottom: 24px;
		}

		&-img {
			width: 100%;

			transition: ease .4s;

		}

		&-tag {
			@include small-bold-font();
			color: #828282;
			padding-bottom: 0;
		}

		&-title {
			padding-bottom: 0;
			margin-bottom: 10px;
			font-weight: 500;
			font-size: 24px;
			line-height: 31px;
		}

		&-content, &-data {
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;


			color: #0C0C0C;
			padding-bottom: 0;
		}

	}

	@media screen and (max-width: 767px) {
		&__title {
			justify-content: center;
			margin-bottom: 27px;

			&-more {
				display: none;
			}
		}
		.col__item {
			padding: 0 8px 0;
			margin-bottom: 20px;

		}
		&__item {
			&-tag {
				margin-bottom: 10px;

			}

			&-title {
				margin-bottom: 16px;
			}
		}

	}
}

.contact {
	min-height: 319px;
	//margin-bottom: 1em;
	background-color: #F2F2F2;
	border-bottom: 1px solid #BDBDBD;;

	&-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		&__info {
			&-title {
				margin-top: 70px;
				margin-bottom: 10px;
				//padding-bottom: 6px;
				font-weight: 500;
				font-size: 32px;
				line-height: 130%;
			}

			&-desc {
				@include regular-font();
				padding-bottom: 28px;
			}

			&-button {
				@include button();
				border-radius: 40px;
				width: 207px;
				height: 52px;
			}
		}

		&__links {
			display: flex;
			//justify-content: center;

			&-logo {
				@include transition;
				margin-right: 30px;
				fill: #023F79;
				transition: .4s;

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					@include link-style;
					fill: #0470BE;
				}
			}
		}
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 0;
		padding-bottom: 54px;
		&-content {
			text-align: center;

			&__info {
				margin-left: 0;

				&-title {
					font-weight: 500;
					font-size: 24px;
					line-height: 130%;
				}

				&-desc {
					font-weight: 300;
					font-size: 16px;
					line-height: 150%;
					padding-bottom: 18px;
				}

				&-button {
					margin-left: 0;
				}
			}

			&__links {
				justify-content: center;
				margin-left: 0;

				&-logo {
					margin-right: 30px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
		.contact-content__info-button {
			width: 327px;
			height: 40px;
			line-height: 40px;
			border-radius: 100px;
			margin-bottom: 70px;
		}
	}
	@media (min-width: 768px) and (max-width: 1259px) {
		&-content {
			&__info {
				&-title {
					margin-bottom: 10px;
				}
			}

			&__links {
				padding-left: 16px;
			}
		}
	}
}

.footer {
	padding-top: 63px;
	padding-bottom: 28px;
	&-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		//padding: 30px 0;
		//border-bottom: 1px solid #E0E0E0;

		&__img {
			//padding-right: 30px;
		}

		&__list {
			&-head {
				@include small-bold-font();
				padding-bottom: 15px;
				//&:last-child {
				//  padding-top: 20px;
				//}

			}

			&-item {
				@include small-light-font;
				padding: 5px 0;
			}

			&-link {
				color: #000;

				&:hover {
					@include transition;
					color: #0470BE;
					text-decoration: none;
				}
			}
		}

		&__info {
			padding-bottom: 29px;

			&-contacts {
				@include small-bold-font();
				padding-bottom: 14px;

			}

			&-item {
				@include small-light-font;
				padding: 5px 0;
			}

			&-link {

				color: #000;
			}
		}

		&__links {
			padding-bottom: 15px;

			&-logo {
				@include transition;
				margin-right: 18px;
				fill: #828282;
				order: 6;

				&:hover {
					@include link-style;
					fill: #0470BE;
				}

				&:last-child {
					margin-right: 0;
				}

			}

		}
	}

	.row-column {
		flex-direction: column;
	}

	.links-row {
		display: flex;
		flex-direction: column;
	}

	&__indent {
		margin-top: 28px;
		height: 50px;

		border-top: 1px solid rgb(0, 0, 0, 0.1);

		&-sign{
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 50px;
			color: #828282;
		}
	}

	.footer-order {
		//order: 1;
		@media (min-width: 1259px) {
			order: -1;
		}
	}

	.follow-us {
		margin-bottom: 10px;
	}

	@media screen and (max-width: 767px) {
		padding-top: 0;

		.footer-content {
			text-align: center;

			.footer-row {
				padding-bottom: 20px;
			}

			&__img {
				padding: 30px 0 25px;
				float: right;
				//border-bottom: 1px solid rgb(0, 0, 0, 0.1);
			}

			&__list {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				padding-top: 16px;
				padding-bottom: 17px;
				border-bottom: 1px solid rgb(0, 0, 0, 0.1);

				&-head {
					padding-bottom: 0;
				}


				&-item {
					display: none;
				}

				.item-show {
					display: block;
				}

			}

			.item-active {
				//background-color: #0D5DAB;

				&:before {
					content: "";
					z-index: 1;
					position: absolute;
					top: 15px;
					right: 13px;
					background: url(../images/plus.svg) no-repeat;
					width: 14px;
					height: 14px;
					cursor: pointer;
				}
			}

			.item-deactive {
				&:before {
					content: "";
					z-index: 1;
					position: absolute;
					top: 21px;
					right: 13px;
					background: url(../images/minus.svg) no-repeat;
					width: 14px;
					height: 2px;
					cursor: pointer;
				}
			}

			&__info {
				padding-bottom: 0;

				&-contacts {
					padding-top: 27px;
					padding-bottom: 10px;
					text-align: start;
				}

				&-item {
					text-align: start;
					padding-bottom: 0;
				}
			}

			&__links {
				&-logo {
					float: left;
				}
			}

			.follow-us {
				padding-bottom: 12px;
				padding-top: 30px;
			}

			.footer-order {
				order: 1;
			}

			.footer__indent {
				margin-top: 18px;
				padding-top: 14px;
				text-align: left;
				&-sign{
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 16px;
					line-height: 150%;

					color: #828282;
				}
			}

			.row-column {
				flex-direction: column;
			}

		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		padding-top: 40px;
		padding-bottom: 0;
		.row-column{
			margin-left: -104px;
		}
		.footer-content {
			&__list {
				padding-bottom: 42px;
				margin-bottom: 0;
				&-item{
					padding: 5px 0;
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 150%;

					color: #262626;
				}
			}

			&__info {
				margin-right: -50px;

				&-contacts {
					padding-bottom: 9px;
				}
			}

			&__img {
				//padding: 25px 0;
			}

			&__links {
				margin-right: -50px;
				margin-left: -15px;
				&-logo {
					margin-right: 15px;
				}
			}


		}
		.row-column {
			flex-direction: row;
		}
		.follow-us{
			margin-bottom: 3px;
		}
		.footer__indent{
			padding-top: 15px;
			margin-top: 15px;
			&-sign{
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 14px;
				line-height: 130%;

				color: #828282;
			}
		}
	}
}
