@import "variables";
@import "mixins";

@keyframes active {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes activeDote {
	0% {
		transition: (-100%, 0);
	}
	100% {
		transition: (100%, 0);
	}
}

.hero {
	position: relative;
	z-index: -1;
	background-color: #000;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	@media screen and (max-width: 767px) {
		height: 520px;
	}
	@media (min-width: 768px) and (max-width: 1259px) {
		height: 450px;
	}
	@media (min-width: 1260px) and (max-width: 1919px) {
		height: 600px;
	}

	&:before {
		content: '';
		z-index: 1;
		position: absolute;
		height: $header-height;
		width: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0.4;

	}

	&-img1 {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		//opacity: 0.8;
		@media screen and (max-width: 767px) {
			left: -190px;
			top: -200px;
			transform: scale(0.5);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			left: -210px;
			top: -220px;
			transform: scale(0.6);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(0.65);
			left: -90px;
			top: -140px;
		}

	}

	&-img2 {
		position: absolute;
		z-index: 0;
		right: 0;
		bottom: 0;
		//opacity: 0.8;

		@media screen and (max-width: 767px) {
			right: -400px;
			bottom: -155px;
			transform: scale(0.6);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			right: -330px;
			bottom: -275px;
			transform: scale(0.6);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(0.65);
			right: -175px;
			bottom: -65px;
		}
	}
	&__logo {
		text-align: center;
		transform: scale(0.7);
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-left: -40px;
		&-title {
			z-index: 1;
			text-align: left;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 34px;
			line-height: 100%;
			color: #fff;
		}
	}

	@media screen and (max-width: 767px) {
		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			transform: scale(0.74);
			padding-bottom: 20px;
		}
		.hero__text {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 0;
			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 100%;

				text-align: center;
			}
		}
		&-img1 {
			//left: 0;
			//transform: scale(0.5)
		}

		.header-duplicate {

			text-align: center;

			&__text {

				@include button;
				@include header-button;

				align-self: center;
				//margin-right: 10px;
				margin-bottom: 15px;
				color: #fff;
				text-decoration: none;
				//background-color: #000;
				border: 1px solid #FFFFFF;
				background-image: linear-gradient(to left, #4F4F4F 50%, #000 50%);
				cursor: pointer;

				//&:hover {
				//	//@include nav-item__hover;
				//	background-position-x: -98%;
				//}
			}

			&__button {
				@include button;
				@include header-button;
				background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
				font-size: 14px;


				&:hover {
					background-position-x: -98%;
				}
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__text {
			margin-left: 30px;
			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 100%;
				margin-bottom: 0;

			}
		}
	}
	@media (min-width: 1260px) and (max-width: 1919px) {
		&__text {

			&-title {
				//font-size: 56px;

			}
		}
	}

	@media (min-width: 768px) {
		.header-duplicate {
			display: none;
		}
	}

}

.video {
	padding: 30px 0;
	//margin: -92px auto 0 auto;

	&-content {
		&__heading{
			@include title-small();
			margin-bottom: 16px;
			text-align: center;
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 44px;
			line-height: 130%;
			text-transform: none;
		}
		&__body{
			padding: 0 100px;
			margin-bottom: 100px;
			text-align: center;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 150%;

		}

		&__quote {
			position: relative;
			display: flex;
			flex-direction: column;

			height: 100%;
			padding: 8px 0;
			&-title {
				margin-bottom: 30px;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				text-transform: uppercase;
			}

			&-text {
				position: relative;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 150%;
				color: #0C0C0C;
				//padding-bottom: 17px;

				&:before {
					content: '“';
					position: absolute;
					left: -50px;
					top: 22px;
					font-weight: 500;
					font-size: 96px;
					line-height: 56px;
				}
			}

			&-sign {
				@include small-light-font;
				text-align: left;

			}
		}

		&__img {
			position: relative;
			width: 100%;
			//margin-left: -37px;
			//height: 100%;

			&-button {
				position: absolute;
				z-index: 1;
				width: 92px;
				height: 92px;
				background-color: #023F79;
				background-image: url("../images/3.svg");
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
				transition: ease .4s;

				&:hover {
					background-color: #0470BE;
				}
			}


			&-item {
				z-index: 1;
				width: 100%;
				height: 100%;

			}
		}

		.popup {
			display: none;
			z-index: 5;
			width: 100%;
			height: 2000px;
			background-color: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			transition: ease .4s;
			//&:hover{
			//	background-color: rgba(0, 0, 0, 0.5);
			//}

			&-content {
				position: relative;
				margin: 40px auto 0 auto;
				width: 70vw;
				height: 40vw;
				//padding: 10px;
				//background-color: #c5c5c5;
				border-radius: 10px;
				//box-shadow: 0 0 10px #000;
				//&:hover{
				//	background-color: rgba(0, 0, 0, 0.8);
				//}
				.video__file {
					border-radius: 10px;
				}
			}

			&-close {
				position: absolute;
				top: 0;
				right: -50px;
				font-size: 3em;
				//height: 10px;
				background-color: transparent;
				color: darkgrey;
				cursor: pointer;
				border: none;
			}
		}
	}


	@media screen and (max-width: 767px) {
		&-content {
			&__heading{

				margin-bottom: 16px;
				text-align: center;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				color: #0C0C0C;
				text-transform: none;
			}
			&__body{
				padding: 0 10px;
				margin-bottom: 100px;
				text-align: center;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;

			}
			&__img {
				&-item{
					width: 100%;
				}
			}
			&__quote {

				padding-top: 48px;
				font-family: $Larsseit;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;

				&-text {
					font-weight: 500;
					font-size: 20px;
					line-height: 130%;
				}

				&-sign {
					@include small-bold-font;
				}
			}
		}
		.popup {
			&-content {
				width: 70vw;
				height: 65vw;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1260px) {
		&-content {
			&__heading{
				margin-bottom: 16px;
				text-align: center;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				color: #0C0C0C;
				text-transform: none;
			}
			&__body{
				padding: 0;
				margin-bottom: 100px;
				text-align: center;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;

			}
			&__img {
				margin-bottom: 20px;
				&-item{
					min-width: 493px;
				}
			}
		}
	}

	//@media (max-width: 992px) {
	//	.block-first {
	//		order: 2;
	//	}
	//	.video__info {
	//		padding-top: 50px;
	//	}
	//}

}

.analytic {

	overflow: hidden;
	padding-top: 50px;
	.slider-container {
		z-index: 1;
		position: relative;
		//width: 100%;

		//max-width: 1366px;
		height: 100%;

		.slick-list {
			overflow: hidden;
			min-height: 500px;
			.slick-track {
				display: flex;
				//justify-content: space-between;
				//align-items: center;

				.slick-current {
					width: 100%;
					//border: 2px solid green;
					overflow: hidden;


				}
			}
		}
	}

	.catalogue {
		height: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 33px;
		//justify-content: space-around;
		//align-items: center;
		//padding-bottom: 50px;
		//margin: 0 -15px;

		&__items {
			margin-bottom: 16px;
		}

		&__item {


		}

		&__title {
			@include title-style;
			font-size: 36px;
			line-height: 120%;
			text-align: left;
			margin-bottom: 14px;
		}
		&__content{
			&-text{
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 150%;
			}
		}
		&__button {
			&-link {
				@include button();
				@include link-style;
				font-weight: 500;
				font-size: 16px;
				margin-bottom: 21px;

				height: 52px;
				min-width: 298px;
				border-radius: 40px;

				line-height: 52px;
			}

		}

	}

	.catalogue-images {
		//width: 100%;
		//height: 100%;
		.catalogue-img {
			width: 100%;
			//height: 100%;
		}

		&__button {
			display: none;

			&-link {
				@include button();
				@include link-style;
				margin-bottom: 21px;

				width: 226px;
				height: 52px;
				line-height: 52px;
			}
		}

	}

	//}

	.slick-dots {
		position: absolute;
		left: 20px;
		top: 137px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		li {
			margin-right: 16px;

			button {
				width: 12px;
				height: 12px;
				border: 2px solid #023F79;
				border-radius: 50px;
				font-size: 0;
				outline: none;
			}
		}

		.slick-active {
			button {
				background: #023F79;
			}

			&:focus {
				border: none;
			}
		}
	}

	@media screen and (max-width: 767px) {
		.catalogue {
			&__items {
			}

			&__item {
			}

			&__title {
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				text-align: center;

				color: #0C0C0C;
			}

			&__button {
				display: none;

				&-link {
					@include button();
					@include link-style;
					margin-bottom: 21px;
					width: 226px;
					height: 52px;
					line-height: 52px;
				}

			}

		}

		.catalogue-images {

			.catalogue-img {


			}

			&__button {
				//display: inline-block;
				display: flex;
				justify-content: center;

				&-link {
					@include button();
					@include link-style;

					margin-bottom: 21px;

					width: 226px;
					height: 52px;
					line-height: 52px;
				}
			}

		}
	}
}

.circle {
	overflow: hidden;
	margin-bottom: 100px;
	//display: flex;
	//justify-content: center;
	//align-items: center;
	&-title {
		font-family: $Ivar;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		line-height: 120%;
		color: #fff;
		text-align: left;

		padding: 16px 60px;
	}

	&-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		//background-color: #F2F2F2;

		&__img {
			transition: .4s;
			transform: rotate(0.5turn) scale(.8);
			opacity: 0;
			cursor: pointer;

			&:hover {
				opacity: 1;
				transform: rotate(1turn) scale(1);
			}
		}


	}

	.circle-col {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #023F79;
		padding-bottom: 50px;
		height: 560px;
	}

	&-items {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 332px;
		height: 332px;
		margin: 0 auto;
		transition: .5s;
		transform: rotate(0.5turn) scale(.8);
		opacity: 0;
		cursor: pointer;
	}

	.items-active {
		opacity: 1;
		transform: rotate(1turn) scale(1);
	}

	&-constructor {

		&__img {
			position: absolute;
		}

		.circle-top {
			top: 0;
			right: 17px;
			z-index: 3;
		}

		.circle-left {
			left: 0;
			bottom: 0;
			z-index: 2;
		}

		.circle-right {
			right: 0;
			bottom: 0;
		}


		&__lite {
			position: absolute;

			&-path {
				opacity: 0;
				transition: .4s;

				//&:hover {
				//	opacity: 1;
				//	z-index: 6;
				//}
				//&:hover + .circle-lines__text{
				//	opacity: 1;
				//	z-index: 7;
				//}
			}

			.path-active {
				opacity: 1;
				z-index: 6;
			}

		}

		.circle-lite__top {
			z-index: 6;
			top: 0;
			right: -5px;
		}

		.circle-lite__left {
			z-index: 6;
			left: -86px;
			bottom: 48px;
			transform: rotate(-120deg);
		}

		.circle-lite__right {
			z-index: 6;
			right: -86px;
			bottom: 48px;
			transform: rotate(120deg);
		}

		//LINES

		&__line {
			z-index: 3;
			position: absolute;
			display: flex;
			flex-direction: column;
			color: #fff;
			opacity: 0;
			transition: .4s;
			//&:hover{
			//	opacity: 1;
			//	z-index: 7;
			//}
			//&:hover .circle-lite__path {
			//	opacity: 1;
			//	z-index: 6;
			//}
		}


		.circle-line__load {

			animation: lineActive 1s ease;
			animation-delay: 2000ms;
			animation-iteration-count: 1;
			opacity: .5;
		}

		.circle-line__active {
			opacity: 1;
			z-index: 7;
		}

		.circle-line__top {
			z-index: 7;
			top: 30px;
			left: -80px;
		}

		.circle-line__left {
			left: -80px;
			bottom: 35px;
		}

		.circle-line__right {
			left: -80px;
		}

	}

	.constructor-active{
		//animation: lines 1s ease 1s;
		//z-index: 6;
		.circle-constructor__lite{
			&-path{
				opacity: 1;
				z-index: 6;
			}
		}
		.circle-constructor__line{
			//animation: lineActive 1s ease;
			//animation-delay: 2000ms;
			//animation-iteration-count: 1;
			opacity: 1;
			z-index: 7;
		}
	}

	[data-line1]{
		animation: lineActive 1s ease;
		animation-delay: 2000ms;
		animation-iteration-count: 1;
	}
	[data-line3]{
		animation: line 1s ease;
		animation-delay: 2500ms;
		animation-iteration-count: 1;
	}
	[data-line2]{
		animation: line 1s ease;
		animation-delay: 3000ms;
		animation-iteration-count: 1;
	}
	//.constructor-top {
	//	top: 0;
	//}
	//
	//.constructor-left {
	//	left: 0;
	//}
	//
	//.constructor-right {
	//	right: 0;
	//}

	//&-lite {
	//	position: relative;
	//	display: flex;
	//	justify-content: center;
	//	align-items: center;
	//	width: 332px;
	//	height: 332px;
	//	margin: 0 auto;
	//	transition: .4s;
	//	//transform: rotate(0.5turn) scale(.8);
	//	//opacity: 0;
	//	cursor: pointer;
	//
	//
	//
	//}

	.demo-col {
		display: flex;
		background-color: #F2F2F2;
		@media screen and (max-width: 991px) {
			margin-top: -1px;
			background-color: #023F79;
		}
	}

	.circle-demo {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 50px;
		margin: 0 -15px;


		&__items {
			margin-bottom: 20px;
			margin-right: -30px;
			//width: 100%;

		}

		&__item {
			padding: 10px 40px;
			width: 100% !important;
			outline: none;
			cursor: pointer;
			background-color: #f2f2f2;

			.circle-demo__show {
				display: block !important;
			}


			.circle-demo__btn {
				position: relative;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
				border: none;
				cursor: pointer;
				background-color: #f2f2f2;

				&:before {
					content: '';
					z-index: 1;
					position: absolute;
					top: 25%;
					left: -20px;
					background: url(../images/plus.svg) no-repeat;
					width: 14px;
					height: 14px;
					cursor: pointer;
				}
			}

		}

		.circle-demo__active {
			background-color: #fff;
			color: #0C0C0C;
			//background-color: #f2f2f2;
			//padding: 10px 40px;
			//width: 100%;
			//.demo-plus {
			//	background-color: #f2f2f2;
			//
			//	&:before {
			//		content: '';
			//		z-index: 1;
			//		position: absolute;
			//		top: 50%;
			//		left: -20px;
			//		background: url("/../images/minus.svg") no-repeat;
			//		//transform: rotate(90deg);
			//		width: 14px;
			//		height: 2px;
			//		cursor: pointer;
			//	}
			//}

			.circle-demo__show {
				display: block !important;

			}

			.circle-demo__btn {
				background-color: #fff;

				&:before {
					content: '';
					z-index: 1;
					position: absolute;
					top: 50%;
					left: -20px;
					background: url(../images/minus.svg) no-repeat;
					width: 14px;
					height: 2px;
					cursor: pointer;
				}
			}


		}

		&__content {
			display: none;
			z-index: 1;
			//position: absolute;
			//min-width: 330px;
			overflow: auto;
			background-color: #fff;

			&__text {
				@include small-light-font;
			}


		}


	}


	//.circle-lines {
	//	position: absolute;
	//	//display: flex;
	//	//flex-direction: column;
	//	//justify-content: center;
	//	//align-items: flex-start;
	//	top: 45%;
	//	right: 45%;
	//	width: 332px;
	//	height: 332px;
	//	//margin: 0 auto;
	//	transition: ease .5s;
	//	transform: none;
	//
	//	cursor: pointer;
	//	z-index: 6;
	//
	//	&__text {
	//		display: flex;
	//		flex-direction: column;
	//
	//		&__top {
	//			top: 30px;
	//			left: -80px;
	//		}
	//
	//		&__left {
	//			left: -80px;
	//			bottom: 35px;
	//		}
	//
	//		&__right {
	//
	//			left: -80px;
	//		}
	//	}
	//
	//}

	@media screen and (max-width: 991px) {
		&-items {
			position: relative;
			display: flex;
			justify-content: normal;
			align-items: normal;
			width: 279px;
			height: 279px;
			margin: 0 auto;
			transition: .5s;
			transform: rotate(0.5turn) scale(.8);
			opacity: 0;
			cursor: pointer;
		}
		&-constructor {

			&__img {
				position: absolute;
				transform: scale(.6);
			}

			.circle-top {
				top: 0;
				right: -8px;
				z-index: 3;
			}

			.circle-left {
				left: 0;
				bottom: 0;
				z-index: 2;
				//border: 1px solid yellow;
			}

			.circle-right {
				right: 0;
				bottom: 0;
			}


			&__lite {
				position: absolute;
				opacity: 0;
				//transform: scale(.75);
				&-path {
					opacity: 0;
					transition: .4s;
					transform: scale(.6);
					//&:hover {
					//	opacity: 1;
					//	z-index: 6;
					//}
					//&:hover + .circle-lines__text{
					//	opacity: 1;
					//	z-index: 7;
					//}
				}

				.path-active {
					opacity: 1;
					z-index: 6;
				}

			}

			.circle-lite__top {
				z-index: 6;
				top: 24px;
				right: -100px;
			}

			.circle-lite__left {
				z-index: 6;
				left: -91px;
				bottom: 127px;
				transform: rotate(-120deg);
			}

			.circle-lite__right {
				z-index: 6;
				right: -24px;
				bottom: 8px;
				transform: rotate(120deg);
			}

			//LINES

			&__line {
				z-index: 3;
				position: absolute;
				display: flex;
				flex-direction: column;
				color: #fff;
				opacity: .5;
				transition: .4s;
				display: none;
				//&:hover{
				//	opacity: 1;
				//	z-index: 7;
				//}
				//&:hover .circle-lite__path {
				//	opacity: 1;
				//	z-index: 6;
				//}
			}


			.circle-line__load {
				opacity: .5;
			}

			.circle-line__active {
				opacity: 1;
				z-index: 7;
			}

			.circle-line__top {
				z-index: 7;
				top: 30px;
				left: -80px;
			}

			.circle-line__left {
				left: -80px;
				bottom: 35px;
			}

			.circle-line__right {
				left: -80px;
			}

		}
		.circle-demo {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-bottom: 50px;
			margin: 0 -15px;

			&__items {
				margin-bottom: 20px;
				margin-right: -30px;
				//width: 100%;
			}

			&__item {
				color: #fff;
				background-color: #023F79;


				.circle-demo__btn {
					background-color: #023F79;

					&:before {
						content: '';
						z-index: 1;
						position: absolute;
						top: 25%;
						left: -20px;
						background: url(../images/plus-white.svg) no-repeat;
						width: 14px;
						height: 14px;
						cursor: pointer;
					}
				}

			}
		}
		.demo-col {
			display: flex;
			/* background-color: #F2F2F2; */

		}
		&-demo {
			width: 100%;
		}
	}

	@media (min-width: 992px) and (max-width: 1259px) {
		.demo-col {
			display: flex;
			/* background-color: #F2F2F2; */
			//background-color: #023F79;
		}
		&-demo {
			width: 100%;
		}
	}
}

.landscapes {
	background-color: #f2f2f2;
	margin-bottom: 90px;
	overflow: hidden;

	&-block {
		position: relative;
		display: flex;
		flex-direction: column;
		//align-items: center;
		//justify-content: center;
		width: 100%;
		height: 100%;
		padding: 142px 0;
		//width: 50%;
		//
		&__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 120%;

			color: #0C0C0C;
			text-align: left;
		}

		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			//width: 600px;

		}
	}

	&-footer {
		//text-align: center;

		&__desc {
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 100px;
		}

		&__button {
			@include button();
			@include link-style;
			@include header-text;
			background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
			border-radius: 30px;
			line-height: 52px;
			text-align: center;
			min-width: 293px;
			height: 52px;
			color: #fff;
			text-decoration: none;
			list-style: none;
			cursor: pointer;
		}
	}

	.cells {
		//width: 100%;
		//height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -80px 0;
		overflow: hidden;
		.cell {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			//dflex: 0 0 33.333333%;

			width: 155px;
			height: 140px;

			margin: 15px;
			margin-left: 0;
			margin-right: 0;

			.polygon {
				z-index: -1;
				position: absolute;

				box-shadow: 0 0 8px 1px rgba(0, 0, 0, .23);
				display: flex;


			}

			.land {
				position: absolute;
			}

			&:nth-child(2) {
				margin-top: 100px;
			}

			&:nth-child(3n+2) {
				margin-left: -10px;
				margin-right: -10px;
			}

			&:nth-child(3n+4) {
				margin-top: -70px;
			}

			&:nth-child(3n+6) {
				margin-top: -70px;
			}
		}


	}

	@media screen and (max-width: 767px) {
		&-block {
			text-align: center;
			&__title {
				text-align: center;
				padding: 15px 0;
				margin-bottom: 0;

			}

			&__info {


			}
		}
		&-footer{
			&__desc{
				margin-bottom: 10px;
			}
		}
		.cells-container{
			display: flex;
		}
		.cells {
			//height: 100vh;
			min-width: 400px;
			min-height: 400px;
			margin: 0;
			//margin-left: -10px;
			//margin-right: -10px;
			//margin-top: 13px;
			//margin-bottom: -67px;
			transform: rotate(90deg);
			overflow: visible;
			margin-left: -150px;
			margin-right: 230px;

			.cell {
				position: relative;
				display: flex;

				align-items: center;
				justify-content: center;
				margin-top: 0;
				//border: 1px solid red;
				width: 120px;
				height: 105px;

				.hex {
					position: absolute;
					//width: 50px;
					left: 0;
					//margin-left: -25%;
					//height: 50px;
					top: 0;
					//margin-top: -25%;

				}

				.polygon {
					transform: scale(.75);
					//position: absolute;
					////width: 50px;
					//left: 50%;
					////margin-left: -25%;
					////height: 50px;
					//top: 50%;
					////margin-top: -25%;
					//border: 1px solid green;
				}

				.land {
					transform: scale(.75) rotate(-90deg);

					//position: absolute;
					//width: 50px;
					//left: 50%;
					//margin-left: -25%;
					//height: 50px;
					//top: 50%;
					//margin-top: -25%;

				}
				&:nth-child(1) {
					margin-top: -70px;
				}
				&:nth-child(2) {
					margin-top: 70px;
				}
				&:nth-child(3) {
					margin-top: -70px;
				}

				&:nth-child(3n+2) {
					margin-top: 0;
					margin-left: -10px;
					margin-right: -10px;
				}

				&:nth-child(3n+4) {
					margin-top: -70px;
				}

				&:nth-child(3n+6) {
					margin-top: -70px;
				}
			}
		}


	}
	@media (min-width: 768px) and (max-width: 1259px) {
		height: 480px;
		&-block {
			padding: 0;
			&__title {

				padding-top: 100px;
				margin-bottom: 10px;
			}

			&__info {


			}
		}
		&-footer{
			&__desc{
				margin-bottom: 50px;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 26px;
			}
		}
		.cells {
			//height: 100vh;
			min-width: 400px;
			margin-top: 35px;
			margin-bottom: 0;
			overflow: visible;
			.cell {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 0;
				//border: 1px solid red;
				width: 120px;
				height: 105px;

				.hex {
					position: absolute;
					//width: 50px;
					left: 0;
					//margin-left: -25%;
					//height: 50px;
					top: 0;
					//margin-top: -25%;

				}

				.polygon {
					transform: scale(.75);
					//position: absolute;
					////width: 50px;
					//left: 50%;
					////margin-left: -25%;
					////height: 50px;
					//top: 50%;
					////margin-top: -25%;
					//border: 1px solid green;
				}

				.land {
					transform: scale(.75);
					//position: absolute;
					//width: 50px;
					//left: 50%;
					//margin-left: -25%;
					//height: 50px;
					//top: 50%;
					//margin-top: -25%;

				}
				&:nth-child(1) {
					margin-top: -70px;
				}
				&:nth-child(2) {
					margin-top: 70px;
				}
				&:nth-child(3) {
					margin-top: -70px;
				}

				&:nth-child(3n+2) {
					margin-top: 0;
					margin-left: -10px;
					margin-right: -10px;
				}

				&:nth-child(3n+4) {
					margin-top: -70px;
				}

				&:nth-child(3n+6) {
					margin-top: -70px;
				}
			}
		}

	}
}

.questions {
	margin-bottom: 90px;
	overflow: hidden;


	&__title {
		padding-bottom: 50px;

		font-family: $Ivar;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 130%;

		text-align: center;
		letter-spacing: -1px;

		color: #0C0C0C;
	}

	&__links {

		padding-bottom: 40px;

		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		/* identical to box height, or 100% */
		text-align: center;
		letter-spacing: 1px;
		text-transform: uppercase;

		color: #FFFFFF;
		mix-blend-mode: normal;
		outline: none;

		&-item {
			@include button;
			//margin-right: 7px;
			background-image: -webkit-linear-gradient(to left, #023F79 50%, #F2F2F2 50%);
			background-image: linear-gradient(to left, #023F79 50%, #F2F2F2 50%);
			border-radius: 0;
			color: #000;
			transition: .4s;
			min-height: 52px;
			height: 100%;
			white-space: initial;
			line-height: 20px;
			padding: 3px;
			overflow: hidden;

			&:hover {
				color: #fff;
			}

			@media screen and (max-width: 1260px) {
				&_desc {

					display: inline-block;
					//padding-left: 100px;
					animation: scroll linear 5s infinite running;
				}
			}

		}
		.slick-track{
			display: flex;
		}
		.slick-current {
			position: relative;
			background-image: -webkit-linear-gradient(to left, #023F79 50%, #023F79 50%);
			background-image: linear-gradient(to left, #023F79 50%, #023F79 50%);
			outline: none;
			color: #fff;

			&:before{
				content: "";
				position: absolute;
				z-index: 1;
				background-color: #023F79;
				bottom: -5px;
				left: 50%;
				margin-left: -5px;
				width: 10px;
				height: 10px;
				transform: rotate(45deg);
				animation: active ease-out 250ms running;
			}
		}

		.click-center {
			background-color: #023F79;
		}
	}

	&__list {
		padding-bottom: 40px;
		transition: .4s;


		&-title {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding: 20px 0;

			border-top: 1px solid rgba(0, 0, 0, 0.1);

			font-style: normal;
			font-weight: 500;
			font-size: 24px;


			color: #023F79;
			&:nth-last-child(1){
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}
		}

		&-plus {
			padding-right: 30px;
			transition: .4s;
			&:hover {
				color: #0470BE;
			}
			&:before {
				content: "";
				z-index: 1;
				position: absolute;
				top: 31px;
				right: 10px;
				background: url(../images/plus.svg) no-repeat;

				width: 14px;
				height: 14px;
				cursor: pointer;
			}
		}

		&-disable {
			&:before {
				content: "";
				z-index: 1;
				position: absolute;
				top: 37px;
				right: 10px;
				background: url(../images/minus.svg) no-repeat;
				width: 14px;
				height: 2px;
				cursor: pointer;
			}

		}

		&-item {
			font-family: "Larsseit", Helvetica, Arial, sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 0.875em;
			padding: 0 15px;



		}

		//&-active {
		//	color: red;
		//}


		&-content {
			display: none;
			transition: .4s;
			opacity: 0;
		}

		&-show {
			transition: .4s;
			display: block;
			opacity: 1;
		}
	}

	&-block {
		position: relative;
		//width: 100%;
		//max-width: 1366px;
		height: 100%;

		.slick-list {
			overflow: hidden;

			.slick-track {

				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				outline: none;

				.slick-slide {
					outline: none;
				}

				.slick-current {
					width: 100%;
					//border: 2px solid green;
					overflow: hidden;


				}
			}
		}
	}



	&-footer {
		display: flex;
		justify-content: center;
		&__link{
			text-align: center;
			transition: .4s;
			&:hover{
				@include link-style;
			}
		}

	}

	@media screen and (max-width: 767px) {
		&__links {
			display: flex;
			justify-content: center;
			.slick-list {
				display: flex;
				width: 100vw !important;

				.slick-track {
					display: flex;
					width: 80vw !important;


					.slick-slide {
						display: inline;
						width: 25% !important;
					}

					.slick-current {


					}
				}
			}
		}
		&-block {

			.slick-list {
				width: 90vw !important;

				.slick-track {
					width: 100% !important;


					.slick-slide {

					}

					.slick-current {


					}
				}
			}
		}
	}
}



