@import "variables";
@import "mixins";
@import "custom";
@import "~bootstrap/scss/bootstrap";
.hero {
	position: relative;
	z-index: -1;
	background-color: #000;
	height: 515px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	@media screen and (max-width: 767px) {
		height: 520px;
		padding-top: 56px;
		padding-bottom: 24px;
	}
	@media (min-width: 768px) and (max-width: 1259px) {
		height: 350px;
		padding-top: 72px;
		padding-bottom: 24px;
	}
	@media (min-width: 1260px) and (max-width: 1919px) {
		height: 515px;
		padding-top: 72px;
		padding-bottom: 32px;
	}

	&:before {
		content: '';
		z-index: 1;
		position: absolute;
		height: $header-height;
		width: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 0.4;

	}

	&-img1 {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		//opacity: 0.8;
		@media screen and (max-width: 767px) {
			left: -127px;
			top: 0;
			transform: scale(0.78);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			left: -136px;
			top: -91px;
			transform: scale(.83);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(1);
			left: 0;
			top: 0;
		}

	}

	&-img2 {
		position: absolute;
		z-index: 0;
		right: 0;
		bottom: 0;
		//opacity: 0.8;

		@media screen and (max-width: 767px) {
			right: -340px;
			bottom: -10px;
			transform: scale(0.78);
		}
		@media (min-width: 768px) and (max-width: 1259px) {
			right: -197px;
			bottom: -69px;
			transform: scale(.83);
		}
		@media (min-width: 1260px) and (max-width: 1919px) {
			transform: scale(1);
			right: 0;
			bottom: 0;
		}
	}

	&__logo {
		text-align: center;
		transform: scale(1);
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		margin-left: -40px;

		&-title {
			z-index: 1;
			text-align: left;
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 500;
			font-size: 34px;
			line-height: 100%;
			color: #fff;
		}
	}

	@media screen and (max-width: 767px) {
		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			transform: scale(0.74);
			padding-bottom: 20px;
		}
		.hero__text {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 0;

			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 100%;

				text-align: center;
			}
		}
		&-img1 {
			//left: 0;
			//transform: scale(0.5)
		}

		.header-duplicate {

			text-align: center;

			&__text {

				@include button;
				@include header-button;

				align-self: center;
				//margin-right: 10px;
				margin-bottom: 15px;
				color: #fff;
				text-decoration: none;
				//background-color: #000;
				border: 1px solid #FFFFFF;
				background-image: linear-gradient(to left, #4F4F4F 50%, #000 50%);
				cursor: pointer;

				//&:hover {
				//	//@include nav-item__hover;
				//	background-position-x: -98%;
				//}
			}

			&__button {
				@include button;
				@include header-button;
				background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
				font-size: 14px;


				&:hover {
					background-position-x: -98%;
				}
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		&__logo {
			margin-left: -5px;
			transform: scale(0.74);
		}
		&__text {
			margin-left: 20px;

			&-title {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 500;
				font-size: 34px;
				line-height: 100%;
				margin-bottom: 0;

			}
		}
	}

	@media (min-width: 1260px) and (max-width: 1919px) {
		&__logo {
			margin-left: -5px;
			transform: scale(1);

		}
	}

	@media (min-width: 768px) {
		.header-duplicate {
			display: none;
		}
	}

}

.video {

	//margin: -92px auto 0 auto;
	margin-bottom: 33px;

	&-content {
		padding-top: 30px;

		&__heading {
			@include title-small();
			//margin-bottom: 16px;
			text-align: center;
			font-family: $Ivar;
			font-style: normal;
			font-weight: bold;
			font-size: 44px;
			line-height: 130%;
			text-transform: none;
			letter-spacing: .1px;
			padding-bottom: 15px;
		}

		&__body {
			text-align: center;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 150%;

			&-text {
				padding: 0 110px;
				margin-bottom: 100px;
			}

			&-footer {
				display: none;
			}
		}

		&__quote {
			position: relative;
			display: flex;
			flex-direction: column;

			height: 100%;
			padding: 8px 0;

			&-title {
				margin-bottom: 30px;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				text-transform: uppercase;
			}

			&-text {
				position: relative;
				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 150%;
				color: #0C0C0C;
				//padding-bottom: 17px;

				&:before {
					content: '“';
					position: absolute;
					left: -50px;
					top: 22px;
					font-weight: 500;
					font-size: 96px;
					line-height: 56px;
				}
			}

			&-sign {
				@include small-light-font;
				text-align: left;

			}
		}

		&__img {
			position: relative;
			width: 100%;
			min-width: 493px;
			//margin-left: -45px;
			overflow: hidden;

			&:hover .video-content__img-button {
				background-color: #0470BE;
			}

			&:hover .video-content__img-item {
				transform: scale(1.1);
			}

			&-button {
				position: absolute;
				z-index: 1;
				width: 92px;
				height: 92px;
				background-color: #023F79;
				background-image: url(../images/3.svg);
				background-position: center;
				background-repeat: no-repeat;
				cursor: pointer;
				transition: ease .4s;
			}

			&-item {
				z-index: 1;
				width: 100%;
				min-width: 493px;
				height: 100%;
				transition: .4s;
				cursor: pointer;
			}
		}

		.popup {
			display: none;
			z-index: 5;
			width: 100%;
			height: 2000px;
			background-color: rgba(0, 0, 0, 0.8);
			overflow: hidden;
			position: fixed;
			top: 0;
			left: 0;
			transition: ease .4s;
			//&:hover{
			//	background-color: rgba(0, 0, 0, 0.5);
			//}

			&-content {
				position: relative;
				margin: 40px auto 0 auto;
				width: 70vw;
				height: 40vw;
				//padding: 10px;
				//background-color: #c5c5c5;
				border-radius: 10px;
				//box-shadow: 0 0 10px #000;
				//&:hover{
				//	background-color: rgba(0, 0, 0, 0.8);
				//}
				.video__file {
					border-radius: 10px;
				}
			}

			&-close {
				position: absolute;
				top: 0;
				right: -50px;
				font-size: 3em;
				//height: 10px;
				background-color: transparent;
				color: darkgrey;
				cursor: pointer;
				border: none;
			}
		}
	}

	&-container {
		padding: 92px 0;

	}

	@media screen and (max-width: 767px) {

		&-content {
			//padding-top: 0;

			&__heading {
				margin-bottom: 22px;
				padding-bottom: 0;
				text-align: center;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				color: #0C0C0C;
				text-transform: none;
			}

			&__body {
				padding: 0 10px;
				margin-bottom: 0;
				text-align: center;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;

				&-text {
					padding: 0;
					margin-bottom: 92px;
				}

				&-footer {
					display: block;
					margin-bottom: 25px;
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;

					text-align: center;
					letter-spacing: 1px;
					text-transform: uppercase;

					color: #0C0C0C;

				}
			}

			&__img {
				min-width: 100%;

				&-button {
					position: absolute;
					z-index: 1;
					width: 64px;
					height: 64px;
					background-color: #023F79;
					background-image: url(../images/3.svg);
					background-size: 15px;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: ease .4s;
				}

				&-item {
					z-index: 1;
					width: 100%;
					min-width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;
				}
			}

			&__quote {
				padding-top: 48px;
				margin-left: 0;
				font-family: $Larsseit;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;

				&-title {
					display: none;
				}

				&-text {
					font-weight: 500;
					font-size: 20px;
					line-height: 130%;

					&:before {
						content: '“';
						position: absolute;
						left: -54px;
						top: 19px;
						font-weight: 500;
						font-size: 96px;
						line-height: 56px;
					}
				}


				&-sign {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 14px;
					line-height: 150%;
				}
			}
		}

		&-container {
			padding: 33px 0;
			background-color: #F2F2F2;
		}

		.popup {
			&-content {
				width: 70vw;
				height: 65vw;
			}
		}

	}

	@media (min-width: 768px) and (max-width: 1259px) {
		margin-top: 14px;
		margin-bottom: 50px;
		padding-bottom: 0;

		&-content {
			padding-top: 0;

			&__heading {
				margin-bottom: 16px;
				padding-bottom: 0;
				text-align: center;
				font-family: $Ivar;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 120%;

				color: #0C0C0C;
				text-transform: none;
			}

			&__body {
				padding: 0;
				margin-bottom: 0;
				text-align: center;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;

				&-text {
					padding: 0;
					margin-bottom: 92px;
				}

				&-footer {
					display: block;
					margin-bottom: 24px;
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 22px;

					text-align: center;
					letter-spacing: 1px;
					text-transform: uppercase;

					color: #0C0C0C;

				}
			}

			&__img {
				margin-bottom: 0;
				min-width: 100%;

				&-button {
					position: absolute;
					z-index: 1;
					width: 80px;
					height: 80px;
					background-color: #023F79;
					background-image: url(../images/3.svg);
					background-size: 20px;
					background-position: center;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: ease .4s;
				}

				&-item {
					z-index: 1;
					width: 100%;
					min-width: 100%;
					height: 100%;
					transition: .4s;
					cursor: pointer;
				}
			}

			&__quote {
				padding-top: 57px;
				//margin-left: -8px;

				color: #0C0C0C;

				&-title {
					display: none;
				}

				&-text {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 500;
					font-size: 24px;
					line-height: 150%;

					color: #0C0C0C;

					&:before {
						content: '“';
						position: absolute;
						left: -60px;
						top: 20px;
						font-weight: 500;
						font-size: 96px;
						line-height: 56px;
					}
				}


				&-sign {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 16px;
					line-height: 150%;
				}
			}
		}

		&-container {
			padding: 55px 0;
			background-color: #F2F2F2;
		}
	}

}

.analytic {
	overflow: hidden;
	//padding-top: 70px;

	.slider-container {
		z-index: 1;
		position: relative;
		//width: 100%;

		//max-width: 1366px;
		height: 100%;

		.slick-list {
			z-index: 1;
			overflow: hidden;
			min-height: 500px;
			display: flex;
			align-items: center;

			.slick-track {
				display: flex;
				align-items: center;
				z-index: 1;
				//justify-content: space-between;
				//align-items: center;
				.slick-slide {
					display: flex;
					align-items: center;
					outline: none;
				}

				.slick-current {
					width: 100%;
					//border: 2px solid green;
					overflow: hidden;


				}
			}
		}
	}

	.catalogue {
		height: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 33px;

		&__items {
			margin-bottom: 16px;
		}

		&__item {

		}

		&__title {
			@include title-style;
			font-size: 36px;
			line-height: 120%;
			text-align: left;
			margin-bottom: 14px;
		}

		&__content {
			&-text {
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 150%;
			}
		}

		&__button {
			&-link {
				@include button();
				@include link-style;
				font-weight: 500;
				font-size: 16px;
				margin-bottom: 21px;

				height: 52px;
				min-width: 298px;
				border-radius: 40px;

				line-height: 52px;
			}

		}

	}

	.catalogue-images {
		//width: 100%;
		//height: 100%;
		.catalogue-img {
			width: 100%;
			//height: 100%;
		}

		&__button {
			display: none;

			&-link {
				@include button();
				@include link-style;
				margin-bottom: 21px;

				width: 226px;
				height: 52px;
				line-height: 52px;
			}
		}

	}

	//}

	.slick-dots {
		z-index: 2;
		position: absolute;
		left: 10px;
		top: 205px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		li {
			margin-right: 16px;

			button {
				width: 12px;
				height: 12px;
				border: 2px solid #023F79;
				border-radius: 50px;
				font-size: 0;
				outline: none;
			}
		}

		.slick-active {
			button {
				background: #023F79;
			}

			&:focus {
				border: none;
			}
		}
	}

	@media screen and (max-width: 767px) {
		padding-top: 0;
		.slider-row{
			margin-bottom: 24px;
		}
		.slider-row{
			opacity: 1 !important;
		}
		.catalogue {
			padding-top: 40px;
			&__items {
				margin-bottom: 10px;
			}

			&__item {
			}

			&__title {
				text-align: left;
				font-family: $Ivar;
				font-style: normal;
				font-weight: normal;
				font-size: 32px;
				line-height: 120%;
				color: #000000;
			}

			&__content {
				&-text {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 16px;
					line-height: 150%;

					color: #262626;

				}
			}

			&__button {
				display: none;

				&-link {
					@include button();
					@include link-style;
					margin-bottom: 21px;
					height: 40px;
					width: 328px;
					border-radius: 100px;

					line-height: 40px;
				}

			}

		}

		.catalogue-images {
			margin-bottom: 20px;

			.catalogue-img {


			}

			&__button {
				//display: inline-block;
				display: flex;
				justify-content: center;

				&-link {
					@include button();
					@include link-style;
					margin-bottom: 21px;
					height: 40px;
					width: 328px;
					border-radius: 100px;

					line-height: 40px;
				}
			}

		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		margin-bottom: 28px;
		.slider-row{
			margin-bottom: 35px;
			opacity: 1 !important;
		}
		padding-top: 0;
		.catalogue {
			&__items {
			}

			&__item {
			}

			&__title {
				font-family: $Ivar;
				font-style: normal;
				font-weight: normal;
				font-size: 36px;
				line-height: 120%;

				text-align: left;

				color: #0C0C0C;
			}

			&__content {
				&-text {
					font-family: $Larsseit;
					font-style: normal;
					font-weight: 300;
					font-size: 20px;
					line-height: 150%;

					color: #0C0C0C;

				}
			}

			&__button {
				display: none;

				&-link {
					@include button();
					@include link-style;
					margin-bottom: 21px;
					width: 226px;
					height: 52px;
					line-height: 52px;
				}

			}

		}

		.catalogue-images {
			margin: 0 60px 30px;

			.catalogue-img {
			}

			&__button {
				//display: inline-block;
				display: flex;
				justify-content: center;

				&-link {
					@include button();
					@include link-style;

					margin-bottom: 21px;

					height: 52px;
					width: 280px;
					border-radius: 40px;

					line-height: 52px;
				}
			}

		}
	}
}

.circle {
	overflow: hidden;
	margin-top: 74px;
	margin-bottom: 105px;

	&-title {
		font-family: $Ivar;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		line-height: 120%;
		color: #fff;
		text-align: left;

		padding: 16px 38px;
	}

	&-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		//background-color: #F2F2F2;

		&__img {
			transition: .4s;
			transform: rotate(0.5turn) scale(.8);
			opacity: 0;
			cursor: pointer;

			&:hover {
				opacity: 1;
				transform: rotate(1turn) scale(1);
			}
		}


	}

	.circle-col {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		background-color: #023F79;
		padding-bottom: 50px;
		height: 560px;
		margin-left: 10px;
		margin-right: -10px;
	}

	&-items {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 332px;
		height: 332px;
		margin: 0 auto;
		transition: .5s;
		transform: rotate(0.5turn) scale(.8);
		opacity: 0;
		cursor: pointer;
	}

	&-small {
		display: none;
	}

	.items-active {
		opacity: 1;
		transform: rotate(1turn) scale(1);
	}

	&-constructor {

		&__img {
			position: absolute;
		}

		.circle-top {
			top: 0;
			right: 17px;
			z-index: 3;
		}

		.circle-left {
			left: 0;
			bottom: 0;
			z-index: 2;
		}

		.circle-right {
			right: 0;
			bottom: 0;
		}


		&__lite {
			position: absolute;

			&-path {
				opacity: 0;
				transition: .4s;
			}

			.path-active {
				opacity: 1;
				z-index: 6;
			}

		}

		.circle-lite__top {
			z-index: 6;
			top: 0;
			right: -5px;

		}

		.circle-lite__left {
			z-index: 6;
			left: -86px;
			bottom: 48px;
			transform: rotate(-120deg);
		}

		.circle-lite__right {
			z-index: 6;
			right: -86px;
			bottom: 48px;
			transform: rotate(120deg);
		}

		//LINES

		&__line {
			z-index: 3;
			position: absolute;
			display: flex;
			flex-direction: column;
			color: #fff;
			opacity: 0;
			transition: .4s;
			//&:hover{
			//	opacity: 1;
			//	z-index: 7;
			//}
			//&:hover .circle-lite__path {
			//	opacity: 1;
			//	z-index: 6;
			//}
		}


		.circle-line__load {

			animation: lineActive 1s ease;
			animation-delay: 2000ms;
			animation-iteration-count: 1;
			opacity: .5;
		}

		.circle-line__active {
			opacity: 1;
			z-index: 7;
		}

		.circle-line__top {
			z-index: 7;
			top: 6px;
			left: -86px;

			.circle-title__top {
				margin: -4px 0 4px 0px;
			}
		}

		.circle-line__right {
			left: -86px;
			bottom: 36px;

			.circle-title__right {
				margin: -4px 0 4px 0px;
			}
		}

		.circle-line__left {
			left: -86px;
			top: 117px;

			.circle-title__left {
				margin: -4px 0 4px 0px;
			}
		}
	}

	.constructor-active {
		.circle-constructor__lite {
			&-path {
				opacity: 1;
				z-index: 6;
			}
		}

		.circle-constructor__line {
			opacity: 1;
			z-index: 7;
		}
	}

	[data-line1] {
		animation: lineActive 1s ease;
		animation-delay: 2000ms;
		animation-iteration-count: 1;
	}

	[data-line3] {
		animation: line 1s ease;
		animation-delay: 2500ms;
		animation-iteration-count: 1;
	}

	[data-line2] {
		animation: line 1s ease;
		animation-delay: 3000ms;
		animation-iteration-count: 1;
	}

	.demo-col {
		display: flex;
		background-color: #F2F2F2;
		@media screen and (max-width: 1259px) {
			margin-top: -1px;
			background-color: #023F79;
		}
	}

	.circle-demo {
		height: 100%;
		display: flex;
		flex-direction: column;
		//justify-content: center;
		align-items: center;
		padding-bottom: 50px;
		margin: 0 -15px;


		&__items {
			margin: 135px 45px 0;
			//margin-bottom: 20px;
			//margin-right: -30px;
			//width: 100%;

		}

		&__item {
			padding: 26px 10px 10px 48px;
			width: 100% !important;
			outline: none;
			cursor: pointer;
			background-color: #f2f2f2;

			&:last-child {
				margin-top: -12px;
			}

			.circle-demo__show {
				display: block !important;
			}


			.circle-demo__btn {
				position: relative;
				font-weight: 500;
				font-size: 20px;
				line-height: 130%;
				border: none;
				cursor: pointer;
				background-color: #f2f2f2;

				&:before {
					content: '';
					z-index: 1;
					position: absolute;
					top: 25%;
					left: -28px;
					background: url(../images/plus.svg) no-repeat;
					width: 14px;
					height: 14px;
					cursor: pointer;
				}
			}

		}

		.circle-demo__active {
			padding: 26px 26px 10px 48px;
			background-color: #fff;
			color: #0C0C0C;
			&:last-child{
				margin-top: 20px;
				margin-bottom: -32px;
			}
			.circle-demo__show {
				display: block !important;
			}

			.circle-demo__btn {
				background-color: #fff;
				margin-bottom: 13px;

				&:before {
					content: '';
					z-index: 1;
					position: absolute;
					top: 50%;
					left: -26px;
					background: url(../images/minus.svg) no-repeat;
					width: 14px;
					height: 2px;
					cursor: pointer;
				}
			}
		}

		&__content {
			display: none;
			z-index: 1;
			//position: absolute;
			//min-width: 330px;
			overflow: auto;
			background-color: #fff;

			&__text {
				@include small-light-font;
			}
		}
	}

	@media screen and (max-width: 767px) {
		margin-bottom: 48px;
		&-container {
			background-color: #023F79;
		}
		&-title {
			padding-top: 64px;
			padding-bottom: 0;
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 32px;
			line-height: 120%;

			text-align: center;
		}

		&-items {
			position: relative;
			justify-content: normal;
			align-items: normal;
			width: 279px;
			height: 279px;
			margin: 0 auto;
			transition: .5s;
			transform: rotate(0.5turn) scale(.5);
			opacity: 0;
			cursor: pointer;
		}

		&-constructor {

			&__img {
				position: absolute;
				transform: scale(.5);
			}

			.circle-top {
				top: 22px;
				right: -8px;
				z-index: 3;
			}

			.circle-left {
				left: 8px;
				bottom: -5px;
				z-index: 2;
			}

			.circle-right {
				right: 8px;
				bottom: -5px;
			}


			&__lite {
				position: absolute;

				&-path {
					opacity: 0;
					transition: .4s;
					//transform: scale(.6);
				}

				.path-active {
					opacity: 1;
					z-index: 6;
				}

			}

			.circle-lite__top {
				z-index: 6;
				top: 17px;
				right: -32px;
				transform: scale(.5);
			}

			.circle-lite__left {
				z-index: 6;
				left: -73px;
				bottom: 49px;
				transform: rotate(-120deg) scale(.5);

			}

			.circle-lite__right {
				z-index: 6;
				right: -73px;
				bottom: 49px;
				transform: rotate(120deg) scale(.5);
			}

			//LINES

			&__line {
				z-index: 3;
				position: absolute;
				display: flex;
				flex-direction: column;
				color: #fff;
				opacity: 0;
				transition: .4s;
			}


			.circle-line__load {

				animation: lineActive 1s ease;
				animation-delay: 2000ms;
				animation-iteration-count: 1;
				opacity: .5;
			}

			.circle-line__active {
				opacity: 1;
				z-index: 7;
			}

			.circle-line__top {
				z-index: 7;
				top: 21px;
				left: 45px;

				.circle-title__top {
					text-align: center;
					margin-top: -8px;
				}

				.circle-img__top {
					margin-top: 8px;
					transform: rotate(90deg) scale(.13, 1);

				}
			}

			.circle-line__right {
				left: -30px;
				bottom: 100px;

				.circle-title__right {
					position: absolute;
					top: 12px;
					left: 10px;
					margin: 0;
				}

				.circle-img__right {
					transform: rotate(150deg) scale(.13, 1);
				}
			}

			.circle-line__left {
				left: 22px;
				top: 171px;

				.circle-title__left {
					position: absolute;
					right: 116px;
					top: 7px;
					margin: 0;
				}

				.circle-img__left {
					transform: rotate(30deg) scale(.07, 1);
				}
			}
		}

		.constructor-active {
			.circle-constructor__lite {
				&-path {
					opacity: 1;
					z-index: 6;
				}
			}

			.circle-constructor__line {
				opacity: 1;
				z-index: 7;
			}
		}


		.circle-col {
			height: 357px;
			margin-left: 0;
			padding-bottom: 0;

		}
		.demo-row {
			padding: 0;
		}
		.circle-demo {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-bottom: 20px;
			margin: 0;

			&__items {
				margin: 0;
				//margin-bottom: 20px;
				//margin-right: -30px;
				//width: 100%;
			}

			&__item {
				padding: 18px 10px 7px 36px;

				color: #fff;
				background-color: #023F79;


				.circle-demo__btn {
					background-color: #023F79;

					&:before {
						content: '';
						z-index: 1;
						position: absolute;
						top: 25%;
						left: -26px;
						background: url(../images/plus-white.svg) no-repeat;
						width: 14px;
						height: 14px;
						cursor: pointer;
					}
				}

			}

			.circle-demo__active {
				padding: 18px 13px 7px 35px;
				&:last-child{

					margin-bottom: 0;
				}
			}

			&__btn {
				margin-bottom: 10px;
			}
		}

		.demo-col {
			display: flex;
			/* background-color: #F2F2F2; */

		}
		&-demo {
			width: 100%;
		}
	}

	@media (min-width: 768px) and (max-width: 1259px) {
		.circle-container{
			background-color: #023F79;
		}
		margin-bottom: 80px;
		margin-top: 0;
		.circle-col {
			margin-left: 0;
		}
		.demo-col {
			display: flex;
		}
		&-title {
			padding: 43px 60px 25px;

		}
		&-constructor {
			.circle-line__top {
				z-index: 7;
				top: 19px;
				left: -107px;

				.circle-title__top {
					margin: -8px 0 8px -16px;
				}

				.circle-img__top {
					transform: scale(1.2, 1);
				}
			}

			.circle-line__left {
				left: -107px;
				top: 117px;

				.circle-title__left {
					margin: -8px 0 8px -16px;
				}

				.circle-img__left {
					transform: scale(1.1, 1);
				}
			}

			.circle-line__right {
				left: -107px;
				bottom: 36px;

				.circle-title__right {
					margin: -8px 0 8px -16px;
				}

				.circle-img__right {
					transform: scale(1.2, 1);
				}
			}


		}
		.circle-demo {
			height: 100%;
			display: flex;
			flex-direction: column;
			//justify-content: center;
			align-items: center;
			padding-bottom: 50px;
			margin: 0 -15px;


			&__items {
				margin: 0 -5px;
			}

			&__item {
				padding: 23px 48px 10px;
				width: 100% !important;
				outline: none;
				cursor: pointer;
				color: #fff;
				background-color: #023F79;

				.circle-demo__show {
					display: block !important;
				}


				.circle-demo__btn {
					position: relative;
					font-weight: 500;
					font-size: 20px;
					line-height: 130%;
					border: none;
					cursor: pointer;
					background-color: #023F79;

					&:before {
						content: '';
						z-index: 1;
						position: absolute;
						top: 25%;
						left: -28px;
						background: url(../images/plus-white.svg) no-repeat;
						width: 14px;
						height: 14px;
						cursor: pointer;
					}
				}

			}

			.circle-demo__active {
				padding: 23px 26px 10px 48px;
				background-color: #fff;
				color: #0C0C0C;
				//background-color: #f2f2f2;
				//padding: 10px 40px;
				//width: 100%;
				//.demo-plus {
				//	background-color: #f2f2f2;
				//
				//	&:before {
				//		content: '';
				//		z-index: 1;
				//		position: absolute;
				//		top: 50%;
				//		left: -20px;
				//		background: url("/../images/minus.svg") no-repeat;
				//		//transform: rotate(90deg);
				//		width: 14px;
				//		height: 2px;
				//		cursor: pointer;
				//	}
				//}
				&:last-child{
					margin-top: 20px;
					margin-bottom: -32px;
				}
				.circle-demo__show {
					display: block !important;

				}

				.circle-demo__btn {
					background-color: #fff;
					margin-bottom: 13px;

					&:before {
						content: '';
						z-index: 1;
						position: absolute;
						top: 50%;
						left: -28px;
						background: url(../images/minus.svg) no-repeat;
						width: 14px;
						height: 2px;
						cursor: pointer;
					}
				}


			}

			&__content {
				display: none;
				z-index: 1;
				//position: absolute;
				//min-width: 330px;
				overflow: auto;
				background-color: #fff;

				&__text {
					@include small-light-font;
				}


			}


		}
	}
}

.landscapes {
	background-color: #f2f2f2;
	margin-bottom: 90px;
	overflow: hidden;

	&-block {
		position: relative;
		display: flex;
		flex-direction: column;
		//align-items: center;
		//justify-content: center;
		width: 100%;
		height: 100%;
		padding: 142px 0;
		//width: 50%;
		//
		&__title {
			font-family: $Ivar;
			font-style: normal;
			font-weight: normal;
			font-size: 36px;
			line-height: 120%;

			color: #0C0C0C;
			text-align: left;
		}

		&__info {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100%;
			//width: 600px;

		}
	}

	&-footer {
		//text-align: center;

		&__desc {
			font-family: $Larsseit;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 72px;
		}

		&__button {
			@include button();
			@include link-style;
			@include header-text;
			background-image: linear-gradient(to left, #084077 50%, #0470BE 50%);
			border-radius: 30px;
			line-height: 52px;
			text-align: center;
			min-width: 293px;
			height: 52px;
			color: #fff;
			text-decoration: none;
			list-style: none;
			cursor: pointer;
		}
	}

	.cells {
		//width: 100%;
		//height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: -86px 0;
		overflow: hidden;

		.cell {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			//dflex: 0 0 33.333333%;

			width: 155px;
			height: 140px;

			margin: 15px;
			margin-left: 0;
			margin-right: 0;

			.polygon {
				z-index: -1;
				position: absolute;

				box-shadow: 0 0 8px 1px rgba(0, 0, 0, .23);
				display: flex;


			}

			.land {
				position: absolute;
			}

			&:nth-child(2) {
				margin-top: 100px;
			}

			&:nth-child(3n+2) {
				margin-left: -10px;
				margin-right: -10px;
			}

			&:nth-child(3n+4) {
				margin-top: -70px;
			}

			&:nth-child(3n+6) {
				margin-top: -70px;
			}
		}


	}

	@media screen and (max-width: 767px) {
		margin-bottom: 80px;
		&-block {
			text-align: center;
			padding: 33px 0 0 0;

			&__title {
				text-align: center;
				padding: 15px 0 22px;
				margin-bottom: 0;
				font-style: normal;
				font-weight: normal;
				font-size: 32px;
				line-height: 120%;
			}

			&__info {


			}
		}
		&-footer {
			&__desc {
				margin-bottom: 33px;
				font-family: $Larsseit;
				font-style: normal;
				font-weight: 300;
				font-size: 16px;
				line-height: 150%;
				text-align: center;

				color: #0C0C0C;
			}

			&__button {
				height: 40px;
				line-height: 40px;
				min-width: 327px;
				border-radius: 100px;


			}
		}
		.cells-container {
			display: flex;
		}
		.cells {
			//height: 100vh;
			min-width: 400px;
			min-height: 400px;
			margin: -20px 230px 0 -55px;
			//margin-left: -10px;
			//margin-right: -10px;
			//margin-top: 13px;
			//margin-bottom: -67px;
			transform: rotate(90deg);
			overflow: visible;

			.cell {
				position: relative;
				display: flex;

				align-items: center;
				justify-content: center;
				margin-top: 0;
				//border: 1px solid red;
				width: 120px;
				height: 105px;

				.hex {
					position: absolute;
					//width: 50px;
					left: 0;
					//margin-left: -25%;
					//height: 50px;
					top: 0;
					//margin-top: -25%;

				}

				.polygon {
					transform: scale(.75);
					//position: absolute;
					////width: 50px;
					//left: 50%;
					////margin-left: -25%;
					////height: 50px;
					//top: 50%;
					////margin-top: -25%;
					//border: 1px solid green;
				}

				.land {
					transform: scale(.75) rotate(-90deg);

					//position: absolute;
					//width: 50px;
					//left: 50%;
					//margin-left: -25%;
					//height: 50px;
					//top: 50%;
					//margin-top: -25%;

				}

				&:nth-child(1) {
					margin-top: -70px;
				}

				&:nth-child(2) {
					margin-top: 70px;
				}

				&:nth-child(3) {
					margin-top: -70px;
				}

				&:nth-child(3n+2) {
					margin-top: 0;
					margin-left: -10px;
					margin-right: -10px;
				}

				&:nth-child(3n+4) {
					margin-top: -70px;
				}

				&:nth-child(3n+6) {
					margin-top: -70px;
				}
			}
		}


	}
	@media (min-width: 768px) and (max-width: 1259px) {
		height: 480px;
		margin-bottom: 95px;
		&-block {
			padding: 0;

			&__title {

				padding-top: 100px;
				margin-bottom: 10px;
			}

			&__info {


			}
		}
		&-footer {
			&__desc {
				margin-bottom: 50px;
				font-style: normal;
				font-weight: 300;
				font-size: 18px;
				line-height: 26px;
			}
		}
		.cells {
			//height: 100vh;
			min-width: 400px;
			margin-top: 35px;
			margin-bottom: 0;
			overflow: visible;

			.cell {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 0;
				//border: 1px solid red;
				width: 120px;
				height: 105px;

				.hex {
					position: absolute;
					//width: 50px;
					left: 0;
					//margin-left: -25%;
					//height: 50px;
					top: 0;
					//margin-top: -25%;

				}

				.polygon {
					transform: scale(.75);
					//position: absolute;
					////width: 50px;
					//left: 50%;
					////margin-left: -25%;
					////height: 50px;
					//top: 50%;
					////margin-top: -25%;
					//border: 1px solid green;
				}

				.land {
					transform: scale(.75);
					//position: absolute;
					//width: 50px;
					//left: 50%;
					//margin-left: -25%;
					//height: 50px;
					//top: 50%;
					//margin-top: -25%;

				}

				&:nth-child(1) {
					margin-top: -70px;
				}

				&:nth-child(2) {
					margin-top: 70px;
				}

				&:nth-child(3) {
					margin-top: -70px;
				}

				&:nth-child(3n+2) {
					margin-top: 0;
					margin-left: -10px;
					margin-right: -10px;
				}

				&:nth-child(3n+4) {
					margin-top: -70px;
				}

				&:nth-child(3n+6) {
					margin-top: -70px;
				}
			}
		}

	}
}




